.clearfix:after, .header-content-wrap:after, .nav-main-content-wrap:after, .footer-top:after, .footer-bottom:after {
  content: " ";
  display: table;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'helvetica_neuebold';
  src: url('../fonts/helveticaneuebold-webfont-webfont.eot');
  src: url('../fonts/helveticaneuebold-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneuebold-webfont-webfont.woff') format("woff"), url('../fonts/helveticaneuebold-webfont-webfont.ttf') format("truetype"), url('../fonts/helveticaneuebold-webfont-webfont.svg#helvetica_neuebold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueregular';
  src: url('../fonts/helveticaneue-webfont-webfont.eot');
  src: url('../fonts/helveticaneue-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-webfont-webfont.woff') format("woff"), url('../fonts/helveticaneue-webfont-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-webfont-webfont.svg#helvetica_neueregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neuelight';
  src: url('../fonts/helveticaneue-light-webfont-webfont.eot');
  src: url('../fonts/helveticaneue-light-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-light-webfont-webfont.woff') format("woff"), url('../fonts/helveticaneue-light-webfont-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-light-webfont-webfont.svg#helvetica_neuelight') format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font: normal 14px/1.3 "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #646464;
}
a:hover,
a:visited:hover {
  color: #ef8200;
}

html, body {
  min-height: 100%;
}

.main-wrapper {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
.tablet .main-wrapper {
  width: auto;
}

#page {
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header-main {
  width: 100%;
  position: relative;
  background: url("../images/bg-header.png") repeat;
  height: 99px;
}
.tablet .header-main {
  height: 88px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
@media (max-width: 1025px) {
  .header-main {
    height: 88px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  }
}
@media (max-width: 640px) {
  .header-main {
    height: 44px;
  }
}
.header-main:after {
  content: url("../images/bg-header-pattern.png");
  position: absolute;
  top: -96px;
  right: 0;
}
.tablet .header-main:after {
  display: none;
}
@media (max-width: 1025px) {
  .header-main:after {
    display: none;
  }
}

.header-content-wrap {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  text-align: center;
}
.tablet .header-content-wrap {
  width: auto;
}

.header-logo {
  float: left;
  width: 147px;
  height: 99px;
  line-height: 99px;
}
.tablet .header-logo {
  float: none;
  width: auto;
  text-align: center;
  position: relative;
  display: block;
  height: 88px;
  line-height: 79.2px;
}
.tablet .header-logo img {
  display: none;
}
.tablet .header-logo:after {
  content: '';
  background-image: url('../images/logo-tablet.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 237px;
  height: 47px;
  text-indent: 237px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  height: 95%;
}
@media (max-width: 1025px) {
  .header-logo {
    float: none;
    width: auto;
    text-align: center;
    position: relative;
    display: block;
    height: 88px;
    line-height: 79.2px;
  }
  .header-logo img {
    display: none;
  }
  .header-logo:after {
    content: '';
    background-image: url('../images/logo-tablet.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 237px;
    height: 47px;
    text-indent: 237px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    height: 95%;
  }
}
@media (max-width: 640px) {
  .header-logo {
    height: 44px;
    line-height: 39.6px;
  }
  .header-logo img {
    display: none;
  }
  .header-logo:after {
    content: '';
    background-image: url('../images/logo-mobile.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 119px;
    height: 24px;
    text-indent: 119px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    height: 95%;
  }
}

.header-buttons {
  z-index: 2;
  float: right;
  position: relative;
  top: 12px;
}
.header-buttons a,
.header-buttons a:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: "helvetica_neueregular", Helvetica, Arial, "Lucida Grande", sans-serif;
  vertical-align: middle;
  color: white;
  margin-left: 5px;
}
.header-buttons a.contact {
  color: #aab300;
  background-color: white;
  padding: 5px 10px;
}
.tablet .header-buttons {
  display: none;
}
@media (max-width: 1025px) {
  .header-buttons {
    display: none;
  }
}

/* Mobile classes only, hidden in Desktop */
.mobile-menu-icon {
  display: none;
}
.tablet .mobile-menu-icon {
  display: inline-block;
  width: 39px;
  height: 39px;
  background: url('../images/menu-icon-tablet.png') no-repeat center;
  position: absolute;
  padding: 25px 30px;
  top: 0;
  left: 0;
  z-index: 9;
}
@media (max-width: 1025px) {
  .mobile-menu-icon {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url('../images/menu-icon-tablet.png') no-repeat center;
    position: absolute;
    padding: 25px 30px;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
@media (max-width: 640px) {
  .mobile-menu-icon {
    width: 20px;
    height: 20px;
    background: url('../images/menu-icon-mobile.png') no-repeat center;
    padding: 12px 3%;
  }
}

.mobile-lang-icon {
  display: none;
}
.tablet .mobile-lang-icon {
  display: inline-block;
  background-image: url('../images/icn-lang.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 43px;
  height: 41px;
  text-indent: 43px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  padding: 25px 30px;
  top: 0;
  left: 90px;
  z-index: 9;
}
@media (max-width: 1025px) {
  .mobile-lang-icon {
    display: inline-block;
    background-image: url('../images/icn-lang.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 43px;
    height: 41px;
    text-indent: 43px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    padding: 25px 30px;
    top: 0;
    left: 90px;
    z-index: 9;
  }
}
@media (max-width: 640px) {
  .mobile-lang-icon {
    width: 22px;
    height: 22px;
    background: url('../images/icn-lang-mobile.png') no-repeat center;
    left: 45px;
    padding: 12px 3%;
  }
}

.mobile-search-icon {
  display: none;
}
.tablet .mobile-search-icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url('../images/search-tablet.png') no-repeat center;
  padding: 25px 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
@media (max-width: 1025px) {
  .mobile-search-icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url('../images/search-tablet.png') no-repeat center;
    padding: 25px 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }
}
@media (max-width: 640px) {
  .mobile-search-icon {
    width: 19px;
    height: 19px;
    background: url('../images/search-mobile.png') no-repeat center;
    padding: 12px 3%;
  }
}

/* Navigation Styles */
.nav-main-container {
  width: 100%;
  background: white;
}
.tablet .nav-main-container {
  z-index: 9;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1025px) {
  .nav-main-container {
    z-index: 9;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}

.nav-main-content-wrap {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
}
.tablet .nav-main-content-wrap {
  width: auto;
}
.nav-main-content-wrap .nav-main {
  margin: 0;
  padding: 0;
}
.tablet .nav-main-content-wrap .nav-main {
  display: none;
}
@media (max-width: 1025px) {
  .nav-main-content-wrap .nav-main {
    display: none;
  }
}

.nav-main > li {
  float: left;
  margin-right: 40px;
  font-size: 14px;
}
.nav-main > li > a {
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-main > li > a:hover, .nav-main > li > a.active {
  color: #ef8200;
  border-bottom: 4px solid #ef8200;
}
.nav-main > li a {
  color: #686868;
  display: block;
}

.nav-main-dd {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: #ecf0f1;
  z-index: 11;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
li.hovered > .nav-main-dd {
  max-height: 1000px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
html.lte-ie8 li > .nav-main-dd {
  max-height: 0 !important;
}
html.lte-ie8 li:hover > .nav-main-dd {
  max-height: 1000px !important;
}
.nav-main-dd .nav-main-dd-container {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px 0;
}
.tablet .nav-main-dd .nav-main-dd-container {
  width: auto;
}
.nav-main-dd .dd-link-col {
  width: 130px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: table-cell;
  vertical-align: top;
  padding: 0 15px 0 20px;
  border-right: 1px solid #fff;
  border-left: 1px solid #dee2e3;
}
.nav-main-dd .dd-link-col:first-child {
  padding-left: 0;
  border-left: none;
}
.nav-main-dd .dd-link-col:last-child {
  padding-right: 0;
  border-right: none;
}
.nav-main-dd ul {
  padding-bottom: 20px;
}
.nav-main-dd .dd-links:last-child ul {
  padding-bottom: 0;
}
.nav-main-dd h3 {
  color: #ef8200;
  margin: 10px 0;
}
.nav-main-dd a {
  padding: 5px 0;
  line-height: 1.4;
}

.nav-main-btn {
  position: relative;
  float: right;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.nav-main-btn .globe-icon {
  float: left;
  display: inline-block;
  background: url("../images/globe.png") center no-repeat;
  width: 22px;
  height: 50px;
  margin-right: 5px;
}
.tablet .nav-main-btn .globe-icon {
  display: none;
}
@media (max-width: 1025px) {
  .nav-main-btn .globe-icon {
    display: none;
  }
}
.nav-main-btn .globe-icon:hover, .nav-main-btn .globe-icon.active {
  background: url("../images/globe-selected.png") center no-repeat;
}
.nav-main-btn .search-input-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.tablet .nav-main-btn .search-input-wrap {
  display: block;
}
@media (max-width: 1025px) {
  .nav-main-btn .search-input-wrap {
    display: block;
  }
}
.nav-main-btn .search-input-wrap .search-icon {
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 17px;
  height: 17px;
  text-indent: 17px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 3%;
}
.tablet .nav-main-btn .search-input-wrap .search-icon {
  background-image: url('../images/search-big.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 38px;
  height: 100%;
  text-indent: 38px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
@media (max-width: 1025px) and (min-width: 641px) {
  .nav-main-btn .search-input-wrap .search-icon {
    background-image: url('../images/search-big.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 38px;
    height: 100%;
    text-indent: 38px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
}
.nav-main-btn .search-input {
  width: 223px;
  height: 32px;
  padding-left: 10px;
  margin: 0;
  padding-right: 20px;
  line-height: 28px;
  border: solid #dfe0e3 1px;
  font-family: "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tablet .nav-main-btn {
  background: #fff;
  width: 100%;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  line-height: initial;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.tablet .nav-main-btn.visible {
  max-height: 99px;
}
.tablet .nav-main-btn .search-input {
  border: none;
  width: 100%;
  background: none;
  font-size: 34px;
  height: auto;
  line-height: 1.5;
  padding: 10px 30px;
}
@media (max-width: 1025px) {
  .nav-main-btn {
    background: #fff;
    width: 100%;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    line-height: initial;
    z-index: 9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav-main-btn.visible {
    max-height: 99px;
  }
  .nav-main-btn .search-input {
    border: none;
    width: 100%;
    background: none;
    font-size: 34px;
    height: auto;
    line-height: 1.5;
    padding: 10px 30px;
  }
}
@media (max-width: 640px) {
  .nav-main-btn .search-input {
    font-size: 17px;
    padding: 10px 3%;
  }
}

.lang-dd-menu {
  font-family: helvetica_neuelight, Helvetica, Arial, 'Lucida Grande', sans-serif;
  position: absolute;
  top: 50px;
  left: -45px;
  width: 110px;
  max-height: 0;
  overflow: hidden;
  background: #ecf0f1;
  font-size: 13px;
  text-align: center;
  z-index: 12;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.lang-dd-menu.active {
  max-height: 208px;
}
.lang-dd-menu .lang-dd-menu-header {
  color: #ef8200;
  margin: 0;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  padding-top: 12px;
}
.lang-dd-menu .lang-dd-menu-col {
  padding-bottom: 18px;
}
.lang-dd-menu .lang-dd-menu-item {
  height: 28px;
  line-height: 28px;
}
.lang-dd-menu .lang-dd-menu-item a {
  color: #686868;
}
.lang-dd-menu .lang-dd-menu-item a:hover {
  color: #ef8200;
}

/* Mobile Navigation Styles */
html,
body {
  overflow-x: hidden;
}

.tablet #page {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
.tablet #page.side-menu {
  -webkit-transform: translate3d(284px, 0, 0);
  -moz-transform: translate3d(284px, 0, 0);
  -ms-transform: translate3d(284px, 0, 0);
  -o-transform: translate3d(284px, 0, 0);
  transform: translate3d(284px, 0, 0);
}

@media (max-width: 1025px) {
  #page {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
  }
  #page.side-menu {
    -webkit-transform: translate3d(284px, 0, 0);
    -moz-transform: translate3d(284px, 0, 0);
    -ms-transform: translate3d(284px, 0, 0);
    -o-transform: translate3d(284px, 0, 0);
    transform: translate3d(284px, 0, 0);
  }
}
.mobile-nav-container, .left-nav-container {
  background-color: #32393f;
  overflow: hidden;
}
.mobile-nav-container li, .left-nav-container li {
  border-bottom: 1px solid #1f2122;
  border-top: 1px solid #4a4f55;
}
.mobile-nav-container .back, .left-nav-container .back {
  border-bottom: 1px solid #1f2122;
}
.mobile-nav-container .with-sub-menu > a:after, .left-nav-container .with-sub-menu > a:after {
  content: "";
  background-image: url('../images/arw-right.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 8px;
  height: 19px;
  text-indent: 8px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  background-position: 0 center;
  float: right;
}
.mobile-nav-container a, .left-nav-container a,
.mobile-nav-container a:visited,
.left-nav-container a:visited,
.mobile-nav-container .back,
.left-nav-container .back {
  color: #d6d6d6;
  font-size: 15px;
  display: block;
  padding: 20px 25px;
  background-color: #32393f;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.mobile-nav-container a:hover, .left-nav-container a:hover, .mobile-nav-container a:active, .left-nav-container a:active, .mobile-nav-container a:focus, .left-nav-container a:focus,
.mobile-nav-container a:visited:hover,
.left-nav-container a:visited:hover,
.mobile-nav-container a:visited:active,
.left-nav-container a:visited:active,
.mobile-nav-container a:visited:focus,
.left-nav-container a:visited:focus,
.mobile-nav-container .back:hover,
.left-nav-container .back:hover,
.mobile-nav-container .back:active,
.left-nav-container .back:active,
.mobile-nav-container .back:focus,
.left-nav-container .back:focus {
  background-color: #2a3137;
  color: #aab300;
}
.mobile-nav-container a:hover:after, .left-nav-container a:hover:after, .mobile-nav-container a:active:after, .left-nav-container a:active:after, .mobile-nav-container a:focus:after, .left-nav-container a:focus:after,
.mobile-nav-container a:visited:hover:after,
.left-nav-container a:visited:hover:after,
.mobile-nav-container a:visited:active:after,
.left-nav-container a:visited:active:after,
.mobile-nav-container a:visited:focus:after,
.left-nav-container a:visited:focus:after,
.mobile-nav-container .back:hover:after,
.left-nav-container .back:hover:after,
.mobile-nav-container .back:active:after,
.left-nav-container .back:active:after,
.mobile-nav-container .back:focus:after,
.left-nav-container .back:focus:after {
  background-position: 100% center;
}
.mobile-nav-container a.active, .left-nav-container a.active,
.mobile-nav-container a:visited.active,
.left-nav-container a:visited.active,
.mobile-nav-container .back.active,
.left-nav-container .back.active {
  color: #aab300;
}
.mobile-nav-container h3, .left-nav-container h3 {
  margin: 0;
  color: #aab300;
}
.mobile-nav-container h3 a, .left-nav-container h3 a,
.mobile-nav-container h3 span,
.left-nav-container h3 span {
  display: block;
  color: inherit !important;
  font-size: inherit;
  padding: 20px 25px;
  margin: 0;
  border-bottom: 1px solid #1f2122;
  border-top: 1px solid #4a4f55;
}
.mobile-nav-container .lang > a, .left-nav-container .lang > a {
  position: relative;
  background-color: #4a4f55;
  color: #222324;
}
.mobile-nav-container .lang > a:after, .left-nav-container .lang > a:after {
  background: url('../images/arw-right-dark.png') no-repeat center;
}
.mobile-nav-container .lang > a:hover, .left-nav-container .lang > a:hover, .mobile-nav-container .lang > a:active, .left-nav-container .lang > a:active, .mobile-nav-container .lang > a:focus, .left-nav-container .lang > a:focus {
  color: #aab300;
}
.mobile-nav-container .lang > a:hover:after, .left-nav-container .lang > a:hover:after, .mobile-nav-container .lang > a:active:after, .left-nav-container .lang > a:active:after, .mobile-nav-container .lang > a:focus:after, .left-nav-container .lang > a:focus:after {
  background: url('../images/arw-right.png') no-repeat 100% center;
}
.mobile-nav-container .lang .chosen-lang, .left-nav-container .lang .chosen-lang {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 50px;
}
.mobile-nav-container .lang ul a.active, .left-nav-container .lang ul a.active {
  background-color: #2a3137;
}
.mobile-nav-container .back:before, .left-nav-container .back:before {
  content: "";
  background-image: url('../images/arw-left.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 8px;
  height: 19px;
  text-indent: 8px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  background-position: 100% center;
  float: left;
  margin-right: 8px;
}
.mobile-nav-container .back:hover:before, .left-nav-container .back:hover:before {
  background-position: 0 center;
}
.mobile-nav-container .nav-dd-menu, .left-nav-container .nav-dd-menu {
  display: none;
}
.mobile-nav-container .nav-dd-menu li, .left-nav-container .nav-dd-menu li {
  border: none;
}
.mobile-nav-container .with-dd-menu > a:after, .left-nav-container .with-dd-menu > a:after {
  content: "";
  background-image: url('../images/arw-down.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 19px;
  height: 8px;
  text-indent: 19px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  background-position: center 0;
  float: right;
  margin-top: 7px;
}
.mobile-nav-container .with-dd-menu > a:hover:after, .left-nav-container .with-dd-menu > a:hover:after, .mobile-nav-container .with-dd-menu > a.active:after, .left-nav-container .with-dd-menu > a.active:after {
  background-position: center 100%;
}

.mobile-nav-container {
  display: none;
  position: absolute;
  top: 0;
  left: -284px;
  width: 100%;
  max-width: 284px;
  min-height: 100%;
  z-index: 99;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.tablet .mobile-nav-container {
  display: block;
}
@media (max-width: 1025px) {
  .mobile-nav-container {
    display: block;
  }
}
.mobile-nav-container.visible {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.mobile-nav-container .sub-menu-wrp {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -o-transition: right 0.2s;
  transition: right 0.2s;
}
.mobile-nav-container .sub-menu-wrp.sub-menu-opened {
  right: -284px;
}
.mobile-nav-container .sub-menu-wrp.sub-menu-opened.mobile-nav-sub-menu {
  right: 0;
}
.mobile-nav-container .mobile-nav-sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  right: 100%;
  top: 0;
}
.mobile-nav-container .mobile-nav-sub-menu.visible, .mobile-nav-container .mobile-nav-sub-menu.sub-menu-opened {
  display: block;
}

@media (min-width: 1026px) {
  .left-nav-container {
    width: 22.91667%;
  }
}

/* Footer Styles */
.footer-main {
  background: url("../images/bg-footer.png") repeat #504e4e;
  padding-top: 40px;
  clear: both;
}
.tablet .footer-main {
  padding: 40px 30px 0;
}
@media (max-width: 1025px) and (min-width: 641px) {
  .footer-main {
    padding: 40px 30px 0;
  }
}
@media (max-width: 640px) {
  .footer-main {
    padding: 30px 3% 0;
  }
}
.footer-main, .footer-main a, .footer-main a:visited {
  color: #e3e3e3;
}
.footer-main a:hover {
  color: #ef8200;
}

.footer-content-wrapper {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
}
.tablet .footer-content-wrapper {
  width: auto;
}

.footer-top {
  font-size: 14px;
  margin-bottom: 36px;
}
.footer-top a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footer-top h3 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}
.footer-top .footer-subscribe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
}
.footer-top .footer-subscribe select {
  width: 210px;
  height: 28px;
  color: #504e4e;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  background: white url("../images/downarrow.png") no-repeat 95% 59%;
  border-radius: 0;
}
.footer-top .footer-subscribe .select-wrap {
  display: inline-block;
  width: 208px;
}
.footer-top .footer-subscribe .chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: white url("../images/downarrow.png") no-repeat 0 58%;
}
.footer-top .footer-subscribe .chosen-container-single .chosen-single span {
  padding-left: 2px;
}
.footer-top .footer-subscribe .chosen-single DIV {
  right: 5px;
  border-left: none;
}
.footer-top .footer-subscribe li.active-result {
  color: black;
}
.footer-top .footer-social {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 33.33333%;
}
.footer-top .footer-social .youtube-logo {
  background: url(../images/youtube.png) no-repeat;
  width: 37px;
  height: 37px;
  display: inline-block;
  transition-duration: .3s;
  position: relative;
}
.footer-top .footer-social .youtube-logo:hover {
  opacity: 0.7;
}
.footer-top .footer-social .twitter-logo {
  background: url(../images/twitter.png) no-repeat;
  width: 37px;
  height: 37px;
  display: inline-block;
  transition-duration: .3s;
  position: relative;
}
.footer-top .footer-social .twitter-logo:hover {
  opacity: 0.7;
}
.footer-top .footer-social .fb-logo {
  background: url(../images/fb.png) no-repeat;
  width: 37px;
  height: 37px;
  display: inline-block;
  transition-duration: .3s;
  position: relative;
}
.footer-top .footer-social .fb-logo:hover {
  opacity: 0.7;
}
.footer-top .footer-social .linkdin-logo {
  background: url(../images/linkdin.png) no-repeat;
  width: 37px;
  height: 37px;
  display: inline-block;
  transition-duration: .3s;
  position: relative;
}
.footer-top .footer-social .linkdin-logo:hover {
  opacity: 0.7;
}
.footer-top .footer-social .gplus-logo {
  background: url(../images/gplus.png) no-repeat;
  width: 37px;
  height: 37px;
  display: inline-block;
  transition-duration: .3s;
  position: relative;
}
.footer-top .footer-social .gplus-logo:hover {
  opacity: 0.7;
}
.footer-top .footer-top-links {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  height: 124px;
}
.footer-top .footer-top-links li {
  width: 43%;
  float: left;
  margin-left: 7%;
}
.footer-top .footer-top-links li:nth-child(even) {
  margin-left: 14%;
}
.footer-top .footer-top-links li:nth-child(odd) {
  margin-left: 0;
}
.footer-top .footer-top-links a {
  display: block;
  border-bottom: solid #dfe0e3 1px;
  line-height: 30px;
}
@media (max-width: 800px) {
  .footer-top h3 {
    margin-bottom: 10px;
  }
  .footer-top .footer-subscribe {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
  }
  .footer-top .footer-top-links {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 50%;
  }
  .footer-top .footer-social {
    clear: left;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-top: -50px;
  }
}
@media (max-width: 640px) {
  .footer-top {
    margin-bottom: 0;
  }
  .footer-top .footer-subscribe,
  .footer-top .footer-top-links,
  .footer-top .footer-social {
    float: none;
    width: auto;
    text-align: center;
    margin: 0 3% 35px;
  }
  .footer-top .footer-subscribe h3,
  .footer-top .footer-top-links h3,
  .footer-top .footer-social h3 {
    font-size: 16px;
  }
  .footer-top .footer-subscribe .chosen-container-single .chosen-single span,
  .footer-top .footer-top-links .chosen-container-single .chosen-single span,
  .footer-top .footer-social .chosen-container-single .chosen-single span {
    padding-left: 17px;
  }
  .footer-top .footer-bottom {
    display: none;
  }
}

.footer-bottom {
  margin-bottom: 40px;
}
.footer-bottom h3 {
  font-size: 14px;
}
.footer-bottom .footer-link-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-right: 10px;
  font-size: 12px;
}
.tablet .footer-bottom {
  display: none;
}
@media (max-width: 1025px) {
  .footer-bottom {
    display: none;
  }
}

.footer-msg {
  font-size: 13px;
  text-align: center;
  border-top: solid #dfe0e3 1px;
  padding: 25px 0;
}
.footer-msg .copyright {
  margin-right: 15px;
}
@media (max-width: 640px) {
  .footer-msg .copyright {
    display: block;
    margin: 0 0 10px;
  }
}
