.clearfix:after, html.lte-ie8 .featured-main:after, .feature:after, html.lte-ie8 .front-main:after, .list-item:after, .form-wrapper .form-field:after, .form-wrapper .form-field-checkbox:after, .form-wrapper .form-field-submit:after, .form-wrapper .form-field-radio:after, .main-tabs-nav:after, .stacktable.small-only .table-cell:after, .featured-events .event-box:after, .upcoming-events .event-list-item:after, .main-media-wrapper .content-list LI:after, .main-media-wrapper .inner-tabs-wrapper:after, .main-media-wrapper .inner-tabs-wrapper .inner-tabs-l2-nav:after, .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container:after, .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container li:after, .main-media-wrapper .awards:after, .career-list .career-box:after {
  content: " ";
  display: table;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'helvetica_neuebold';
  src: url('../fonts/helveticaneuebold-webfont-webfont.eot');
  src: url('../fonts/helveticaneuebold-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneuebold-webfont-webfont.woff') format("woff"), url('../fonts/helveticaneuebold-webfont-webfont.ttf') format("truetype"), url('../fonts/helveticaneuebold-webfont-webfont.svg#helvetica_neuebold') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueregular';
  src: url('../fonts/helveticaneue-webfont-webfont.eot');
  src: url('../fonts/helveticaneue-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-webfont-webfont.woff') format("woff"), url('../fonts/helveticaneue-webfont-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-webfont-webfont.svg#helvetica_neueregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neuelight';
  src: url('../fonts/helveticaneue-light-webfont-webfont.eot');
  src: url('../fonts/helveticaneue-light-webfont-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/helveticaneue-light-webfont-webfont.woff') format("woff"), url('../fonts/helveticaneue-light-webfont-webfont.ttf') format("truetype"), url('../fonts/helveticaneue-light-webfont-webfont.svg#helvetica_neuelight') format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font: normal 14px/1.3 "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #646464;
}
a:hover,
a:visited:hover {
  color: #ef8200;
}

.main-content {
  color: #646464;
}

.main-content-header {
  color: #aab300;
  margin: 10px 0 0;
  line-height: 1;
}

.main-content-sub-header {
  margin: 0 0 15px;
}

.breadcrumbs {
  font-size: 12px;
}

h2.main-content-header {
  text-decoration: underline;
  font-size: 15px;
}
h2 + p {
  margin-top: 5px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
html.lte-ie8 img {
  width: auto;
}

textarea {
  resize: none;
}

.chosen-results {
  clear: both;
}

.slider {
  position: relative;
}
.slider .slide {
  overflow: hidden;
  position: relative;
}
.slider .slide-img-wrp {
  position: relative;
  z-index: -1;
  text-align: center;
}
.slider .slide-img-wrp img {
  display: inline-block;
}
.lte-ie8 .slider .slide-img-wrp {
  display: none;
}
.slider .slide-bg-img-wrp {
  position: absolute;
  height: 100%;
  width: 200%;
  left: -50%;
  overflow: hidden;
  text-align: center;
  z-index: -1;
}
.slider .slide-bg-img-wrp img {
  display: inline-block;
}
.slider .slide-content {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;
}
.lte-ie8 .slider .slide-content {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
.tablet .lte-ie8 .slider .slide-content {
  width: auto;
}
.slider .slide-text {
  width: 60%;
  font-size: 55px;
  color: #616265;
  font-family: "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1;
  margin-bottom: 30px;
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -o-transition: font-size 0.4s;
  transition: font-size 0.4s;
}
.slider .slide-text a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider .slide-text a:hover {
  color: #ef8200;
}
.slider .dark-slide .slide-text {
  color: #fff;
}
.slider .dark-slide .slide-text a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.slider .dark-slide .slide-text a:hover {
  color: #ef8200;
}
.slider .slide-btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #ef8200;
  padding: 10px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffa63d;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider .slide-btn:hover {
  color: #fff;
  background-color: #ffa63d;
}
.slider .slider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9;
  padding: 15px 0;
}
.slider .slider-nav a {
  vertical-align: middle;
}
.slider .slider-prev {
  background-image: url('../images/slider-prev.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  height: 31px;
  text-indent: 18px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 0 15px;
}
.slider .slider-next {
  background-image: url('../images/slider-next.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  height: 31px;
  text-indent: 18px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 0 15px;
}
.slider .slider-nav-item {
  width: 8px;
  height: 8px;
  text-indent: 8px;
  margin: 0 2px;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.slider .slider-nav-item:hover {
  background: rgba(255, 255, 255, 0.6);
}
.slider .slider-nav-item.active {
  background: #fff;
}
@media (min-width: 960px) {
  .slider {
    position: relative;
  }
  .slider .slide {
    height: 339px;
  }
  .slider .slide-img-wrp {
    display: none;
  }
  .slider .slide-content {
    width: 960px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
  }
  .tablet .slider .slide-content {
    width: auto;
  }
  .tablet .slider .slide-content {
    padding: 0 30px;
  }
}
@media (max-width: 1000px) {
  .slider .slide-content {
    padding: 0 3%;
  }
  .slider .slide-text {
    width: 64%;
    font-size: 42px;
  }
  .slider .slide-btn {
    font-size: 16px;
    padding: 8px 24px;
  }
}
@media (max-width: 760px) {
  .slider .slide-text {
    width: 58%;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .slider .slide-btn {
    font-size: 14px;
    padding: 6px 18px;
  }
}
@media (max-width: 640px) {
  .slider .slide-btn,
  .slider .slider-next,
  .slider .slider-prev {
    display: none;
  }
  .slider .slider-nav {
    padding: 10px 0;
  }
  .slider .slide-content {
    position: absolute !important;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black 0;
    background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #000000), color-stop(70%, transparent));
    background-image: -webkit-linear-gradient(left bottom, #000000 0%, transparent 70%);
    background-image: -moz-linear-gradient(left bottom, #000000 0%, transparent 70%);
    background-image: -o-linear-gradient(left bottom, #000000 0%, transparent 70%);
    background-image: linear-gradient(left bottom, #000000 0%, transparent 70%);
    -pie-background: linear-gradient(left bottom, #000000 0%, transparent 70%);
    position: absolute;
  }
  .slider .slide-text {
    color: #fff;
    font-size: 24px;
    margin: 40px 0;
    position: absolute;
    bottom: 0;
  }
  .slider .slide-text a {
    color: #fff;
  }
}
@media (max-width: 400px) {
  .slider .slider-nav {
    padding: 5px 0;
  }
  .slider .slide-text {
    font-size: 16px;
    margin: 30px 0;
  }
}

.fluid-video {
  position: relative;
  height: 0;
  padding-bottom: 45%;
  z-index: 0;
  padding-top: 30px;
  overflow: hidden;
}
.fluid-video iframe,
.fluid-video object,
.fluid-video embed {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Main Body Styles */
.component-header {
  color: #aab300;
}

.main-content > section {
  margin-bottom: 20px;
}

.featured-main {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  padding: 36px 0;
  padding-top: 36px;
  padding-bottom: 21px;
  /*due to white space left by pseudo element :after for justify*/
  border-bottom: solid #c5c7d0 1px;
}
.tablet .featured-main {
  width: auto;
}
@media (min-width: 641px) {
  .flex-yep .featured-main {
    display: flex;
    justify-content: space-between;
  }
  .flex-nope .featured-main {
    text-align: justify;
  }
  .flex-nope .featured-main > * {
    display: inline-block;
  }
  .flex-nope .featured-main:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
  }
}
html.lte-ie8 .featured-main {
  text-align: justify;
}
html.lte-ie8 .featured-main > * {
  display: inline-block;
}
html.lte-ie8 .featured-main:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
}

.feature {
  width: 31.25%;
  min-height: 102px;
  padding: 7px;
  display: inline-block;
  border: solid #dfe0e3 1px;
  vertical-align: top;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feature .feature-img {
  margin: 0;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 43%;
  float: left;
}
.feature .feature-text {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  color: #646464;
}
.feature .feature-header {
  font-size: 19px;
  margin: 0;
}
.feature .feature-details {
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 57%;
  float: left;
}
@media (max-width: 640px) {
  .feature {
    float: none;
    width: auto;
    display: block;
    margin: 0 3% 15px;
  }
  .feature .feature-header,
  .feature .feature-text {
    font-size: 15px;
  }
  .feature .feature-text {
    margin-top: 5px;
  }
}

.tablet .featured-main {
  float: none;
  width: auto;
  padding: 36px 30px 20px;
}
.tablet .feature .feature-img,
.tablet .feature .feature-details {
  float: none;
  width: auto;
}
.tablet .feature .feature-details {
  padding-bottom: 10px;
}
.tablet .feature .feature-header {
  font-size: 19px;
}
.tablet .feature .feature-img {
  padding: 0;
  margin-bottom: 15px;
}
.tablet .feature .feature-img img {
  width: 100%;
}

@media (max-width: 1025px) and (min-width: 641px) {
  .featured-main {
    float: none;
    width: auto;
    padding: 36px 30px 20px;
  }

  .feature .feature-img,
  .feature .feature-details {
    float: none;
    width: auto;
  }
  .feature .feature-details {
    padding-bottom: 10px;
  }
  .feature .feature-header {
    font-size: 19px;
  }
  .feature .feature-img {
    padding: 0;
    margin-bottom: 15px;
  }
  .feature .feature-img img {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-main {
    padding: 30px 0 0;
  }
}
.play-icon {
  position: relative;
  display: block;
}
.play-icon:after {
  content: url('../images/play-icn.png');
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 9;
}

.front-main {
  margin-top: 36px;
  margin-bottom: 21px;
  /*due to white space left by pseudo element :after for justify*/
}
@media (min-width: 641px) {
  .flex-yep .front-main {
    display: flex;
    justify-content: space-between;
  }
  .flex-nope .front-main {
    text-align: justify;
  }
  .flex-nope .front-main > * {
    display: inline-block;
  }
  .flex-nope .front-main:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
  }
}
.tablet .front-main {
  float: none;
  width: auto;
  padding: 0 30px;
}
@media (max-width: 1025px) and (min-width: 641px) {
  .front-main {
    float: none;
    width: auto;
    padding: 0 30px;
  }
}
html.lte-ie8 .front-main {
  text-align: justify;
}
html.lte-ie8 .front-main > * {
  display: inline-block;
}
html.lte-ie8 .front-main:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
}

.main-post {
  width: 31.25%;
  display: inline-block;
  border: solid #dfe0e3 1px;
  color: #646464;
  vertical-align: top;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  .main-post {
    display: block;
    float: none;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .main-post .main-post-header {
    font-size: 20px;
    height: 37px;
    line-height: 37px;
  }
  .main-post .main-post-text {
    font-size: 15px;
  }
  .main-post .main-post-text a {
    color: #646464;
  }
  .main-post .post-time {
    font-size: 12px;
  }
}

.main-post-header {
  text-align: left;
  font-size: 19px;
  line-height: 35px;
  color: white;
  margin: 0;
  border-bottom: solid #dfe0e3 1px;
}
.main-post-header a {
  padding: 0 10px;
  color: #fff;
  display: block;
  background: url(../images/h-carret.png) 94% 50% no-repeat;
}
.main-post-header a:hover {
  color: #fff;
  opacity: .8;
}

.main-post-text {
  margin: 0 10px;
  padding: 10px 0;
  text-align: left;
}

.post-time {
  font-size: 13px;
  margin: 0 10px;
  color: #adadad;
  padding: 10px 0;
}
.post-time:not(:last-child) {
  border-bottom: solid #dfe0e3 1px;
}

.green-bg {
  background-color: #aab300;
}

.orange-bg {
  background-color: #ef8200;
}

.gray-bg {
  background-color: #616265;
}

.green-txt, .gallery .gallery-item-title, .main-media-wrapper .content-list LI .content-header, .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header h3 {
  color: #aab300;
}

.orange-txt {
  color: #ef8200;
}

.gray-txt {
  color: #616265;
}

.lbox-bg {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0.001;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lbox-bg.lbox-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.lbox-wrp {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.lbox-wrp:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lbox-contain {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
  width: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
}
.lbox-active .lbox-contain {
  width: 560px;
}

.lbox-fluid {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0.001;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lbox-active .lbox-fluid {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lbox-fluid iframe {
  border: none;
}

.lbox-close {
  background-image: url('../images/close-btn.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  height: 18px;
  text-indent: 18px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: -25px;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lbox-active .lbox-close {
  opacity: 1;
}

.list-item {
  clear: both;
  border-bottom: 1px solid #dfe0e3;
  padding: 12px 0;
}
.list-item.first {
  border-top: 1px solid #dfe0e3;
}
.list-item .item-img {
  float: left;
}
.list-item .item-content {
  margin-left: 130px;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.list-item .item-title {
  color: #aab300;
  margin: 0;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.list-item a:hover, .list-item a:hover .item-title, #video-gallery .list-item a:hover .item-title span {
  color: #ef8200;
}

#video-gallery .list-item {
  padding: 6px;
  border: 1px solid #dfe0e3;
  margin: 20px 0;
}
#video-gallery .list-item .item-title span {
  font-size: 13px;
  color: #646464;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.form-wrapper {
  border: 1px solid lightgray;
  font-family: "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #686868;
}
.form-wrapper .form-header {
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 19px;
}
.form-wrapper .form-field {
  margin: 30px 15px;
  font-size: 13px;
}
.form-wrapper .form-field LABEL {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 18%;
  float: left;
  height: 28px;
  line-height: 28px;
}
.form-wrapper .form-field INPUT, .form-wrapper .form-field .chosen-wrapper, .form-wrapper .form-field TEXTAREA {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 82%;
  float: left;
}
.form-wrapper .form-field INPUT, .form-wrapper .form-field SELECT {
  height: 30px;
}
.form-wrapper .form-field INPUT, .form-wrapper .form-field TEXTAREA {
  padding-left: 8px;
  border: 1px solid lightgray;
  -webkit-box-shadow: inset 0 1px 5px 0 lightgrey;
  -moz-box-shadow: inset 0 1px 5px 0 lightgrey;
  box-shadow: inset 0 1px 5px 0 lightgrey;
  border-radius: 0;
}
.form-wrapper .form-field select {
  box-shadow: inset 0 1px 5px 0 lightgrey;
  border: 1px solid lightgray;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  background: white url("../images/select-btn.png") no-repeat 100% 50%;
  border-radius: 0;
}
.form-wrapper .form-field .pass-type, .form-wrapper .form-field .pass-confirm {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
}
.form-wrapper .form-field .pass-type LABEL, .form-wrapper .form-field .pass-type INPUT, .form-wrapper .form-field .pass-confirm LABEL, .form-wrapper .form-field .pass-confirm INPUT {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.form-wrapper .form-field .pass-type LABEL, .form-wrapper .form-field .pass-confirm LABEL {
  font-size: 11px;
}
.form-wrapper .form-field .pass-type {
  margin-right: 2%;
}
.form-wrapper .form-field .pass-confirm #passConfMobLable {
  display: none;
}
.form-wrapper .form-field-checkbox {
  padding: 10px;
  margin: 10px;
}
.form-wrapper .form-field-checkbox INPUT {
  vertical-align: middle;
}
.form-wrapper .form-field-checkbox LABEL {
  vertical-align: middle;
}
.form-wrapper .form-field-submit {
  padding: 10px;
  margin: 10px;
  font-family: "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.form-wrapper .form-field-submit .form-btn {
  float: right;
  width: 146px;
  height: 40px;
  font-size: 18px;
  background-color: #aab300;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #c2cc00;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form-wrapper .form-field-submit .form-btn:hover {
  color: #fff;
  background-color: #c2cc00;
}
.form-wrapper .form-field-radio {
  padding: 10px;
  margin: 10px;
}
.form-wrapper .form-field-radio INPUT {
  vertical-align: middle;
  margin-right: 2px;
}
.form-wrapper .form-field-radio LABEL {
  vertical-align: middle;
  margin-right: 20px;
}

.chosen-single {
  height: 28px;
  line-height: 28px;
}
.chosen-single DIV {
  border-left: solid 1px lightgray;
  padding-left: 7px;
}

.chosen-container-active.chosen-with-drop .chosen-single DIV {
  border-left: solid 1px lightgray;
  padding-left: 7px;
}

.chosen-container-single .chosen-single {
  height: 28px;
  line-height: 28px;
}

@media (max-width: 640px) {
  .form-wrapper .form-field {
    margin: 15px 15px;
  }
  .form-wrapper .form-field LABEL, .form-wrapper .form-field INPUT, .form-wrapper .form-field SELECT {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .form-wrapper .form-field .pass-type, .form-wrapper .form-field .pass-confirm {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .form-wrapper .form-field .pass-type LABEL, .form-wrapper .form-field .pass-type INPUT, .form-wrapper .form-field .pass-confirm LABEL, .form-wrapper .form-field .pass-confirm INPUT {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .form-wrapper .form-field .pass-type {
    margin-right: 0;
  }
  .form-wrapper .form-field .pass-type LABEL {
    direction: rtl;
  }
  .form-wrapper .form-field .pass-confirm #passConfLab {
    display: none;
  }
  .form-wrapper .form-field .pass-confirm #passConfMobLable {
    font-size: 13px;
    display: block;
  }
  .form-wrapper .form-field TEXTAREA {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    height: 180px;
  }
  .form-wrapper .form-field .chosen-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .form-wrapper .form-field-radio, .form-wrapper .form-field-checkbox {
    display: none;
  }
  .form-wrapper .form-field-submit .form-btn {
    width: 100%;
  }
}
.gallery .gallery-item {
  display: inline-block;
  width: 33.33333%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: -.3em;
  margin-bottom: 26px;
  padding: 5px;
}
.gallery .gallery-item:nth-child(3n+1) {
  padding-left: 0;
  padding-right: 10px;
}
.gallery .gallery-item:nth-child(3n+3) {
  padding-left: 10px;
  padding-right: 0;
}
.gallery .gallery-img {
  text-align: center;
}
.gallery .gallery-item-title {
  margin: 0;
  padding: 10px 0 8px;
}
.gallery .gallery-item-text {
  margin: 0;
}

@media (max-width: 640px) {
  .gallery .gallery-item {
    float: none;
    width: auto;
    padding: 0;
  }
  .gallery img {
    width: 100%;
  }
}
.main-tabs-header, .main-tab-subheader, .main-tab-subheader-small {
  color: #aab300;
}

.main-tab-subheader {
  margin: 10px 0;
  font-size: 18px;
}

.main-tab-subheader-small {
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: underline;
}

.main-tab-text.last {
  margin-bottom: 20px;
}

.main-tab {
  background-color: lightgray;
  border-right: solid 1px white;
  width: 156px;
  padding: 13px 14px;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.main-tab.last {
  border: none;
}
.main-tab:hover {
  background-color: #e0e0e0;
}
.main-tab.resp-tab-active {
  background-color: #9d9d9d;
}

h2.resp-accordion {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
h2.resp-accordion:hover {
  background-color: #e0e0e0;
}
h2.resp-accordion.active {
  background-color: #9d9d9d;
}
h2.resp-accordion:not(:last-of-type) {
  margin-bottom: 3px;
}

.main-tab-content {
  border: 1px solid lightgray;
  border-top: none;
}
.main-tab-content img {
  width: 100%;
}

table {
  width: 100%;
}
table tr.even {
  background: #f8f8f8;
}
table th {
  background-color: #aab300;
  color: #fff;
  font-weight: normal;
  padding: 15px 5px;
}
table td {
  padding: 15px 5px;
  text-align: center;
}
table.large-only {
  display: table;
}
@media (max-width: 640px) {
  table.large-only {
    display: none;
  }
}

.stacktable.small-only {
  display: none;
}
@media (max-width: 640px) {
  .stacktable.small-only {
    display: block;
  }
}
.stacktable.small-only .table-row {
  border-bottom: 1px solid #dfe0e3;
  padding: 12px 0;
}
.stacktable.small-only .table-row:first-child {
  border-top: 1px solid #dfe0e3;
}
.stacktable.small-only .table-cell {
  padding: 4px 0;
}
.stacktable.small-only .st-key {
  color: #aab300;
  font-weight: bold;
}
.stacktable.small-only .st-key,
.stacktable.small-only .st-val {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.search-results {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding-top: 16px;
}
.search-results .result-cnt {
  font-family: sans-serif;
  float: right;
  font-size: 18px;
  margin-top: 16px;
  color: #646464;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
}
.search-results .main-content-sub-header {
  color: #646464;
}
.search-results .main-content-sub-header a.active {
  color: #aab300;
}
.search-results .main-content-sub-header a:first-of-type {
  margin-left: 10px;
}
.search-results .main-content-header {
  font-size: 32px;
  margin: 16px 0;
}
.search-results .result-title {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 5px;
}
.search-results .result-title a:hover {
  color: #aab300;
}
.search-results .result-desc {
  font-size: 14px;
  margin: 0;
  color: #646464;
}
.search-results .result-list {
  margin-top: 50px;
  padding-right: 14px;
}
.search-results .result-item {
  margin: 40px 0;
}
.search-results .result-item:last-of-type {
  margin-bottom: 18px;
}

.result-nav {
  font-size: 16px;
  margin: 18px 0;
  font-weight: 600;
}

.result-nav-head {
  float: left;
  margin-right: 5px;
  color: #aab300;
}

.pages-ind {
  float: left;
}
.pages-ind li {
  margin: 0 5px;
  float: left;
}
.pages-ind li a.active {
  color: #ef8200;
}

a.next-results {
  padding-right: 20px;
  background: url('../images/next-arw.png') no-repeat 100%;
  margin-left: 5px;
  color: #aab300;
}
a.next-results:hover {
  color: #ef8200;
}
a.next-results span {
  display: none;
}

.tablet .search-results {
  padding-left: 14px;
}
.tablet .search-results .breadcrumbs {
  display: none;
}
.tablet .search-results .main-content-sub-header a {
  font-weight: 100;
}
.tablet .result-nav {
  padding: 0 20px;
}

@media (max-width: 1025px) {
  .search-results {
    padding-left: 14px;
  }
  .search-results .breadcrumbs {
    display: none;
  }
  .search-results .main-content-sub-header a {
    font-weight: 100;
  }

  .result-nav {
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .result-cnt {
    display: none;
  }

  a.next-results span {
    display: inline;
  }

  .result-nav-head, .pages-ind {
    display: none;
  }

  .search-results .main-content-header {
    margin-top: 0;
  }
  .search-results .result-list {
    margin-top: 0;
  }
  .search-results .result-title {
    font-size: 15px;
  }
  .search-results .result-list .result-item {
    margin: 25px 0;
  }
  .search-results .main-content-sub-header {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 0;
  }
  .search-results .main-content-sub-header span {
    display: none;
  }
  .search-results .main-content-sub-header a:first-of-type {
    margin-left: 0;
  }
  .search-results .main-content-header {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .result-nav {
    padding: 0 14px;
  }

  a.next-results {
    margin-left: 0;
  }
}
.event-slider .event-slide-content {
  position: absolute;
  top: 27%;
  left: 5%;
  color: white;
  z-index: 1;
}
.event-slider .event-slide-content h2 {
  line-height: 1;
  margin: 0;
  font-size: 35px;
}
.event-slider .event-slide-content h3 {
  line-height: 1;
  margin: 0;
  font-size: 25px;
}
.event-slider .slide {
  height: auto;
}
.event-slider .slide img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.featured-events {
  text-align: justify;
}
.featured-events > * {
  display: inline-block;
}
.featured-events:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
}
.featured-events .event-box {
  position: relative;
  width: 48%;
  padding: 7px;
  display: inline-block;
  border: solid #dfe0e3 1px;
  vertical-align: top;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.featured-events .event-box .event-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 51%;
  float: left;
  margin-right: 2%;
}
.featured-events .event-box .event-img img {
  width: 100%;
  max-width: 100%;
}
.featured-events .event-box .event-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47%;
  float: left;
  position: relative;
  text-align: left;
}
.featured-events .event-box .event-details h3 {
  margin: 0;
  margin-bottom: 44px;
}
.featured-events .event-box .event-btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  position: absolute;
  bottom: 7px;
  right: 7px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 34px;
  font-size: 18px;
  font-size: 13px;
  color: #fff;
  padding: 10px 10px;
  margin-top: 7px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.featured-events .event-box .event-btn-green {
  background-color: #aab300;
  border: 1px solid #c2cc00;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
}
.featured-events .event-box .event-btn-green:hover {
  color: #fff;
  background-color: #c2cc00;
}
.featured-events .event-box .event-btn-orange {
  background-color: #ef8200;
  border: 1px solid #ff8f09;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ff9b23;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ff9b23;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ff9b23;
}
.featured-events .event-box .event-btn-orange:hover {
  color: #fff;
  background-color: #ff8f09;
}

.upcoming-events .region-title {
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 19px;
}
.upcoming-events .event-list-item {
  position: relative;
  border-bottom: 1px solid lightgray;
}
.upcoming-events .event-title {
  margin-bottom: 5px;
}
.upcoming-events .event-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  float: left;
  margin-top: 0;
}
.upcoming-events .event-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  text-align: right;
  position: absolute;
  margin-bottom: 14px;
  bottom: 0;
  right: 0;
  float: right;
  text-decoration: underline;
  color: #aab300;
}

@media (max-width: 640px) {
  .event-slider .event-slide-content h2, .event-slider .event-slide-content h3 {
    font-size: 16px;
  }

  .featured-events .event-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }

  .upcoming-events .event-description {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  .upcoming-events .event-link {
    width: 100%;
    display: block;
    position: relative;
    text-align: left;
  }
}
.main-media-wrapper .content-list {
  margin-bottom: 32px;
  margin-top: 22px;
}
.main-media-wrapper .content-list LI {
  padding: 10px 0;
  border-bottom: solid 1px lightgray;
}
.main-media-wrapper .content-list LI .content-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 14%;
  float: left;
}
.main-media-wrapper .content-list LI .content-header {
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}
.main-media-wrapper .content-list LI .content-details {
  margin-left: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 84%;
  float: left;
}
.main-media-wrapper .content-list LI .content-details p {
  margin: 0;
}
.main-media-wrapper .content-list LI .content-text {
  margin: 0;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header h3.orange-txt {
  color: #ef8200;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .pages-ind li {
  border: none;
}
.main-media-wrapper .l3-content-item .video-img {
  float: left;
  margin: 2%;
  margin-left: 0;
  width: 114px;
  height: 85px;
}
.main-media-wrapper .l3-content-item .video-img img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.main-media-wrapper .l3-content-item .video-details {
  margin-left: 130px;
}
.main-media-wrapper .l3-content-item .video-details .content-title {
  margin-top: 5px;
}
.main-media-wrapper .l3-content-item .video-details p.content-description {
  float: none;
}
.main-media-wrapper .ebook-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  margin: 2%;
  margin-left: 0;
}
.main-media-wrapper .ebook-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
  float: left;
}
.main-media-wrapper .ebook-details .content-title {
  margin-top: 5px;
}
.main-media-wrapper .ebook-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  height: 109px;
}
.main-media-wrapper .ebook-btn .read-btn {
  display: inline-block;
  width: 100px;
  position: relative;
  font-size: 17px;
  color: #fff;
  background: #ef8200;
  padding: 10px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffa63d;
  margin: 30px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-media-wrapper .ebook-btn .read-btn:hover {
  color: #fff;
  background-color: #ffa63d;
}
.main-media-wrapper .inner-tabs-wrapper {
  margin-top: 20px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l2-nav li {
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  color: white;
  padding-left: 10px;
  border: none;
  width: 32%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/right-arw.png);
  background-repeat: no-repeat;
  background-position: 93% 50%;
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l2-nav li.right-gutter {
  margin-right: 2%;
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l2-nav li.resp-tab-active {
  background-image: url(../images/down-arw.png);
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l3-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 34%;
  float: left;
  margin-top: 40px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l3-nav li {
  font-size: 19px;
  border-bottom: 1px solid lightgray;
  width: 60%;
  margin-bottom: 30px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l3-nav a.active {
  color: #aab300;
}
.main-media-wrapper .inner-tabs-wrapper .inner-tabs-l3-nav a.active.orange-txt {
  color: #ef8200;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container {
  padding-top: 20px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 66%;
  float: left;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container li {
  position: relative;
  border-bottom: solid 1px lightgray;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header {
  padding-bottom: 14px;
  height: 30px;
  line-height: 30px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header h3 {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 51.5%;
  float: left;
  font-size: 19px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .content-title {
  margin-bottom: 5px;
  font-size: 19px;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .content-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  margin-top: 0;
}
.main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .content-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  text-align: right;
  position: absolute;
  margin-bottom: 14px;
  bottom: 0;
  right: 0;
  float: right;
  text-decoration: underline;
  color: #aab300;
}
.main-media-wrapper .key-facts {
  border: solid 1px lightgray;
  text-align: left;
}
.main-media-wrapper .key-facts td {
  text-align: left;
  padding-left: 15px;
}
.main-media-wrapper .key-facts tr:nth-child(2n+1) .key-head {
  background-color: #a5ae00;
}
.main-media-wrapper .key-facts tr:nth-child(2n+1) .key-data {
  background-color: #f7f7f7;
}
.main-media-wrapper .key-facts .key-head {
  color: white;
  background-color: #aab300;
  padding-left: 15px;
  width: 25%;
}
.main-media-wrapper .key-acq .key-head {
  text-align: center;
  width: 16%;
  padding-left: 5px;
}
.main-media-wrapper .extra-bottom-border {
  border-bottom: 1px solid lightgray;
}
.main-media-wrapper .form-wrapper {
  width: 460px;
}
.main-media-wrapper .awards img {
  border: 1px solid lightgray;
}
.main-media-wrapper .awards .award {
  float: left;
  width: 156px;
  text-align: left;
  margin-right: 35px;
}
.main-media-wrapper .awards .award-header {
  font-size: 18px;
  color: #aab300;
}
.main-media-wrapper .awards .award-text {
  font-size: 14px;
}
.main-media-wrapper .main-tab-content, .main-media-wrapper .resp-tab-content {
  border: none;
}
.main-media-wrapper .speaker-box {
  position: relative;
  border: 1px solid lightgray;
  margin-top: 20px;
}
.main-media-wrapper .speaker-box .speaker-header {
  margin-top: 0;
  line-height: 50px;
  color: white;
  background-color: #616265;
  padding-left: 110px;
}
.main-media-wrapper .speaker-box .speaker-text {
  font-size: 14px;
  padding-left: 110px;
}
.main-media-wrapper .speaker-box img {
  width: 82px;
  height: 79px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}
.main-media-wrapper .speaker-box .close-speaker-box {
  background-image: url("../images/x.png");
  display: inline-block;
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 18px;
}
.main-media-wrapper .speaker-list {
  padding-top: 20px;
  text-align: justify;
}
.main-media-wrapper .speaker-list > * {
  display: inline-block;
}
.main-media-wrapper .speaker-list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
}
.main-media-wrapper .speaker-list .speaker-list-item {
  text-align: left;
  cursor: pointer;
  width: 156px;
  display: inline-block;
}
.main-media-wrapper .speaker-list .speaker-list-item .speaker-name {
  margin: 10px 0 0;
  font-size: 18px;
}
.main-media-wrapper .speaker-list .speaker-list-item .speaker-role {
  margin: 0;
  font-size: 14px;
}
.main-media-wrapper .speaker-list .speaker-list-item .speaker-details {
  margin: 10px 0 0;
  font-size: 14px;
  height: 54px;
}
.main-media-wrapper .speaker-list .speaker-list-item a {
  color: #aab300;
  text-decoration: underline;
}
.main-media-wrapper .stacktable.small-only .table-row {
  border: none;
}
.main-media-wrapper .table-row:nth-child(odd) {
  background-color: #f7f7f7;
}
.main-media-wrapper .year-select-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.5%;
  float: left;
}
.main-media-wrapper .year-select-wrapper .year-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 27%;
  float: left;
  background-color: lightgray;
  height: 30px;
  line-height: 30px;
  color: #646464;
  text-align: center;
  font-size: 14px;
}
.main-media-wrapper .year-select-wrapper .year-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 73%;
  float: left;
  height: 30px;
  border-left: none;
  border-color: lightgray;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  background: white url("../images/select-btn.png") no-repeat 100% 50%;
  border-radius: 0;
}
.main-media-wrapper .year-select-wrapper .chosen-container {
  float: left;
}
.main-media-wrapper .main-content-header {
  font-size: 30px;
  padding-bottom: 10px;
}
.main-media-wrapper .main-tab {
  font-size: 17px;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main-media-wrapper .resp-tab-content {
  padding-top: 0;
}
.main-media-wrapper .report-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 14%;
  float: left;
  margin: 3%;
}
.main-media-wrapper .report-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  margin-right: 10%;
}
.main-media-wrapper .report-dn-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  margin: 3% 0%;
}
.main-media-wrapper .report-dn-btn .download-btn {
  display: inline-block;
  width: 120px;
  position: relative;
  font-size: 18px;
  color: #fff;
  background: #aab300;
  padding: 10px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #c2cc00;
  margin: 20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-media-wrapper .report-dn-btn .download-btn:hover {
  color: #fff;
  background-color: #c2cc00;
}
.main-media-wrapper .report-dn-btn .download-btn span {
  font-size: 12px;
}
.main-media-wrapper .report-dn-btn .download-btn .download-icon {
  position: relative;
  top: 1px;
  right: 0;
  padding-left: 20px;
  position: absolute;
  background-image: url('../images/download.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 21px;
  height: 20px;
  text-indent: 21px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  border-left: 1px solid #dae600;
  height: 42px;
}
.main-media-wrapper .report-dn-btn .download-btn .download-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  border-left: 1px solid #c2cc00;
}
.main-media-wrapper span.result-nav-head.orange-txt, .main-media-wrapper a.next-results.orange-txt {
  color: #ef8200;
}
.main-media-wrapper .l3NavSelect {
  display: none;
}
.main-media-wrapper select.wide {
  display: none;
}
@media (max-width: 640px) {
  .main-media-wrapper .mobile-l3-tab {
    display: none;
  }
  .main-media-wrapper .mobile-l3-tab.active {
    display: block;
  }
  .main-media-wrapper .l3NavSelect {
    display: block;
    font-size: 14px;
    border: solid 1px lightgray;
    height: 30px;
    padding-left: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 51.25%;
    float: left;
    color: #aab300;
    border-color: lightgray;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background: white url("../images/select-btn.png") no-repeat 100% 50%;
    border-radius: 0;
  }
  .main-media-wrapper .content-list {
    display: none;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-tabs-l2-nav li {
    width: 100%;
  }
  .main-media-wrapper .awards .award {
    width: 100%;
  }
  .main-media-wrapper .key-head, .main-media-wrapper .key-data {
    display: block;
    float: none;
  }
  .main-media-wrapper .inner-tabs-l3-nav {
    display: none;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container > div {
    width: 100%;
  }
  .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion, .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion.resp-tab-active {
    font-size: 19px;
    height: 24px;
    font-weight: 600;
    color: white;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion:nth-of-type(1), .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion.resp-tab-active:nth-of-type(1) {
    background-color: #aab300;
    margin-top: 9px;
  }
  .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion:nth-of-type(2), .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion.resp-tab-active:nth-of-type(2) {
    background-color: #ef8200;
  }
  .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion:nth-of-type(3), .main-media-wrapper .inner-l2-tabs-container h2.resp-accordion.resp-tab-active:nth-of-type(3) {
    background-color: #616265;
    margin-bottom: 9px;
  }
  .main-media-wrapper .inner-l2-tab3 .speaker-list .speaker-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  .main-media-wrapper .main-tab-content {
    border: solid 1px lightgray;
  }
  .main-media-wrapper .inner-tab-content {
    padding: 15px;
  }
  .main-media-wrapper .speaker-list {
    padding-top: 0;
  }
  .main-media-wrapper .speaker-list-item {
    border: solid 1px lightgray;
  }
  .main-media-wrapper .stacktable.small-only .table-row {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: -15px;
  }
  .main-media-wrapper .l3-content-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: -15px;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header h3 {
    display: none;
    font-size: 14px;
    border: solid 1px lightgray;
    height: 30px;
    padding-left: 8px;
  }
  .main-media-wrapper select.wide {
    width: 100%;
    display: block;
    font-size: 14px;
    border: solid 1px lightgray;
    height: 30px;
    padding-left: 8px;
    color: #ef8200;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background: white url("../images/select-btn.png") no-repeat 100% 50%;
    border-radius: 0;
  }
  .main-media-wrapper .year-select-wrapper .year-select {
    width: 50%;
  }
  .main-media-wrapper .year-select-wrapper .year-label {
    width: 50%;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header {
    padding-bottom: 15px;
    border-bottom: none;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container {
    padding-top: 0;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .content-description {
    float: none;
    width: 100%;
  }
  .main-media-wrapper .inner-tabs-wrapper .inner-l3-tabs-container .content-link {
    float: none;
    width: 100%;
    position: relative;
  }
  .main-media-wrapper h2.resp-accordion, .main-media-wrapper h2.resp-tab-active {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 40px;
  }
  .main-media-wrapper .report-img {
    display: none;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }
  .main-media-wrapper .report-description {
    width: 100%;
  }
  .main-media-wrapper .report-description .content-title {
    margin-top: 5px;
  }
  .main-media-wrapper .report-dn-btn {
    width: 100%;
    height: 45px;
  }
  .main-media-wrapper .report-dn-btn .download-btn {
    margin: 0;
  }
  .main-media-wrapper .ebook-btn {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
  }
  .main-media-wrapper .ebook-btn .read-btn {
    margin: 0;
  }
  .main-media-wrapper .ebook-details {
    width: 100%;
  }
  .main-media-wrapper .ebook-img {
    width: 100%;
  }
  .main-media-wrapper .speaker-box img {
    width: 100%;
    height: auto;
    position: static;
    margin: 0;
  }
  .main-media-wrapper .speaker-box .speaker-header {
    line-height: 32px;
    padding: 20px;
  }
  .main-media-wrapper .speaker-box .speaker-text {
    padding: 20px;
  }
  .main-media-wrapper .form-wrapper {
    width: auto;
  }
}

.career-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
  float: left;
}
.career-list li {
  margin-bottom: 20px;
}
.career-list .career-box {
  padding: 7px;
  border: solid #dfe0e3 1px;
  vertical-align: top;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.career-list .career-box a.btn {
  color: white;
  text-align: center;
  line-height: 32px;
  position: absolute;
  width: 45%;
  bottom: 7px;
  right: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.career-list .career-box a.btn.green {
  background-color: #aab300;
  border: 1px solid #c2cc00;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #dae600;
}
.career-list .career-box a.btn.green:hover {
  color: #fff;
  background-color: #c2cc00;
}
.career-list .career-box a.btn.orange {
  background-color: #ef8200;
  border: 1px solid #ff8f09;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ff9b23;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ff9b23;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ff9b23;
}
.career-list .career-box a.btn.orange:hover {
  color: #fff;
  background-color: #ff8f09;
}
.career-list .career-box a.btn.gray {
  background-color: #616265;
  border: 1px solid #6d6f72;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #7a7b7f;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #7a7b7f;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #7a7b7f;
}
.career-list .career-box a.btn.gray:hover {
  color: #fff;
  background-color: #6d6f72;
}
.career-list .career-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  float: left;
  position: relative;
  text-align: left;
  height: 100%;
}
.career-list .career-details h3 {
  padding-bottom: 34px;
  margin: 0;
}
.career-list .career-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 51%;
  float: left;
  margin-right: 4%;
}
.career-list .career-img img {
  width: 100%;
  max-width: 100%;
}

.keyword-search {
  position: absolute;
  top: 30px;
  right: 0;
  margin-top: 3px;
  float: right;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
}

.career-slider .light {
  font-weight: 100;
}

.main-careers-wrapper > h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 5px;
}
.main-careers-wrapper .form-wrapper {
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 49%;
  float: left;
}
.main-careers-wrapper .form-wrapper LABEL {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}
.main-careers-wrapper .form-wrapper INPUT, .main-careers-wrapper .form-wrapper .chosen-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
}
.main-careers-wrapper .form-wrapper .form-field {
  font-size: 12px;
  position: relative;
}
.main-careers-wrapper .form-wrapper .form-field-submit {
  margin-top: 31%;
}

@media (max-width: 640px) {
  .career-list {
    width: 100%;
  }

  .main-careers-wrapper .form-wrapper {
    margin-left: 0;
    width: 100%;
  }
  .main-careers-wrapper .form-wrapper .form-field {
    margin: 30px 15px;
  }
  .main-careers-wrapper .form-wrapper .form-field-submit {
    margin-top: 10%;
  }

  .career-slider {
    display: none;
  }
}
@media (min-width: 1026px) {
  .inner-main {
    display: table;
    table-layout: fixed;
    position: relative;
  }
  .inner-main > aside,
  .inner-main > section {
    display: table-cell;
    vertical-align: top;
  }

  .left-nav-container {
    width: 22.91667%;
  }

  .main-content {
    width: 53.85417%;
    border-top: 1px solid #dfe0e3;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .right-nav-container {
    border-top: 1px solid #dfe0e3;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 23.22917%;
  }

  .main-content.no-right-bar {
    width: 77.08333%;
    padding-right: 0;
    padding-left: 3%;
    color: #646464;
  }
}
.lte-ie8 .inner-main {
  display: table;
  table-layout: fixed;
  position: relative;
}
.lte-ie8 .inner-main > aside,
.lte-ie8 .inner-main > section {
  display: table-cell;
  vertical-align: top;
}
.lte-ie8 .left-nav-container {
  width: 22.91667%;
}
.lte-ie8 .main-content {
  width: 53.85417%;
  border-top: 1px solid #dfe0e3;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lte-ie8 .right-nav-container {
  border-top: 1px solid #dfe0e3;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 23.22917%;
}
.lte-ie8 .main-content.no-right-bar {
  width: 77.08333%;
  padding-right: 0;
  padding-left: 3%;
  color: #646464;
}
.lte-ie8 .left-nav-container {
  width: 220px;
}
.lte-ie8 .main-content {
  width: 517px;
  padding-right: 25px;
  padding-left: 25px;
}
.lte-ie8 .right-nav-container {
  width: 223px;
}

.tablet .left-nav-container {
  display: none;
}
.tablet .main-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tablet .right-nav-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 3%;
}
.tablet .main-content.no-right-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-right: 3%;
  padding-left: 3%;
  color: #646464;
}

@media (max-width: 1025px) {
  .left-nav-container {
    display: none;
  }

  .main-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .right-nav-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 3%;
  }

  .main-content.no-right-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-right: 3%;
    padding-left: 3%;
    color: #646464;
  }
}
@media (max-width: 640px) {
  .main-content {
    float: none;
    width: auto;
  }

  .right-nav-container {
    float: none;
    width: auto;
    padding-right: 3%;
    padding-left: 3%;
  }
  .right-nav-container .feature-img img {
    width: 100%;
  }
}
.main-content {
  padding-right: 3%;
  padding-left: 3%;
  color: #646464;
}

.right-nav-container .feature-img {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.right-nav-container .feature-label {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #333;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 5px 7px;
  font-size: 13px;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.share-btns {
  position: absolute;
  right: 0;
  top: 18px;
  text-align: right;
  font-size: 1px;
  z-index: 5;
}
.tablet .share-btns {
  right: 3%;
}
@media (max-width: 1025px) {
  .share-btns {
    right: 3%;
  }
}
.share-btns .share-btn {
  border-left: 1px solid #eeeff1;
  padding-left: 15px;
  min-height: 17px;
}
.share-btns .share-btn.share {
  background-image: url('../images/icn-share.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 13px;
  height: 15px;
  text-indent: 13px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.share-btns .share-btn.mail {
  background-image: url('../images/icn-mail.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 19px;
  height: 13px;
  text-indent: 19px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.share-btns .share-btn.print {
  background-image: url('../images/icn-print.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 17px;
  height: 17px;
  text-indent: 17px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.share-btns .share-btn:first-child {
  border: none;
}

.tab-box {
  margin: 5px 0 20px;
}
.tab-box .tabs {
  margin-bottom: -1px;
  position: relative;
  z-index: 2;
}
.tab-box .tab {
  display: inline-block;
  border: 1px solid #dfe0e3;
  border-bottom: none;
  background: #fff;
  color: #aab300;
  padding: 3px 10px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.tab-box .tab-content {
  padding: 5px 10px;
  border: 1px solid #dfe0e3;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  position: relative;
}
.tab-box .tab-content a {
  display: block;
  padding: 5px 0 5px 23px;
  color: #646464;
  background: url('../images/icn-link.png') no-repeat 0 0.5em;
}
.tab-box .tab-content a.doc {
  background-image: url('../images/icn-doc.png');
}
.tab-box .quote {
  margin: 0;
  font-style: italic;
  color: #646464;
}
.tab-box .quote span {
  font-size: 20px;
  font-style: normal;
  font-family: "helvetica_neueregular", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 0;
}
.tab-box .quote-id {
  margin: 5px 0;
  color: #646464;
}
.tab-box.quote-box {
  position: relative;
  margin-bottom: 30px;
}
.tab-box.quote-box .tab-content:after {
  content: url('../images/quote-arw.png');
  width: 54px;
  height: 20px;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  right: 8px;
  z-index: 3;
}

.right-nav-container .contact-btn {
  display: block;
  position: relative;
  font-size: 18px;
  color: #fff;
  background: #ef8200;
  padding: 10px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffa63d;
  margin: 20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 #ffc989;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.right-nav-container .contact-btn:hover {
  color: #fff;
  background-color: #ffa63d;
}
.right-nav-container .contact-btn .env {
  position: relative;
  top: 1px;
  right: 0;
  padding-left: 20px;
  position: absolute;
  background-image: url('../images/contact.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 20px;
  height: 14px;
  text-indent: 20px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  border-left: 1px solid #ffc989;
  height: 42px;
}
.right-nav-container .contact-btn .env:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  border-left: 1px solid #ffa63d;
}
.right-nav-container .client-box {
  margin-bottom: 20px;
}
.right-nav-container .client-box .client-box-head {
  margin: 0;
  color: #fff;
  padding: 10px;
  font-size: 19px;
}
.right-nav-container .client-box .client {
  position: relative;
  top: -1px;
  border: 1px solid lightgray;
  border-bottom: none;
  line-height: 110px;
  display: block;
  text-align: center;
  height: 111px;
}
.right-nav-container .client-box .client-nav-top, .right-nav-container .client-box .client-nav-bottom {
  display: block;
  height: 42px;
  line-height: 42px;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}
.right-nav-container .client-box .client-nav-top .client-nav-up, .right-nav-container .client-box .client-nav-bottom .client-nav-up {
  background-image: url('../images/client-arw-up.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 17px;
  height: 10px;
  text-indent: 17px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.right-nav-container .client-box .client-nav-top .client-nav-down, .right-nav-container .client-box .client-nav-bottom .client-nav-down {
  background-image: url('../images/client-arw-down.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 17px;
  height: 10px;
  text-indent: 17px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.right-nav-container .client-box .client-nav-bottom {
  background: white;
  position: relative;
  top: -1px;
}
.right-nav-container .find-solution {
  color: #646464;
  padding: 10px 20px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}
.right-nav-container .find-solution a {
  text-decoration: underline;
  color: #ef8200;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.right-nav-container .find-solution a:hover {
  color: #ffa63d;
}
.right-nav-container .find-solution p {
  margin-top: 0;
}
