                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/pages/components.html">All Components</a></li>
                      <li><a href="/pages/solutions.html">Solutions</a></li>
                      <li><a href="/pages/form.html">Form</a></li>
                      <li><a href="/pages/list.html">List</a></li>
                      <li><a href="/pages/table.html">Table</a></li>
                      <li><a href="/pages/tabs.html">Tabs</a></li>
                      <li><a href="/pages/gallery.html">Gallery</a></li>
                      <li><a href="/pages/video-gallery.html">Video Gallery</a></li>
                    </ul>
