// Colors
$mgreen: #aab300;
$morange: #ef8200;
$mgray: #616265;
$mtextgray: #646464;
$lightgrayborder: #dfe0e3;
$darkgrayborder: #c5c7d0;
$linkcolor: #d6d6d6;
$newlinkcolor: #646464;
$linkhovercolor: #ef8200;
$formfontcolor: #686868;

// Feature & Main Color Array
$feature-hd-colors: $mgreen, $morange, $mgray;
