// Helper Classes

.clearfix {
  &:after {
     content: " ";
     display: table;
     clear: both;
  }
}

// Image Replacement - needs compass.
@mixin ir($img, $width: image-width($img), $height: image-height($img), $x: 50%, $y: 50%) {
  background: {
    image: image-url($img);
    repeat: no-repeat;
    position: $x $y;
  };
  width: $width;
  height: $height;
  text-indent: $width;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
