// Layout Variables
$flow: left !default;
$content-width: 960px;

@-ms-viewport { width: device-width; }

@function px2perc($px, $parent-width: $content-width){
  @return ($px / $parent-width) * 100%;
}

$sidebar-first: px2perc(220px);
$sidebar-second: px2perc(223px);
$main-content: 100% - $sidebar-first - $sidebar-second;
$main-content-no-right-bar: 100% - $sidebar-first;

$desktop-only: "(min-width: 1026px)";
$tablets-n-desktop: "(min-width: 641px)";
$handheld: "(max-width: 1025px)";
$tablets: "(max-width: 1025px) and (min-width: 641px)";
$mobile: "(max-width: 640px)";

@mixin respond-to($media, $root: false) {
  @if ($root) {
    .tablet {
      @content;
    }
  }
  @else {
    .tablet & {
      @content;
    }
  }
  @media #{$media} {
    @content;
  }
}

@mixin content-wrapper {
  width: $content-width;
  margin: 0 auto;
  max-width: 100%;
  .tablet & {
    width: auto;
  }
}

// Box Sizing Mixin'
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

// Layout 'Grid' Mixin
$opos: if($flow == left, right, left);
@mixin layout($width, $position: false) {

  @include box-sizing(border-box);

  // Width (fraction/units)
  @if not unitless($width){ // arbitrary width (e.g. px/%/em etc.).
    width: $width;
  }
  @else if round($width) != $width { // fraction (e.g. 1/5).
    width: 100% * $width;
  }
  @else { // just a fallback.
    width: $width;
  }

  // Position (omega/row/fraction/columns/units)
  @if $position != omega {
    float: $flow; // normal float
  }
  @if $position == omega { // omega
    float: $opos;
  }

  @else if $position == row { // row
    clear: both;
  }
  @else if $position {
    margin: {
      #{$opos}: -100%;
      @if not unitless($width) { // has unit, arbitrary width
        #{$flow}: $position;
      }
      @else if round($position) != $position { // fraction
        #{$flow}: $position * 100%;
      }
      @else { // fallback
        #{$flow}: $position;
      }
    }
  }
}

// Span (inline-blocks)
@mixin layout-ib($width, $valign: top) {
  display: inline-block;

  // Width (fraction/units)
  @if not unitless($width){ // arbitrary width (e.g. px/%/em etc.).
    width: $width;
  }
  @else if round($width) != $width { // fraction (e.g. 1/5).
    width: 100% * $width;
  }
  @else { // just a fallback.
    width: $width;
  }

  vertical-align: $valign;
  @include box-sizing(border-box);
}

@mixin layout-justify {
  text-align: justify;

  > * {
    display: inline-block;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
  }
}

@mixin layout-flex($cellWidth: 33.3%, $hMargin: 15px) {
  display: flex;
  justify-content: space-between;
}


// Can delete these and put them in place
@mixin mobile-hide {
  display: none;
}

@mixin mobile-show {
  display: inline-block;
}

@mixin desktop-hide{
  display: none;
}

@mixin mobile-spread {
  float: none;
  width: auto;
}
