///////////////////////////////////////////////////////////////////
//    Extending the standard compass CSS3 mixins with CSS3PIE
///////////////////////////////////////////////////////////////////

$pie: url('/css/pie/PIE.htc');
$pie-approach: relative;

@import "compass/css3";

@mixin pie-border-radius($radius, $position: $pie-approach) {
  @include border-radius($radius);
  @if $position {
    position: $position;
    // behavior: $pie;
  }
}

@mixin pie-box-shadow($shadow, $position: $pie-approach) {
  @include box-shadow($shadow);
  @if $position {
    position: $position;
    // behavior: $pie;
  }
}

@mixin pie-gradient($start, $stop, $direction: top, $position: $pie-approach) {
  background-color: $start;
  @include background-image(linear-gradient($direction, $start, $stop));
  -pie-background: linear-gradient($direction, $start, $stop);
  @if $position {
    position: $position;
    // behavior: $pie;
  }
}
