
// ----------------------------------------------
//           Typography
// ----------------------------------------------

$helvetica-bold: "helvetica_neuebold", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica-regular: "helvetica_neueregular", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica-light: "helvetica_neuelight", Helvetica, Arial, "Lucida Grande", sans-serif;

@font-face {
  font-family: 'helvetica_neuebold';
  src: font-url('helveticaneuebold-webfont-webfont.eot');
  src: font-url('helveticaneuebold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('helveticaneuebold-webfont-webfont.woff') format('woff'),
  font-url('helveticaneuebold-webfont-webfont.ttf') format('truetype'),
  font-url('helveticaneuebold-webfont-webfont.svg#helvetica_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueregular';
  src: font-url('helveticaneue-webfont-webfont.eot');
  src: font-url('helveticaneue-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('helveticaneue-webfont-webfont.woff') format('woff'),
  font-url('helveticaneue-webfont-webfont.ttf') format('truetype'),
  font-url('helveticaneue-webfont-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neuelight';
  src: font-url('helveticaneue-light-webfont-webfont.eot');
  src: font-url('helveticaneue-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('helveticaneue-light-webfont-webfont.woff') format('woff'),
  font-url('helveticaneue-light-webfont-webfont.ttf') format('truetype'),
  font-url('helveticaneue-light-webfont-webfont.svg#helvetica_neuelight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font: normal 14px/1.3 $helvetica-light;
}

a,
a:visited {
  text-decoration: none;
  color: $newlinkcolor;

  &:hover {
  	color: $linkhovercolor;
  }
}
