
@@include('../components/head.html', {
  "title": "| Careers",
  "ref": "../"
})

<body>

  <div id="page">

    <!-- Main Header -->
    @@include('../components/header-pages.html')

    <!-- Main Navigation -->
    @@include('../components/nav-main.html')

    <!-- Main Content Wrapper -->
    <div class="main-wrapper inner-main">

      <!-- Left Navigation -->
      @@include('../components/left-nav.html', {
        "page": "Careers"
      })

      <!-- Solutions Main Content Section -->
      <section class="main-content no-right-bar">

        @@include('../components/content-header.html', {
          "page": "Careers",
          "subTitle": ""
        })
        @@include('../components/career-slider.html')
        @@include('../components/careers.html')

      </section>

    </div>

    <!-- Main Footer -->
    @@include('../components/footer.html')

    <!-- Mobile Side Menu  -->
    @@include('../components/mobile-menu.html')

    <!-- Footer scripts -->
    @@include('../components/footer-scripts.html', {
      "ref": "../"
    })

  </div>

</body>
</html>
