
@@include('../components/head.html', {
  "title": "| Components",
  "ref": "../"
})

<body>

  <div id="page">

    <!-- Main Header -->
    @@include('../components/header-pages.html')

    <!-- Main Navigation -->
    @@include('../components/nav-main.html')

    <!-- Main Content Wrapper -->
    <div class="main-wrapper inner-main">

      <!-- Left Navigation -->
      @@include('../components/left-nav.html', {
        "page": "Components"
      })

      <!-- Solutions Main Content Section -->
      <section class="main-content">

        @@include('../components/content-header.html', {
          "page": "Components",
          "subTitle": "Lorem ipsum dolor sit amet"
        })

        @@include('../components/post.html')

        <h1 class="component-header">Gallery Title</h1>
        @@include('../components/gallery.html')

        <h1 class="component-header">Video Gallery Title</h1>
        @@include('../components/video-gallery.html')

        <h1 class="component-header">List Title</h1>
        @@include('../components/list.html')

        @@include('../components/form.html')

        <h1 class="component-header">Tabs Title</h1>
        @@include('../components/tabs.html')

        <h1 class="component-header">Table Title</h1>
        @@include('../components/table.html')

      </section>

      <!-- Right Side Bar -->
      @@include('../components/right-nav.html')

    </div>

    <!-- Main Footer -->
    @@include('../components/footer.html')

    <!-- Mobile Side Menu  -->
    @@include('../components/mobile-menu.html')

    <!-- Footer scripts -->
    @@include('../components/footer-scripts.html', {
      "ref": "../"
    })

  </div>

</body>
</html>
