
@@include('../components/head.html', {
  "title": "| Search Results",
  "ref": "../"
})

<body>

  <div id="page">

    <!-- Main Header -->
    @@include('../components/header-pages.html')

    <!-- Main Navigation -->
    @@include('../components/nav-main.html')

    <!-- Main Content Wrapper -->
    <div class="main-wrapper inner-main">



      <!-- Solutions Main Content Section -->
      <section class="search-results-wrapper">

        @@include('../components/search-results.html')

      </section>

    </div>

    <!-- Main Footer -->
    @@include('../components/footer.html')

    <!-- Mobile Side Menu  -->
    @@include('../components/mobile-menu.html')

    <!-- Footer scripts -->
    @@include('../components/footer-scripts.html', {
      "ref": "../"
    })

  </div>

</body>
</html>
