<section id="careers" class="main-careers-wrapper">

  <h2 class="green-txt">Your Amdocs Career Search Starts Here</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut, laboriosam corporis, doloribus, officia accusamus illo nam tempore totam alias tenetur ipsa culpa eaque dolore a porro animi optio nobis.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut, laboriosam corporis, doloribus, officia accusamus illo nam tempore totam alias tenetur ipsa culpa eaque dolore a porro animi optio nobis.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut, laboriosam corporis, doloribus, officia accusamus illo nam tempore totam alias tenetur ipsa culpa eaque dolore a porro animi optio nobis.</p>

  <h2 class="green-txt">Career Search</h2>
  <ul class="career-list">
    <li>
      <div class="career-box">
        <div class="career-img">
          <img src="http://lorempixel.com/164/100/business" alt="">
        </div>
        <div class="career-details">
          <h3>Jobs in the Americas, Canada, Latin America</h3>
        </div>
        <a href="#" class="btn green">Search</a>

      </div>
    </li>
    <li>
      <div class="career-box">
        <div class="career-img">
          <img src="http://lorempixel.com/164/100/business" alt="">
        </div>
        <div class="career-details">
          <h3>Jobs in Israel</h3>
        </div>
        <a href="#" class="btn orange">Search</a>

      </div>
    </li>
    <li>
      <div class="career-box">
        <div class="career-img">
          <img src="http://lorempixel.com/164/100/business" alt="">
        </div>
        <div class="career-details">
          <h3>Jobs in APAC</h3>
        </div>
        <a href="#" class="btn gray">Search</a>

      </div>
    </li>
    <li>
      <div class="career-box">
        <div class="career-img">
          <img src="http://lorempixel.com/164/100/business" alt="">
        </div>
        <div class="career-details">
          <h3>Jobs in EMEA</h3>
        </div>
        <a href="#" class="btn green">Search</a>

      </div>
    </li>
    <li>
      <div class="career-box">
        <div class="career-img">
          <img src="http://lorempixel.com/164/100/business" alt="">
        </div>
        <div class="career-details">
          <h3>Jobs in India</h3>
        </div>
        <a href="#" class="btn orange">Search</a>

      </div>
    </li>
  </ul>
  @@include('../components/search-form.html')
</section>
