
    <!-- src/components/slider.html -->
    <section class="slider event-slider career-slider">
      <!-- Slide #1 -->
      <div class="slide">
          <img class="slide-img"
            src="../images/careers.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>MAKE THE CONNECTION!</h2>
            <h2 class="light">GROW YOUR FUTURE WITH US</h2>
            <h2 class="light">& APPLY TODAY</h2>
        </div>
      </div>
      <!-- Slide #2  -->
      <div class="slide">
          <img class="slide-img"
            src="../images/careers.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>MAKE THE CONNECTION!</h2>
            <h2 class="light">GROW YOUR FUTURE WITH US</h2>
            <h2 class="light">& APPLY TODAY</h2>
        </div>
      </div>
      <!-- Slide #3  -->
      <div class="slide">
          <img class="slide-img"
            src="../images/careers.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>MAKE THE CONNECTION!</h2>
            <h2 class="light">GROW YOUR FUTURE WITH US</h2>
            <h2 class="light">& APPLY TODAY</h2>
        </div>
      </div>
      <!-- Slide #4  -->
      <div class="slide">
          <img class="slide-img"
            src="../images/careers.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>MAKE THE CONNECTION!</h2>
            <h2 class="light">GROW YOUR FUTURE WITH US</h2>
            <h2 class="light">& APPLY TODAY</h2>
        </div>
      </div>
      <!-- Slider Navigation -->
      <nav class="slider-nav">
        <a href="#" class="slider-prev">Previous</a>
        <a href="#" class="slider-next">Next</a>
      </nav>
    </section>

