
        <!-- src/components/featured.html -->
        <div class="share-btns">
          <a class="share-btn share" href="#">Share</a>
          <a class="share-btn mail" href="#">eMail</a>
          <a class="share-btn print" href="#">Print</a>
        </div>
        <div class="breadcrumbs">
          <a href="#">Amdocs.com</a> >
          <a href="#">@@page</a>
        </div>
        <h1 class="main-content-header">@@page</h1>
        <h3 class="main-content-sub-header">@@subTitle</h3>

