
    <!-- src/components/slider.html -->
    <section class="slider event-slider">
      <!-- Slide #1 -->
      <div class="slide">
          <img class="slide-img"
            src="../images/event-slide.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>AMDOCS EMEA</h2>
            <h2>BUSINESS FORUM 2014</h2>
            <h3>JUNE 16-17 HILTON HOTEL AMSTERDAM</h3>
        </div>
      </div>
      <!-- Slide #2  -->
      <div class="slide">
          <img class="slide-img"
            src="../images/event-slide.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>AMDOCS EMEA</h2>
            <h2>BUSINESS FORUM 2014</h2>
            <h3>JUNE 16-17 HILTON HOTEL AMSTERDAM</h3>
        </div>
      </div>
      <!-- Slide #3  -->
      <div class="slide">
          <img class="slide-img"
            src="../images/event-slide.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>AMDOCS EMEA</h2>
            <h2>BUSINESS FORUM 2014</h2>
            <h3>JUNE 16-17 HILTON HOTEL AMSTERDAM</h3>
        </div>
      </div>
      <!-- Slide #4  -->
      <div class="slide">
          <img class="slide-img"
            src="../images/event-slide.png"
            alt="DRIVING GROWTH"
          />
        <div class="event-slide-content">
            <h2>AMDOCS EMEA</h2>
            <h2>BUSINESS FORUM 2014</h2>
            <h3>JUNE 16-17 HILTON HOTEL AMSTERDAM</h3>
        </div>
      </div>
      <!-- Slider Navigation -->
      <nav class="slider-nav">
        <a href="#" class="slider-prev">Previous</a>
        <a href="#" class="slider-next">Next</a>
      </nav>
    </section>

