<section id="events" class="main-events-wrapper">
  <div class="slider"></div>
  <div class="featured-events">

    <div class="event-box">
      <div class="event-img">
        <img src="http://lorempixel.com/164/100/business" alt="">
      </div>
      <div class="event-details">
        <h3 class="orange-txt">Amdocs Intuch Businnes Form</h3>
      </div>
      <input type="submit" value="Download Presentation" class="event-btn event-btn-orange">
    </div>
    <div class="event-box">
      <div class="event-img">
        <img src="http://lorempixel.com/164/100/business" alt="">
      </div>
      <div class="event-details">
        <h3 class="green-txt">Amdocs Intuch Businnes Form</h3>
      </div>
      <input type="submit" value="Click Here" class="event-btn event-btn-green">
    </div>

  </div>
  <div class="upcoming-events">
    <h2 class="green-txt">Upcoming Events</h2>
    <div class="event-region">
      <h3 class="green-bg region-title">APAC</h3>
      <ul class="event-list">
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
      </ul>
    </div>
    <div class="event-region">
      <h3 class="green-bg region-title">EMEA</h3>
      <ul class="event-list">
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
        <li class="event-list-item">
          <h3 class="event-title green-txt">Event Name / City & County / May 6-5 2014</h3>
          <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
          <a href="#" class="event-link">More Information</a>
        </li>
      </ul>
    </div>
  </div>
</section>
