
    <!-- src/components/featured.html -->
    <section class="featured-main">
      <!-- 1st Feature -->
      <article class="feature">
      <a href="#" class="lgt-box" data-video-id="l2AtRKWwiZo">
        <div class="feature-img play-icon">
          <img src="//lorempixel.com/261/198/city" alt="">
        </div>
         <div class="feature-details">
          <h2 class="feature-header green-txt">Amdocs Insight Platform</h2>
          <p class="feature-text">Learn More about amdocs big data offerings</p>
        </div>
      </a>
      </article>

      <!-- 2nd Feature -->
      <article class="feature">
      <a href="">
        <div class="feature-img">
          <img src="//lorempixel.com/261/198/technics" alt="">
        </div>
        <div class="feature-details">
          <h2 class="feature-header orange-txt">Q&A with Analysys Mason</h2>
          <p class="feature-text">An exclusive Amdocs interview with Justin...</p>
        </div>
      </a>
      </article>

      <!-- 3rd Feature -->
      <article class="feature">
      <a href="">
        <div class="feature-img">
          <img src="//lorempixel.com/261/198/business" alt="">
        </div>
         <div class="feature-details">
          <h2 class="feature-header gray-txt">Amdocs Proactive Care</h2>
          <p class="feature-text">Care before the customer is aware</p>
        </div>
      </a>
      </article>
    </section>





