
<!-- Fluid Video content -->

<div class="fluid-video">
  <iframe src="http://www.youtube.com/embed/R0hb09--YkM?autoplay=0&showinfo=0&controls=0&wmode=transparent" frameborder="0" width="560" height="315"></iframe>
</div>
