
    <!-- src/components/footer.html -->
    <footer class="footer-main">
      <div class="footer-content-wrapper">

        <!-- Footer Top Part -->
        <section class="footer-top">
          <div class="footer-subscribe">
            <h3>Subscribe to our Newsletter</h3>
              <div class="select-wrap">
                <select class="subscriber-select" name="subscribe" id="subscribeInp">
                  <option value="Amdocs#1">Amdocs#1</option>
                  <option value="Amdocs#2">Amdocs#2</option>
                  <option value="Amdocs#3">Amdocs#3</option>
                  <option value="Amdocs#4">Amdocs#4</option>
                </select>
              </div>
          </div>

          <ul class="footer-top-links">
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Learnings</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Investor</a>
            </li>
            <li>
              <a href="#">Awards</a>
            </li>
            <li>
              <a href="#">Video</a>
            </li>
          </ul>

          <!-- Social Links -->
          <div class="footer-social">
            <h3 class="footer-social-head">Stay in Touch</h3>
            <a class="youtube-logo" href="#"></a>
            <a class="twitter-logo" href="#"></a>
            <a class="fb-logo" href="#"></a>
            <a class="linkdin-logo" href="#"></a>
            <a class="gplus-logo" href="#"></a>
          </div>

        </section>

        <!-- Footer Bottom Part -->
        <section class="footer-bottom">
          <div class="footer-link-col">
              <div class="footer-bottom-links">
                <h3>Vision</h3>
                <ul>
                  <li><a href="#">Experience Success</a></li>
                  <li><a href="#">Market Insight</a></li>
                  <li><a href="#">Enreach</a></li>
                </ul>
              </div>

              <div class="footer-bottom-links">
                <h3>Solutions</h3>
                <ul>
                  <li><a href="#">Simplify Experience </a></li>
                  <li><a href="#">Harness Data</a></li>
                  <li><a href="#">Stay Ahead </a></li>
                  <li><a href="#">Be Efficient</a></li>
                  <li><a href="#">Local Advertising</a></li>
                  <li><a href="#">Spotlight On</a></li>
                </ul>
              </div>
          </div>

          <div class="footer-link-col">
            <div class="footer-bottom-links">
              <h3>Products</h3>
              <ul>
                <li><a href="#">Customer Management</a></li>
                <li><a href="#">Revenue Management</a></li>
                <li><a href="#">Operations Support Systems (OSS)</a></li>
                <li><a href="#">Network Control</a></li>
                <li><a href="#">Digital Services</a></li>
                <li><a href="#">Unified Foundation</a></li>
                <li><a href="#">Cable, Satellite and Online Television</a></li>
                <li><a href="#">Compact Convergence</a></li>
                <li><a href="#">Local Advertising</a></li>
                <li><a href="#">About CES</a></li>
              </ul>
            </div>

            <div class="footer-bottom-links">
              <h3>Services</h3>
              <ul>
                <li><a href="#">Managed Services </a></li>
                <li><a href="#">Business Consulting </a></li>
                <li><a href="#">Support Services </a></li>
                <li><a href="#">Systems Integration </a></li>
               </ul>
            </div>
          </div>

          <div class="footer-link-col">
            <div class="footer-bottom-links">
              <h3>Communities</h3>
              <ul>
                <li><a href="#">Blogs </a></li>
                <li><a href="#">Alliances</a></li>
                <li><a href="#">Intouch</a></li>
                <li><a href="#">Product Support </a></li>
                <li><a href="#">Video</a></li>
              </ul>
            </div>

            <div class="footer-bottom-links">
              <h3>About</h3>
              <ul>
                <li><a href="#">Media Room </a></li>
                <li><a href="#">Careers </a></li>
                <li><a href="#">Customer Case </a></li>
                <li><a href="#">Studies </a></li>
                <li><a href="#">Heritage </a></li>
                <li><a href="#">Corporate </a></li>
                <li><a href="#">Responsibility </a></li>
                <li><a href="#">Partners & Alliances </a></li>
                <li><a href="#">Contact Amdocs </a></li>
               </ul>
            </div>
          </div>

          <div class="footer-link-col">
            <div class="footer-about">
              <h3>About Amdocs</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.<br>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.<br>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.<br>Integer tincidunt.<br>Cras dapibus.
              </p>
            </div>
          </div>
        </section>

        <section class="footer-msg">
          <span class="copyright">© 2014 Amdocs Inc. All Rights Reserved.</span>
          <a href="#">Site Map</a> //
          <a href="#">Privacy Policy</a> //
          <a href="#">Terms if Use</a>
        </section>
      </div>
    </footer>

