    <footer id="scripts">

      <!-- Detect mobile - phones & tablets -->
      <script>
        ("undefined"!=typeof window.orientation||/IEMobile|ARM/i.test(navigator.userAgent))&&window.matchMedia("(min-width: 641px)").matches&&(document.getElementsByTagName("html")[0].className+=" tablet");
      </script>

      <!-- Load jQuery from google CDN. -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="@@refjs/vendor/jquery-1.11.1.min.js"><\/script>')</script>
      <!-- Rotating banner. -->
      <script src="@@refjs/vendor/slick/slick.min.js"></script>
      <!-- Select boxes. -->
      <script src="@@refjs/vendor/chosen.jquery.js"></script>
      <!-- Responsive tabs. -->
      <script src="@@refjs/vendor/easyResponsiveTabs.js"></script>
      <!-- Responsive tables. -->
      <script src="@@refjs/vendor/stacktable.js"></script>
      <!-- Equal Heights Fix for Home Page -->
      <script src="@@refjs/vendor/equalHeights.js"></script>

      <!-- Main scripts. -->
      <script src="@@refjs/main.js"></script>

      <!-- Development file watcher - REMOVE FROM PRODUCTION. -->
      <script src="@@refjs/fileWatcher.js"></script>

    </footer>
