
        <!-- src/components/form.html -->
        <section id="form" class="form-wrapper">
          <h3 class="form-header green-bg">Form Title</h3>


          <form action="">
            <div class="form-field">
              <label for="nameInp">Name</label>
              <input type="text" id="nameInp">
            </div>

            <div class="form-field">
              <label for="emailInp">E-Mail</label>
              <input type="email" id="emailInp" name="email">
            </div>

            <div class="form-field">
              <label for="countryInp">Country</label>
              <div class="chosen-wrapper">
                <select data-placeholder="Please select" name="country" id="countryInp" class="chosen-select">
                  <option value=""></option>
                  <option value="israel">Israel</option>
                  <option value="england">England</option>
                  <option value="russia">Russia</option>
                </select>
              </div>
            </div>

            <div class="form-field">
              <label for="passwordInp">Password</label>
              <div class="pass-type">
                  <input type="password" id="passType">
                  <label for="passType">Type a password</label>
              </div>
              <div class="pass-confirm">
                  <label for="passConfirm" id="passConfMobLable">Confirm Password</label>
                  <input type="password" id="passConfirm">
                  <label for="passConfirm" id="passConfLab">Confirm Password</label>
              </div>
            </div>

            <div class="form-field">
              <label for="commentsInp">Comments</label>
              <textarea name="comments" id="commentsInp" rows="10"></textarea>
            </div>

            <div class="form-field-radio">
              <label for="">Amdocs Customer?</label>

              <input type="radio" name="customer" id="yes" value="yes">
              <label for="yes">Yes</label>

              <input type="radio" name="customer" id="no" value="no">
              <label for="no">No</label>
            </div>

            <div class="form-field-checkbox">
              <input type="checkbox" name="email-list" id="email-list" value="true">
              <label for="email-list">Please add me to Amdocs email list</label>
            </div>

            <div class="form-field-submit">
              <input type="submit" value="Send" class="form-btn">
            </div>
          </form>
        </section>
