<section class="gallery">
  <p class="gallery-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum at mi in accumsan. Donec tempus dolor eu scelerisque iaculis. In nec egestas nunc, ut cursus lorem. Curabitur at libero quis tortor viverra volutpat.
    The flood of data powered by the rising demand for video means that service providers need to keep up with the ever-growing demand for bandwidth. They must harness data while profiting from network investments with end-to-end offerings that span network planning and optimization, through service
  </p>

  <ul class="gallery-list">

    <li class="gallery-item">
      <div class="gallery-img">
        <img src="../images/gallery-img.png" alt="">
      </div>
      <h3 class="gallery-item-title">Category Title</h3>
      <p class="gallery-item-text">
        Integer ornare diam non velit blandit ultrices. Vestibulum et
      </p>
    </li>
    <li class="gallery-item">
      <div class="gallery-img">
        <img src="../images/gallery-img.png" alt="">
      </div>
      <h3 class="gallery-item-title">Category Title</h3>
      <p class="gallery-item-text">
        Integer ornare diam non velit blandit ultrices. Vestibulum et
      </p>
    </li>
    <li class="gallery-item">
      <div class="gallery-img">
        <img src="../images/gallery-img.png" alt="">
      </div>
      <h3 class="gallery-item-title">Category Title</h3>
      <p class="gallery-item-text">
        Integer ornare diam non velit blandit ultrices. Vestibulum et
      </p>
    </li>
    <li class="gallery-item">
      <div class="gallery-img">
        <img src="../images/gallery-img.png" alt="">
      </div>
      <h3 class="gallery-item-title">Category Title</h3>
      <p class="gallery-item-text">
        Integer ornare diam non velit blandit ultrices. Vestibulum et
      </p>
    </li>
    <li class="gallery-item">
      <div class="gallery-img">
        <img src="../images/gallery-img.png" alt="">
      </div>
      <h3 class="gallery-item-title">Category Title</h3>
      <p class="gallery-item-text">
        Integer ornare diam non velit blandit ultrices. Vestibulum et
      </p>
    </li>
    <li class="gallery-item">
      <div class="gallery-img">
        <img src="../images/gallery-img.png" alt="">
      </div>
      <h3 class="gallery-item-title">Category Title</h3>
      <p class="gallery-item-text">
        Integer ornare diam non velit blandit ultrices. Vestibulum et
      </p>
    </li>
  </ul>

</section>
