
    <!-- src/components/header.html -->
    <header class="header-main">
      <div class="header-content-wrap">
      <a href="#" class="mobile-menu-icon"></a>
      <a href="#" class="mobile-lang-icon"></a>
      <a class="header-logo" href="/">
        <img src="../images/logo.png" alt="amdocs-logo">
      </a>
      <a href="#" class="mobile-search-icon"></a>
        <div class="header-buttons">
          <a href="#">Customer Support</a>
          <a class="contact" href="#">Contact Us</a>
        </div>
      </div>
    </header>
