
      <!-- src/components/left-nav.html -->
      <aside class="nav-container left-nav-container">
        <h3><span>@@page</span></h3>
        <ul>
          <li class="with-dd-menu">
            <a href="#">Simplify Experience </a>
            <ul class="nav-dd-menu">
              <li><a href="#">Blogs </a></li>
              <li><a href="#">Alliances</a></li>
              <li><a href="#">Intouch</a></li>
              <li><a href="#">Product Support </a></li>
              <li><a href="#">Video</a></li>
            </ul>
          </li>
          <li class="with-dd-menu">
            <a href="#">Harness Data </a>
            <ul class="nav-dd-menu">
              <li><a href="#">Blogs </a></li>
              <li><a href="#">Alliances</a></li>
              <li><a href="#">Intouch</a></li>
              <li><a href="#">Product Support </a></li>
              <li><a href="#">Video</a></li>
            </ul>
          </li>
          <li><a href="#">Stay Ahead </a></li>
          <li><a href="#">Be Efficient</a></li>
          <li><a href="#">Local Advertising</a></li>
          <li><a href="#">Spotlight On</a></li>
        </ul>
        <img src="../images/promo.png" alt="promotional">
      </aside>
