
        <!-- src/components/list.html -->
        <section id="list">

          <article class="list-item first">
            <a href="#">
              <div class="item-img play-icon">
                <img src="//lorempixel.com/112/84/business" alt="">
              </div>
               <div class="item-content">
                <h2 class="item-title">Lorem Ipsum</h2>
                <p class="item-desc">Cum sociis natoque penatibus et magnis dis parturient.</p>
              </div>
            </a>
          </article>

          <article class="list-item">
            <a href="#">
              <div class="item-img">
                <img src="//lorempixel.com/112/84/technics" alt="">
              </div>
               <div class="item-content">
                <h2 class="item-title">Lorem Ipsum</h2>
                <p class="item-desc">Cum sociis natoque penatibus et magnis dis parturient.</p>
              </div>
            </a>
          </article>

          <article class="list-item">
            <a href="#">
              <div class="item-img">
                <img src="//lorempixel.com/112/84/city" alt="">
              </div>
               <div class="item-content">
                <h2 class="item-title">Lorem Ipsum</h2>
                <p class="item-desc">Cum sociis natoque penatibus et magnis dis parturient.</p>
              </div>
            </a>
          </article>

        </section>
