
    <!-- src/components/main-front.html -->
    <section class="main-wrapper front-main">
      <article class="main-post">
        <h2 class="main-post-header green-bg"><a href="#">Blogs</a></h2>
        <p class="main-post-text"><a href="#">Is Amazon redefining the retail experience (yet again) with “Firefly”?</a>
        </p>
        <p class="post-time">
          <i>Posted Oct 18</i>
        </p>
        <p class="main-post-text"><a href="#">If self-optimizing networks are the answer, what are the questions?</a>
        </p>
        <p class="post-time">
          <i>Posted Oct 18</i>
        </p>
      </article>

      <article class="main-post">
        <h2 class="main-post-header orange-bg"><a href="#">News</a></h2>
        <p class="main-post-text"><a href="#">Ovum: Amdocs makes end-to-end Big Data play</a>
        </p>
        <p class="post-time">
          <i>Posted Oct 18</i>
        </p>
        <p class="main-post-text"><a href="#">New Research: Opportunity for Service Providers to Improve Business...</a>
        </p>
        <p class="post-time">
          <i>Posted Nov 21</i>
        </p>
      </article>

      <article class="main-post">
        <h2 class="main-post-header gray-bg"><a href="#">Video</a></h2>
        <p class="main-post-text"><a href="#">If self-optimizing networks are the answer, what are the questions?</a>
        </p>
        <p class="post-time">
          <i>Posted Oct 18</i>
        </p>
        <p class="main-post-text"><a href="#">New Research: Opportunity for Service Providers to Improve Business...</a>
        </p>
        <p class="post-time">
          <i>Posted Oct 12</i>
        </p>
      </article>
    </section>

