<!-- src/components/media-room.html -->
<section id="media" class="main-media-wrapper">

<div class="main-tabs-container responsive-tabs">
    <ul class="main-tabs-nav resp-tabs-list">
        <li class="main-tab">Media</li>
        <li class="main-tab">Press Kit</li>
        <li class="main-tab last">Worldwide Press Contacts</li>
    </ul>
    <!-- Tabs Level 1 -->
    <div class="main-tab-content resp-tabs-container">
        <div id="resp-tab1">
          <ul class="content-list">
            <li class="content-item">
              <h3 class="content-header">Sub Title #1</h3>
              <p class="content-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum at mi in accumsan. Donec tempus dolor eu scelerisque iaculis. In nec egestas nunc, ut cursus lorem. Curabitur at libero quis tortor viverra volutpat.
              </p>
            </li>
            <li>
              <img class="content-img" src="//lorempixel.com/112/84/business" alt="">
              <div class="content-details">
                <h3 class="content-header">Optional Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempora sint id, quas fugiat minima aperiam placeat adipisci odio corporis, excepturi sapiente. Minima itaque, quos rerum, vero aut eos consectetur.
                orem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus tempora sint id, quas fugiat minima aperiam placeat adipisci odio corporis.</p>
              </div>
            </li>
          </ul>
          <!-- Tabs Level 2 -->
          <div class="inner-tabs-wrapper responsive-tabs">
            <ul class="inner-tabs-l2-nav resp-tabs-list">
              <li class="green-bg right-gutter">News</li>
              <li class="orange-bg right-gutter">Digital Assets</li>
              <li class="gray-bg">Spokes People</li>
            </ul>
            <!-- Tabs Level 3 -->
            <div class="inner-l2-tabs-container resp-tabs-container">
              <div class="inner-l2-tab1 media-tab inner-tab-content">
                <ul class="inner-tabs-l3-nav">
                  <li><a href="#">Press Release</a></li>
                  <li><a href="#">News Stories</a></li>
                  <li><a href="#">Annual Reports</a></li>
                </ul>
                <div class="inner-l3-tabs-container">
                  <div class="inner-l3-tab1 mobile-l3-tab">
                    <ul>
                      <li class="l3-content-item l3-tab-header">
                        <h3>Press Release</h3>
                        <select name="l3Navigation" class="l3NavSelect">
                          <option value="1">Press Release</option>
                          <option value="2">News Stories</option>
                          <option value="3">Annual Reports</option>
                        </select>
                        <div class="year-select-wrapper">
                          <div class="year-label">
                            Year
                          </div>
                            <select name="year" id="" class="year-select chosen-year-select">
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                            </select>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                    </ul>
                    <nav class="result-nav">
                      <span class="result-nav-head">
                        Page
                      </span>

                      <ul class="pages-ind">
                        <li>
                          <a class="active" href="#">1</a>
                        </li>
                        <li>
                          <a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#">4</a>
                        </li>
                        <li>
                          <a href="#">5</a>
                        </li>
                        <li>
                          <a href="#">6</a>
                        </li>
                      </ul>

                      <a href="#" class="next-results">Next <span>Page</span></a></nav>
                  </div>
                  <div class="inner-l3-tab2 mobile-l3-tab">
                    <ul>
                      <li class="l3-content-item l3-tab-header">
                        <h3>News Stories</h3>
                        <select name="l3Navigation" class="l3NavSelect">
                          <option value="1">Press Release</option>
                          <option value="2">News Stories</option>
                          <option value="3">Annual Reports</option>
                        </select>
                        <div class="year-select-wrapper">
                          <div class="year-label">
                            Year
                          </div>
                            <select name="year" id="" class="year-select chosen-year-select">
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                            </select>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                      <li class="l3-content-item">
                        <h3 class="content-title green-txt">
                          May 5 2014
                        </h3>
                        <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error minima quibusdam cumque impedit reprehenderit consectetur optio, dignissimos placeat nobis ut.</p>
                        <a href="#" class="content-link">More Information</a>
                      </li>
                    </ul>
                    <nav class="result-nav">
                      <span class="result-nav-head">
                        Page
                      </span>

                      <ul class="pages-ind">
                        <li>
                          <a class="active" href="#">1</a>
                        </li>
                        <li>
                          <a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#">4</a>
                        </li>
                        <li>
                          <a href="#">5</a>
                        </li>
                        <li>
                          <a href="#">6</a>
                        </li>
                      </ul>

                      <a href="#" class="next-results">Next <span>Page</span></a></nav>
                    </div>
                  <div class="inner-l3-tab3 mobile-l3-tab">
                    <ul>
                      <li class="l3-content-item l3-tab-header">
                        <h3>Annual Reports</h3>
                        <select name="l3Navigation" class="l3NavSelect">
                          <option value="1">Press Release</option>
                          <option value="2">News Stories</option>
                          <option value="3">Annual Reports</option>
                        </select>                        <div class="year-select-wrapper">
                          <div class="year-label">
                            Year
                          </div>
                            <select name="year" id="" class="year-select chosen-year-select">
                              <option value="2010">2010</option>
                              <option value="2011">2011</option>
                              <option value="2012">2012</option>
                            </select>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <img src="../images/report.png" class="report-img" alt="Annual Report">
                        <div class="report-description">
                          <h3 class="content-title green-txt">
                            Annual Report 2012
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="report-dn-btn">
                          <a href="#" class="download-btn">PDF
                          <span>1.7 MB</span>
                          <div class="download-icon"></div>
                          </a>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <img src="../images/report.png" class="report-img" alt="Annual Report">
                        <div class="report-description">
                          <h3 class="content-title green-txt">
                            Annual Report 2012
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="report-dn-btn">
                          <a href="#" class="download-btn">PDF
                          <span>1.7 MB</span>
                          <div class="download-icon"></div>
                          </a>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <img src="../images/report.png" class="report-img" alt="Annual Report">
                        <div class="report-description">
                          <h3 class="content-title green-txt">
                            Annual Report 2012
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="report-dn-btn">
                          <a href="#" class="download-btn">PDF
                          <span>1.7 MB</span>
                          <div class="download-icon"></div>
                          </a>
                        </div>
                      </li>
                    </ul>
                    <nav class="result-nav">
                      <span class="result-nav-head">
                        Page
                      </span>

                      <ul class="pages-ind">
                        <li>
                          <a class="active" href="#">1</a>
                        </li>
                        <li>
                          <a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#">4</a>
                        </li>
                        <li>
                          <a href="#">5</a>
                        </li>
                        <li>
                          <a href="#">6</a>
                        </li>
                      </ul>

                      <a href="#" class="next-results">Next <span>Page</span></a></nav>
                  </div>
                </div>
              </div>
              <div class="inner-l2-tab2 digital">
                <div class="inner-l2-tab1 media-tab inner-tab-content">
                <ul class="inner-tabs-l3-nav">
                  <li><a href="#" class="orange-txt">Videos</a></li>
                  <li><a href="#" class="orange-txt">E-Books</a></li>
                </ul>
                <div class="inner-l3-tabs-container">
                  <div class="inner-l3-tab1 mobile-l3-tab">
                    <ul>
                      <li class="l3-content-item l3-tab-header">
                        <h3 class="orange-txt wide">Videos</h3>
                        <select class="l3NavSelect wide" name="" id="">
                          <option value="1">Videos</option>
                          <option value="2">E-Books</option>
                        </select>
                      </li>
                      <li class="l3-content-item">
                        <div class="video-img">
                          <a href="#" data-video-id="jOkDVUJwpF0">
                            <div class="item-img play-icon">
                              <img src="//lorempixel.com/112/84/nightlife" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="video-details">
                          <h3 class="content-title orange-txt">
                            InTouce Asia 2013
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <div class="video-img">
                          <a href="#" data-video-id="jOkDVUJwpF0">
                            <div class="item-img play-icon">
                              <img src="//lorempixel.com/112/84/nightlife" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="video-details">
                          <h3 class="content-title orange-txt">
                            InTouce Asia 2013
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <div class="video-img">
                          <a href="#" data-video-id="jOkDVUJwpF0">
                            <div class="item-img play-icon">
                              <img src="//lorempixel.com/112/84/nightlife" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="video-details">
                          <h3 class="content-title orange-txt">
                            InTouce Asia 2013
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </li>
                    </ul>
                    <nav class="result-nav">
                      <span class="result-nav-head orange-txt">
                        Page
                      </span>

                      <ul class="pages-ind">
                        <li>
                          <a class="active" href="#">1</a>
                        </li>
                        <li>
                          <a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#">4</a>
                        </li>
                        <li>
                          <a href="#">5</a>
                        </li>
                        <li>
                          <a href="#">6</a>
                        </li>
                      </ul>

                      <a href="#" class="next-results orange-txt">Next <span>Page</span></a></nav>
                  </div>
                  <div class="inner-l3-tab2 mobile-l3-tab">
                    <ul>
                      <li class="l3-content-item l3-tab-header">
                        <h3 class="orange-txt wide">E-Books</h3>
                        <select class="l3NavSelect wide" name="" id="">
                          <option value="1">Videos</option>
                          <option value="2">E-Books</option>
                        </select>
                      </li>
                      <li class="l3-content-item">
                        <div class="ebook-img">
                          <img class="content-img" src="//lorempixel.com/112/84/business" alt="e-book">
                        </div>
                        <div class="ebook-details">
                          <h3 class="content-title orange-txt">
                            Unleash The Power Of Experiance
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="ebook-btn">
                          <a href="#" class="read-btn">View E-Book</a>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <div class="ebook-img">
                          <img class="content-img" src="//lorempixel.com/112/84/business" alt="e-book">
                        </div>
                        <div class="ebook-details">
                          <h3 class="content-title orange-txt">
                            Unleash The Power Of Experiance
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="ebook-btn">
                          <a href="#" class="read-btn">View E-Book</a>
                        </div>
                      </li>
                      <li class="l3-content-item">
                        <div class="ebook-img">
                          <img class="content-img" src="//lorempixel.com/112/84/business" alt="e-book">
                        </div>
                        <div class="ebook-details">
                          <h3 class="content-title orange-txt">
                            Unleash The Power Of Experiance
                          </h3>
                          <p class="content-description">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="ebook-btn">
                          <a href="#" class="read-btn">View E-Book</a>
                        </div>
                      </li>
                    </ul>
                    <nav class="result-nav">
                      <span class="result-nav-head orange-txt">
                        Page
                      </span>

                      <ul class="pages-ind">
                        <li>
                          <a class="active" href="#">1</a>
                        </li>
                        <li>
                          <a href="#">2</a>
                        </li>
                        <li>
                          <a href="#">3</a>
                        </li>
                        <li>
                          <a href="#">4</a>
                        </li>
                        <li>
                          <a href="#">5</a>
                        </li>
                        <li>
                          <a href="#">6</a>
                        </li>
                      </ul>

                      <a href="#" class="next-results orange-txt">Next <span>Page</span></a></nav>
                  </div>
                </div>
              </div>
              </div>
              <div class="inner-l2-tab3 inner-tab-content">
               <!-- Spokesman Box -->
               <ul class="speaker-list">
                 <li class="speaker-list-item">
                   <img src="../images/speaker-list-avatar.png" alt="">
                   <h3 class="speaker-name">
                     Christopher K. Williams
                   </h3>
                   <h4 class="speaker-role">
                     Head of Global Marketing, Amdocs
                   </h4>
                   <p class="speaker-details">
                     As Head of Global Marketing, Chris is focused on developing...
                   </p>
                   <a href="#">Read More</a>
                 </li>
                 <li class="speaker-list-item">
                   <img src="../images/speaker-list-avatar.png" alt="">
                   <h3 class="speaker-name">
                     Christopher K. Williams
                   </h3>
                   <h4 class="speaker-role">
                     Head of Global Marketing, Amdocs
                   </h4>
                   <p class="speaker-details">
                     As Head of Global Marketing, Chris is focused on developing...
                   </p>
                   <a href="#">Read More</a>
                 </li>
                 <li class="speaker-list-item">
                   <img src="../images/speaker-list-avatar.png" alt="">
                   <h3 class="speaker-name">
                     Christopher K. Williams
                   </h3>
                   <h4 class="speaker-role">
                     Head of Global Marketing, Amdocs
                   </h4>
                   <p class="speaker-details">
                     As Head of Global Marketing, Chris is focused on developing...
                   </p>
                   <a href="#">Read More</a>
                 </li>
                 <li class="speaker-list-item">
                   <img src="../images/speaker-list-avatar.png" alt="">
                   <h3 class="speaker-name">
                     Christopher K. Williams
                   </h3>
                   <h4 class="speaker-role">
                     Head of Global Marketing, Amdocs
                   </h4>
                   <p class="speaker-details">
                     As Head of Global Marketing, Chris is focused on developing...
                   </p>
                   <a href="#">Read More</a>
                 </li>
               </ul>
               <div class="speaker-box">
                  <img src="../images/spoke-avatar.png" alt="spokesman image">
                  <h3 class="speaker-header">Christopher K. Williams  |  Head of Global Marketing, Amdocs</h3>
                 <p class="speaker-text">
                    As Head of Global Marketing, Chris is focused on developing Amdocs’ vision as the leading provider of customer experience solutions for communications, media and entertainment industry service providers. His responsibilities include delivering.
                    <br>
                    <br>
                    Chris has more than 30 years’ experience in sales, marketing and business development for Information Technology and Professional Services companies. Prior to joining Amdocs at the end of 2013, he held executive leadership roles for technology solutions and consulting companies including Avaya, Capgemini NA, and Fujitsu Consulting.  Chris also spent time in Silicon Valley where he served in a variety of sales, marketing and business development roles for hardware, software and professional services companies and was a cofounder of Netigy, a professional services firm focused on eBusiness Infrastructure Consulting.
                    <br>
                    <br>
                    An industry thought-leader, Chris sits on the Board of Advisors for the Information Technology Services Marketing Association (ITSMA), and has been a repeat keynote presenter at the World Innovation Forum.
                    <br>
                    <br>
                    Chris, who grew up in Europe, attended Babson College in Wellesley, Mass., where he earned a Master’s of Business Administration in International Business and Finance as well as a Bachelor’s of Science degree in Marketing.
                 </p>
                 <div class="close-speaker-box"></div>
               </div>
             </div>
            </div>

          </div>
        </div>
        <div id="resp-tab2" class="inner-tab-content">
            <div class="extra-bottom-border">
              <h3 class="main-tab-subheader">Sub Title Lorem Ipsum</h3>
              <p class="main-tab-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum at mi in accumsan. Donec tempus dolor
                eu scelerisque iaculis. In nec egestas nunc, ut cursus lorem. Curabitur at libero quis tortor viverra volutpat.
              </p>
            </div>
            <h3 class="main-tab-subheader">Amdocs: Embrace challenge, experience success</h3>
            <p class="main-tab-text">
              As the market leader in software and services for service providers in the communications, media and entertainment industry, Amdocs has a more than 30-year track record of ensuring service providers' success and embracing their biggest challenges. The global company uniquely combines market-leading BSS, OSS and network control and optimization solutions with value-driven professional and managed services to deliver real-time integration from the device to the network, removing traditional barriers to service and system convergence and enabling enriched customer experiences. Service providers worldwide rely on Amdocs to simplify and personalize the customer experience, harness and capitalize on the data explosion, stay ahead of the competition with new digital services and improve operational efficiency.
            </p>
            <!-- Key Facts -->
            <h3 class="main-content-header">Key Facts</h3>
            <table class="key-facts">
              <tr>
                <th class="key-head">Founded</th>
                <td class="key-data">1980</td>
              </tr>
              <tr>
                <th class="key-head">Founded</th>
                <td class="key-data">1980</td>
              </tr>
              <tr>
                <th class="key-head">Founded</th>
                <td class="key-data">1980</td>
              </tr>
              <tr>
                <th class="key-head">Founded</th>
                <td class="key-data">1980</td>
              </tr>
              <tr>
                <th class="key-head">Founded</th>
                <td class="key-data">1980</td>
              </tr>
              <tr>
                <th class="key-head">Founded</th>
                <td class="key-data">1980</td>
              </tr>
            </table>

            <h3 class="main-content-header">Recent Awards</h3>
            <ul class="awards">
              <li class="award">
                <img src="../images/award.png" alt="award">
                <h3 class="award-header">Public Company Of The Year</h3>
                <p class="award-text">
                  Telecom Operational
                  Managment Systems
                  (TOMS)
                </p>
              </li>
              <li class="award">
                <img src="../images/award.png" alt="award">
                <h3 class="award-header">Public Company Of The Year</h3>
                <p class="award-text">
                  Telecom Operational
                  Managment Systems
                  (TOMS)
                </p>
              </li>
              <li class="award">
                <img src="../images/award.png" alt="award">
                <h3 class="award-header">Public Company Of The Year</h3>
                <p class="award-text">
                  Telecom Operational
                  Managment Systems
                  (TOMS)
                </p>
              </li>
            </ul>
            <!-- Key Acquesitions -->
            <h3 class="main-content-header">Key Acquesitions</h3>
            <table class="key-facts key-acq">
              <tr>
                <th class="key-head">2014</th>
                <td class="key-data">Actix</td>
              </tr>
              <tr>
                <th class="key-head">2013</th>
                <td class="key-data">Actix</td>
              </tr>
              <tr>
                <th class="key-head">2011</th>
                <td class="key-data">Actix</td>
              </tr>
              <tr>
                <th class="key-head">2010</th>
                <td class="key-data">Actix</td>
              </tr>
              <tr>
                <th class="key-head">2009</th>
                <td class="key-data">Actix</td>
              </tr>
              <tr>
                <th class="key-head">2008</th>
                <td class="key-data">Actix</td>
              </tr>
            </table>
          </div>
        <div id="resp-tab3" class="inner-tab-content">
            <h3 class="main-content-header">Contacts</h3>
            <table class="key-facts">
              <tr>
                <th class="key-head">Global</th>
                <td class="key-data">Amdocs: Amy McLean, Director, Global Public Relations</td>
              </tr>
              <tr>
                <th class="key-head">Global</th>
                <td class="key-data">Amdocs: Amy McLean, Director, Global Public Relations</td>
              </tr>
              <tr>
                <th class="key-head">Global</th>
                <td class="key-data">Amdocs: Amy McLean, Director, Global Public Relations</td>
              </tr>
              <tr>
                <th class="key-head">Global</th>
                <td class="key-data">Amdocs: Amy McLean, Director, Global Public Relations</td>
              </tr>
              <tr>
                <th class="key-head">Global</th>
                <td class="key-data">Amdocs: Amy McLean, Director, Global Public Relations</td>
              </tr>
            </table>
            <h3 class="main-content-header">Contact Via Email</h3>
             @@include('../components/form.html')
            <br><br>
        </div>
      </div>
</div>
</section>
