
    <!-- src/components/mobile-menu.html -->
    <nav class="nav-container mobile-nav-container">
      <ul class="main-menu sub-menu-wrp">
        <li><a href="/">Home</a></li>
        <li><a href="#">Vision</a></li>
        <li class="with-sub-menu">
          <a href="#">Pages</a>
          <div class="mobile-nav-sub-menu">
            <div class="back">Back</div>
            <h3><a href="#">Pages</a></h3>
              @@include('../pages-menu.html')
          </div>
        </li>
        <li class="with-sub-menu">
          <a href="/pages/solutions">Solutions</a>
          <div class="mobile-nav-sub-menu sub-menu-wrp">
            <div class="back">Back</div>
            <h3><a href="/pages/solutions">Solutions</a></h3>
            <ul>
              <li class="with-sub-menu">
                <a href="#">Simplify Experience </a>
                <div class="mobile-nav-sub-menu">
                  <div class="back">Back</div>
                  <h3><a href="#">Simplify Experience</a></h3>
                  <ul>
                    <li><a href="#">Blogs </a></li>
                    <li><a href="#">Alliances</a></li>
                    <li><a href="#">Intouch</a></li>
                    <li><a href="#">Product Support </a></li>
                    <li><a href="#">Video</a></li>
                  </ul>
              </li>
              <li class="with-sub-menu">
                <a href="#">Harness Data </a>
                <div class="mobile-nav-sub-menu">
                  <div class="back">Back</div>
                  <h3><a href="/pages/solutions">Harness Data</a></h3>
                  <ul>
                    <li><a href="#">Blogs </a></li>
                    <li><a href="#">Alliances</a></li>
                    <li><a href="#">Intouch</a></li>
                    <li><a href="#">Product Support </a></li>
                    <li><a href="#">Video</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Stay Ahead </a></li>
              <li><a href="#">Be Efficient</a></li>
              <li><a href="#">Local Advertising</a></li>
              <li><a href="#">Spotlight On</a></li>
              <li><img src="../images/promo.png" alt="promotional">

            </ul>
          </div>
        </li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Communities</a></li>
        <li><a href="#">About</a></li>
        <li class="lang with-sub-menu">
          <a href="#">
            Language
            <span class="chosen-lang">English</span>
          </a>
          <div class="mobile-nav-sub-menu">
            <div class="back">Back</div>
            <h3><span>Language</span></h3>
              <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Български</a></li>
                <li><a href="#">Some Language</a></li>
                <li><a href="#">Some Language</a></li>
                <li><a href="#">Some Language</a></li>
                <li><a href="#">Some Language</a></li>
                <li><img src="../images/promo.png" alt="promotional">
              </ul>
          </div>
        </li>
        <li><img src="../images/promo.png" alt="promotional">
        </li>
      </ul>

    </nav>


