
    <!-- src/components/nav-main.html -->
    <nav class="nav-main-container">
      <div class="nav-main-content-wrap">
        <ul class="nav-main">
          <li>
            <a href="#">VISION</a>
            <section class="nav-main-dd">
              <div class="nav-main-dd-container">
                <div class="dd-link-col">
                  <div class="dd-banner">
                    <a href="#">
                      <img src="http://lorempixel.com/128/476/business" alt="Promotion" title="Promotion">
                    </a>
                  </div>
                </div>
                <div class="dd-link-col">
                  <div class="dd-links">
                    <h3>Pages</h3>
                    @@include('../pages-menu.html')
                  </div>
                  <div class="dd-links">
                    <h3>Vision</h3>
                    <ul>
                      <li><a href="#">Experience Success</a></li>
                      <li><a href="#">Market Insight</a></li>
                      <li><a href="#">Enreach</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dd-link-col">
                  <div class="dd-links">
                    <h3>Products</h3>
                    <ul>
                      <li><a href="#">Customer Management</a></li>
                      <li><a href="#">Revenue Management</a></li>
                      <li><a href="#">Operations Support Systems (OSS)</a></li>
                      <li><a href="#">Network Control</a></li>
                      <li><a href="#">Digital Services</a></li>
                    </ul>
                  </div>
                  <div class="dd-links">
                    <h3>Solutions</h3>
                    <ul>
                      <li><a href="#">Simplify Experience </a></li>
                      <li><a href="#">Harness Data</a></li>
                      <li><a href="#">Stay Ahead </a></li>
                      <li><a href="#">Be Efficient</a></li>
                      <li><a href="#">Local Advertising</a></li>
                      <li><a href="#">Spotlight On</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dd-link-col">
                  <div class="dd-links">
                    <h3>Communities</h3>
                    <ul>
                      <li><a href="#">Blogs </a></li>
                      <li><a href="#">Alliances</a></li>
                      <li><a href="#">Intouch</a></li>
                      <li><a href="#">Product Support </a></li>
                      <li><a href="#">Video</a></li>
                    </ul>
                  </div>
                  <div class="dd-links">
                    <h3>About</h3>
                    <ul>
                      <li><a href="#">Media Room </a></li>
                      <li><a href="#">Careers </a></li>
                      <li><a href="#">Customer Case </a></li>
                      <li><a href="#">Studies </a></li>
                      <li><a href="#">Heritage </a></li>
                      <li><a href="#">Corporate </a></li>
                      <li><a href="#">Responsibility </a></li>
                    </ul>
                  </div>
                </div>
                <div class="dd-link-col">
                  <div class="dd-links">
                    <h3>Services</h3>
                    <ul>
                      <li><a href="#">Managed Services </a></li>
                      <li><a href="#">Business Consulting </a></li>
                      <li><a href="#">Support Services </a></li>
                      <li><a href="#">Systems Integration </a></li>
                    </ul>
                  </div>
                  <div class="dd-links">
                    <h3>Products</h3>
                    <ul>
                      <li><a href="#">Customer Management</a></li>
                      <li><a href="#">Revenue Management</a></li>
                      <li><a href="#">Operations Support Systems (OSS)</a></li>
                      <li><a href="#">Network Control</a></li>
                      <li><a href="#">Digital Services</a></li>
                    </ul>
                  </div>
                </div>
                <div class="dd-link-col">
                  <div class="dd-links">
                    <h3>Solutions</h3>
                    <ul>
                      <li><a href="#">Simplify Experience </a></li>
                      <li><a href="#">Harness Data</a></li>
                      <li><a href="#">Stay Ahead </a></li>
                      <li><a href="#">Be Efficient</a></li>
                      <li><a href="#">Local Advertising</a></li>
                      <li><a href="#">Spotlight On</a></li>
                    </ul>
                  </div>
                  <div class="dd-links">
                    <h3>Services</h3>
                    <ul>
                      <li><a href="#">Managed Services </a></li>
                      <li><a href="#">Business Consulting </a></li>
                      <li><a href="#">Support Services </a></li>
                      <li><a href="#">Systems Integration </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
          </li>
          <li><a href="/pages/solutions">SOLUTIONS</a></li>
          <li><a href="#">PRODUCTS</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">COMMUNITIES</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>


        <!-- Main Navigation Buttons & Search -->
        <div class="nav-main-btn">
          <a class="globe-icon" href="#">
          </a>
          <span class="search-input-wrap">
            <input type="text" class="search-input" placeholder="Search...">
            <a href="#" class="search-icon"></a>
          </span>
          <div class="lang-dd-menu">
            <h3 class="lang-dd-menu-header">Languages</h3>
            <ul class="lang-dd-menu-col">
              <li class="lang-dd-menu-item"><a href="#">English</a></li>
              <li class="lang-dd-menu-item"><a href="#">Български</a></li>
              <li class="lang-dd-menu-item"><a href="#">ગુજરાતી</a></li>
              <li class="lang-dd-menu-item"><a href="#">हिन्दी</a></li>
              <li class="lang-dd-menu-item"><a href="#">العربية</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

