
        <!-- src/components/post.html -->
        <section id="post">
          <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, error, sed modi dolore ad eaque vero tempore fugit sint aspernatur animi aperiam quas sunt quo maxime. Eveniet, repellat quasi incidunt.</p>

          <h2 class="main-content-header">Lorem</h2>
          <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, error, sed modi dolore ad eaque vero tempore fugit sint aspernatur animi aperiam quas sunt quo maxime. Eveniet, repellat quasi incidunt.</p>

          <h2 class="main-content-header">Lorem</h2>
          <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, error, sed modi dolore ad eaque vero tempore fugit sint aspernatur animi aperiam quas sunt quo maxime. Eveniet, repellat quasi incidunt.</p>

          <h2 class="main-content-header">Lorem</h2>
          <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, error, sed modi dolore ad eaque vero tempore fugit sint aspernatur animi aperiam quas sunt quo maxime. Eveniet, repellat quasi incidunt.</p>

          <h2 class="main-content-header">Lorem</h2>
          <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, error, sed modi dolore ad eaque vero tempore fugit sint aspernatur animi aperiam quas sunt quo maxime. Eveniet, repellat quasi incidunt.</p>
        </section>
