
      <!-- src/components/right-nav.html -->
      <aside class="right-nav-container">
        <!-- Quote Component  -->
        <section class="tab-box quote-box">
          <div class="tabs">
            <span class="tab">Quotes</span>
          </div>
          <div class="tab-content">
            <p class="quote">
              <span>“</span>We need strategic partners that understand our business challenges and Amdocs is a critical part of our business strategy. Our business depends on Amdocs. Without a good BSS/OSS system, you cannot compete.<span>”</span>
            </p>
            <p class="quote-id">David Thodey, Customer Billing Srvcs, Sprint</p>
          </div>
        </section>
        <!-- Contact Us Btn -->
        <a href="#" class="contact-btn">Contact Us
          <div class="env">contact</div>
        </a>

        <div class="find-solution">
          <p>Has supporting your legacy systems become too complex and ineffiect?</p>
          <a href="#">Find a Solution</a>
        </div>

        <!-- Our Clients - Vertical Slider -->
        <section class="client-box vertical-slider">
          <!-- Vertical Slider Header -->
          <h2 class="client-box-head green-bg">Our Clients</h2>
          <!-- Vertical Slider Navigate Up -->
          <a href="#" class="client-nav-top vertical-slider-prev"><div class="client-nav-up">navigate up</div></a>
          <!-- Vertical Slide 1 -->
          <div class="vertical-slide">
            <a href="#" class="client"><img src="../images/at&t.png" alt=""></a>
          </div>
          <!-- Vertical Slide 2 -->
          <div class="vertical-slide">
            <a href="#" class="client"><img src="../images/bell.png" alt=""></a>
          </div>
          <!-- Vertical Slide 3 -->
          <div class="vertical-slide">
            <a href="#" class="client"><img src="../images/sprint.png" alt=""></a>
          </div>
          <!-- Vertical Slide 4 -->
          <div class="vertical-slide">
            <a href="#" class="client"><img src="../images/at&t.png" alt=""></a>
          </div>
          <!-- Vertical Slide 5 -->
          <div class="vertical-slide">
            <a href="#" class="client"><img src="../images/bell.png" alt=""></a>
          </div>
          <!-- Vertical Slide 6 -->
          <div class="vertical-slide">
            <a href="#" class="client"><img src="../images/sprint.png" alt=""></a>
          </div>
          <!-- Vertical Slider Navigate Down -->
          <a href="#" class="client-nav-bottom vertical-slider-next"><div class="client-nav-down">navigate down</div></a>
        </section>

        <!-- Learn More Box -->
        <section class="tab-box">
          <div class="tabs">
            <span class="tab">Learn More</span>
          </div>
          <div class="tab-content">
            <a class="link" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
            <a class="doc" href="#">Sed do eiusmod tempor incididunt ut labore</a>
            <a class="link" href="#">Tempor incididunt ut labore et dolore magna aliqua</a>
          </div>
        </section>

        <!-- Featured -->
        <div class="feature-img">
          <a href="#" class="play-icon lgt-box" data-video-id="l2AtRKWwiZo">
            <img src="//lorempixel.com/320/151/technics" alt="">
          </a>
        </div>
        <div class="feature-img">
          <a href="#">
            <img src="//lorempixel.com/320/172/business" alt="">
            <div class="feature-label">
              Amdocs Connected Home Solutions
            </div>
          </a>
        </div>
      </aside>

