<section class="search-results">

  <div class="breadcrumbs">
    <a href="#">Amdocs.com</a> >
    <a href="#">Solutions</a>
  </div>

  <div class="result-cnt">1-25 of 1300</div>

  <hgroup>
    <h1 class="main-content-header">Search Results for “Solutions”
    </h2>
    <h3 class="main-content-sub-header">
      <span>Results in:</span>

      <a class="active" href="#">All of Amdocs</a> | <a href="#">About</a> | <a href="#">news</a> | <a href="#">Press Releases</a>
    </h3>
  </hgroup>

  <ul class="result-list">
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
    <li class="result-item">
      <h3 class="result-title">
        <a href="#">Business Solutions</a>
      </h3>
      <p class="result-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit blanditiis tempora neque eius consequuntur sequi molestias deleniti, ipsum itaque accusantium laboriosam cumque rem dicta quia enim quis eligendi, nam odio!
      </p>
    </li>
  </ul>
</section>
<nav class="result-nav">
  <span class="result-nav-head">
    Page
  </span>

  <ul class="pages-ind">
    <li>
      <a class="active" href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
    <li>
      <a href="#">5</a>
    </li>
    <li>
      <a href="#">6</a>
    </li>
  </ul>

  <a href="#" class="next-results">Next <span>Page</span></a>

</nav>
