
        <!-- src/components/form.html -->
        <section id="form" class="form-wrapper">
          <h3 class="form-header green-bg">Search Help</h3>


          <form action="#">
            <div class="form-field">
              <label for="keywordInp"><b>Keyword</b></label>
              <input type="text" id="keywordInp">
              <a href="#" class="keyword-search"><b>Keyword Search Help</b></a>
            </div>

            <div class="form-field">
              <label for="categoriesInp">Categories</label>
              <input type="categories" id="categoriesInp" name="categories">
            </div>

            <div class="form-field">
              <label for="countryInp">Country</label>
              <div class="chosen-wrapper">
                <select data-placeholder="Please select" name="country" id="countryInp" class="chosen-select">
                  <option value="All">All</option>
                  <option value="israel">Israel</option>
                  <option value="england">England</option>
                  <option value="russia">Russia</option>
                </select>
              </div>
            </div>

            <div class="form-field">
              <label for="cityInp">City</label>
              <div class="chosen-wrapper">
                <select data-placeholder="Please select" name="city" id="cityInp" class="chosen-select">
                  <option value="All">All</option>
                  <option value="Tel-Aviv">Tel-Aviv</option>
                  <option value="New-York">New-York</option>
                  <option value="Moscow">Moscow</option>
                </select>
              </div>
            </div>

            <div class="form-field">
              <label for="jobInp">Job Number</label>
              <div class="chosen-wrapper">
                <select data-placeholder="Please select" name="job number" id="jobInp" class="chosen-select">
                  <option value="All">All</option>
                  <option value="1101">1101</option>
                  <option value="1102">1102</option>
                  <option value="1103">1103</option>
                </select>
              </div>
            </div>

            <div class="form-field-submit">
              <input type="submit" value="Search" class="form-btn">
            </div>
          </form>
        </section>
