
    <!-- src/components/slider.html -->
    <section class="slider">
      <!-- Slide #1 -->
      <div class="slide">
        <div class="slide-bg-img-wrp">
          <img class="slide-img"
            src="images/slides/1full.jpg"
            alt="DRIVING GROWTH"
          />
        </div>
        <div class="slide-img-wrp">
          <img class="slide-img"
            src="images/slides/1l.jpg"
            alt="DRIVING GROWTH"
          />
        </div>
        <div class="slide-content">
          <p class="slide-text">
            <a href="#">DRIVING GROWTH THROUGH SERVICES INNOVATIONS</a>
          </p>
          <a href="#" class="slide-btn">Learn More</a>
        </div>
      </div>

      <!-- Slide #2 -->
      <div class="slide dark-slide">
        <div class="slide-bg-img-wrp">
          <img class="slide-img"
            src="images/slides/2full.jpg"
            alt="DRIVING GROWTH"
          />
        </div>
        <div class="slide-img-wrp">
          <img class="slide-img"
            src="images/slides/2l.jpg"
            alt="DRIVING GROWTH"
          />
        </div>
        <div class="slide-content">
          <p class="slide-text">
            <a href="#">#2 DRIVING GROWTH THROUGH SERVICES INNOVATIONS</a>
          </p>
          <a href="#" class="slide-btn">Learn More</a>
        </div>
      </div>

      <!-- Slide #3 -->
      <div class="slide">
        <div class="slide-bg-img-wrp">
          <img class="slide-img"
            src="images/slides/1full.jpg"
            alt="DRIVING GROWTH"
          />
        </div>
        <div class="slide-img-wrp">
          <img class="slide-img"
            src="images/slides/1l.jpg"
            alt="DRIVING GROWTH"
          />
        </div>
        <div class="slide-content">
          <p class="slide-text">
            <a href="#">#3 DRIVING GROWTH THROUGH SERVICES INNOVATIONS</a>
          </p>
          <a href="#" class="slide-btn">Learn More</a>
        </div>
      </div>

      <!-- Slider Navigation -->
      <nav class="slider-nav">
        <a href="#" class="slider-prev">Previous</a>
        <a href="#" class="slider-next">Next</a>
      </nav>
    </section>

