
        <!-- src/components/table.html -->
        <section id="table">

          <table class="responsive-table">
            <thead>
              <tr>
                <th>Amdocs Solutions</th>
                <th>Market Segments</th>
                <th>Go to Market</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
                <td>Home monitoring</td>
                <td>Peace of Mind</td>
                <td>B2C</td>
              </tr>
              <tr class="even">
                <td>Lorem ipsum</td>
                <td>Aenean massa</td>
                <td>Donec</td>
              </tr>
              <tr class="odd">
                <td>Nullam</td>
                <td>Aenean leo ligula</td>
                <td>Phasellus viverra</td>
              </tr>
              <tr class="even">
                <td>Cras dapibus</td>
                <td>Vulputate eget arcu</td>
                <td>Phasellus viverra</td>
              </tr>
            </tbody>
          </table>

        </section>

