
        <!-- src/components/tabs.html -->
        <section class="tabs main-tabs-container responsive-tabs">
          <ul class="main-tabs-nav resp-tabs-list">
            <li class="main-tab">Tab 1</li>
            <li class="main-tab">Tab 2</li>
            <li class="main-tab last">Tab 3</li>
          </ul>
          <div class="main-tab-content resp-tabs-container">
            <div id="resp-tab1">
              <h3 class="main-tab-subheader">Sub Title #1</h3>
              <p class="main-tab-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum at mi in accumsan. Donec tempus dolor eu scelerisque iaculis. In nec egestas nunc, ut cursus lorem. Curabitur at libero quis tortor viverra volutpat.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi a fermentum lacus, eu euismod augue. Aenean ornare dapibus faucibus. Proin suscipit lacinia enim, vel varius tortor.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #1</h3>
              <p class="main-tab-text">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #1</h3>
              <p class="main-tab-text">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #1</h3>
              <p class="main-tab-text last">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <img src="../images/tabs-pic.png" alt="">
            </div>
            <div id="resp-tab2">
              <h3 class="main-tab-subheader">Sub Title #2</h3>
              <p class="main-tab-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum at mi in accumsan. Donec tempus dolor eu scelerisque iaculis. In nec egestas nunc, ut cursus lorem. Curabitur at libero quis tortor viverra volutpat.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi a fermentum lacus, eu euismod augue. Aenean ornare dapibus faucibus. Proin suscipit lacinia enim, vel varius tortor.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #2</h3>
              <p class="main-tab-text">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #2</h3>
              <p class="main-tab-text">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #2</h3>
              <p class="main-tab-text last">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <img src="../images/tabs-pic.png" alt="">
            </div>
            <div id="resp-tab3">
              <h3 class="main-tab-subheader">Sub Title #3</h3>
              <p class="main-tab-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum at mi in accumsan. Donec tempus dolor eu scelerisque iaculis. In nec egestas nunc, ut cursus lorem. Curabitur at libero quis tortor viverra volutpat.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi a fermentum lacus, eu euismod augue. Aenean ornare dapibus faucibus. Proin suscipit lacinia enim, vel varius tortor.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #3</h3>
              <p class="main-tab-text">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #3</h3>
              <p class="main-tab-text">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <h3 class="main-tab-subheader-small">Sub Title #3</h3>
              <p class="main-tab-text last">
                nteger ornare diam non velit blandit ultrices. Vestibulum et consequat sem. Vivamus eleifend lectus justo, quis consequat ligula semper quis.
              </p>

              <img src="../images/tabs-pic.png" alt="">
            </div>
          </div>
        </section>
