
        <!-- src/components/video-gallery.html -->
        <section class="video-gallery">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>

          <div class="fluid-video">
            <iframe class="vidplayer" src="http://www.youtube.com/embed/R0hb09--YkM?autohide=1&autoplay=0&showinfo=0&wmode=transparent&theme=light" frameborder="0" width="560" height="315"></iframe>
          </div>

          <article class="list-item first">
            <a href="#" data-video-id="NtFTRcIuLoo">
              <div class="item-img play-icon">
                <img src="//lorempixel.com/112/84/transport" alt="">
              </div>
               <div class="item-content">
                <h2 class="item-title">Lorem Ipsum <span>(3:32)</span></h2>
                <p class="item-desc">Cum sociis natoque penatibus et magnis dis parturient.</p>
              </div>
            </a>
          </article>

          <article class="list-item">
            <a href="#" data-video-id="jOkDVUJwpF0">
              <div class="item-img play-icon">
                <img src="//lorempixel.com/112/84/nightlife" alt="">
              </div>
               <div class="item-content">
                <h2 class="item-title">Lorem Ipsum <span>(2:52)</span></h2>
                <p class="item-desc">Cum sociis natoque penatibus et magnis dis parturient.</p>
              </div>
            </a>
          </article>

        </section>
