.career-list {

  @include layout(48%);
  li {
    margin-bottom: 20px;
  }
  .career-box {
    @extend .clearfix;
    padding: 7px;
    border: solid $lightgrayborder 1px;
    vertical-align: top;
    background-color: white;
    @include box-shadow(1px 1px 1px rgba(#000, .1));
    @include box-sizing(border-box);
    position: relative;

    a.btn {
      color: white;
      text-align: center;
      line-height: 32px;
      position: absolute;
      width: 45%;
      bottom: 7px;
      right: 7px;
      @include pie-border-radius(5px, absolute);
      text-overflow: ellipsis;
      overflow: hidden;
      @include box-sizing(border-box);
      height: 34px;
      font-size: 13px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(#000, .5);
      @include transition(all .3s);

      &.green {
         background-color: #aab300;
        border: 1px solid lighten(#aab300, 5%);
        @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#aab300, 10%));
        &:hover {
          color: #fff;
          background-color: lighten(#aab300, 5%);
        }
      }

      &.orange {
        background-color: #ef8200;
        border: 1px solid lighten(#ef8200, 5%);
        @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#ef8200, 10%));

        &:hover {
          color: #fff;
          background-color: lighten(#ef8200, 5%);
        }
      }

      &.gray {
        background-color: #616265;
        border: 1px solid lighten(#616265, 5%);
        @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#616265, 10%));

        &:hover {
          color: #fff;
          background-color: lighten(#616265, 5%);
        }
      }
    }
  }

  .career-details {
    @include layout(45%);
    position: relative;
    text-align: left;
    height: 100%;
    h3 {
      padding-bottom: 34px;
      margin: 0;
    }
  }

  .career-img {
    @include layout(51%);
    margin-right: 4%;

    img {
      width: 100%;
      max-width: 100%;
    }

  }

}

.keyword-search {
  position: absolute;
  top: 30px;
  right: 0;
  margin-top: 3px;
  float: right;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
}


.career-slider {
  .light {
    font-weight: 100;
  }
}

.main-careers-wrapper {

  & > h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 5px;
  }
  .form-wrapper {
    margin-left: 3%;
    @include layout(49%);

    LABEL {
      @include layout(25%);
    }
    INPUT,.chosen-wrapper {
      @include layout(75%);
    }

    .form-field {
      font-size: 12px;
      position: relative;
    }

    .form-field-submit {
      margin-top: 31%;
    }
  }
}


@media #{$mobile} {
  .career-list {
    width: 100%;
  }

  .main-careers-wrapper {
    .form-wrapper {
      margin-left: 0;
      width: 100%;

      .form-field {
        margin: 30px 15px;
      }

      .form-field-submit {
        margin-top: 10%;
      }
    }
  }

  .career-slider {
    display: none;
  }
}
