// Main Content Styles

.main-content {
  color: $mtextgray;
}

.main-content-header {
  color: $mgreen;
  margin: 10px 0 0;
  line-height: 1;
}
.main-content-sub-header {
  margin: 0 0 15px;
}

.breadcrumbs {
  font-size: 12px;
}

h2 {
  &.main-content-header{
    text-decoration: underline;
    font-size: 15px;
  }
  & + p {
    margin-top: 5px;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  html.lte-ie8 & {
    width: auto;
  }
}

textarea {
  resize: none;
}

// Chosen.JS fix
.chosen-results {
  clear: both;
}
