.event-slider {
  .event-slide-content {
    position: absolute;
    top: 27%;
    left: 5%;
    color: white;
    z-index: 1;
    h2 {
      line-height: 1;
      margin: 0;
      font-size: 35px;
    }
    h3 {
      line-height: 1;
      margin: 0;
      font-size: 25px;
    }
  }

  .slide {
    height: auto;
    img{
      width: 100%;
      position: relative;
      z-index: -1;
    }
  }
}

.featured-events {
  @include layout-justify();
  .event-box {
    position: relative;
    width: 48%;
    // min-height: 102px;
    padding: 7px;
    display: inline-block;
    border: solid $lightgrayborder 1px;
    vertical-align: top;
    background-color: white;
    @include box-shadow(1px 1px 1px rgba(#000, .1));
    @include box-sizing(border-box);
    @extend .clearfix;
    .event-img {
      @include layout(51%);
      margin-right: 2%;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    .event-details {
      @include layout(47%);
      position: relative;
      text-align: left;
      h3 {
        margin: 0;
        margin-bottom: 44px;
      }
    }
    .event-btn {
      @include pie-border-radius(5px);
      position: absolute;
      bottom: 7px;
      right: 7px;
      line-height: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      @include box-sizing(border-box);
      width: 45%;
      height: 34px;
      font-size: 18px;
      font-size: 13px;
      color: #fff;
      padding: 10px 10px;
      margin-top: 7px;
      text-shadow: 1px 1px 1px rgba(#000, .5);
      @include transition(all .3s);
    }

    .event-btn-green {
      background-color: #aab300;
      border: 1px solid lighten(#aab300, 5%);
      @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#aab300, 10%));
      &:hover {
        color: #fff;
        background-color: lighten(#aab300, 5%);
      }
    }

    .event-btn-orange {
      background-color: #ef8200;
      border: 1px solid lighten(#ef8200, 5%);
      @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#ef8200, 10%));

      &:hover {
        color: #fff;
        background-color: lighten(#ef8200, 5%);
      }
    }
  }
}

.upcoming-events {

  .region-title {
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 19px;
  }

  .event-list-item {
    @extend .clearfix;
    position: relative;
    border-bottom: 1px solid lightgray;
  }
  .event-title {
    margin-bottom: 5px;
  }

  .event-description {
    @include layout(80%);
    margin-top: 0;
  }
  .event-link {
    @include layout(20%);
    text-align: right;
    position: absolute;
    margin-bottom: 14px;
    bottom: 0;
    right: 0;
    float: right;
    text-decoration: underline;
    color:#aab300;
  }
}


@media #{$mobile} {
  .event-slider {
    .event-slide-content {
      h2,h3 {
        font-size: 16px;
      }
    }
  }
  .featured-events{
    .event-box {
      @include layout(100%);
      margin-bottom: 10px;
    }
  }

  .upcoming-events {
    .event-description {
      @include layout(100%);
    }
    .event-link {
      width: 100%;
      display: block;
      position: relative;
      text-align: left;
    }
  }
}
