/* Footer Styles */
$footer-bg: '../images/bg-footer.png' !default;
$social-networks: youtube twitter fb linkdin gplus;

.footer-main {
  background: url($footer-bg) repeat #504e4e;
  padding-top: 40px;
  clear: both;
  @include respond-to(#{$tablets}) {
    padding: 40px 30px 0;
  }
  @media #{$mobile} {
    padding: 30px 3% 0;
  }
  &,
  & a,
  & a:visited {
    color: #e3e3e3;
  }

  & a:hover{
    color: $linkhovercolor;
  }
}

.footer-content-wrapper{
  @include content-wrapper;
}

.footer-top {
  @extend .clearfix;
  font-size: 14px;
  margin-bottom: 36px;

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3 {
    font-size: 14px;
    margin:0;
    margin-bottom: 20px;
  }
  .footer-subscribe {
    @include layout(1/3, 0);

    select {
      width: 210px;   //Added 20px for Firefox arrow bug hack
      height: 28px;
      color: #504e4e;
      font-size: 13px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: transparent;
      background: white url("../images/downarrow.png") no-repeat 95% 59% ;

      // Moz-fix;
      // overflow: hidden;
      // text-indent: 0.01px;
      // text-overflow: '';

      // iOs default rule fix:
      border-radius: 0;
    }

    .select-wrap {
      display: inline-block;
      // overflow: hidden;
      width: 208px;
    }

    // Chosen.js over-ride
    .chosen-container-single .chosen-single div b {
      display: block;
      width: 100%;
      height: 100%;
      background: white url("../images/downarrow.png") no-repeat 0 58%;
    }
    .chosen-container-single .chosen-single span {
      padding-left: 2px;
    }
    .chosen-single DIV {
      right: 5px;
      border-left: none;
    }

    li.active-result {
      color: black;
    }
    // select::-ms-expand {
    //   display: none;
    //   overflow: hidden;
    //   text-indent: 0.01px;
    //   text-overflow: '';
    // }

  }
  .footer-social {
    @include layout(1/3, 1/3);
    @each $social in $social-networks {
      .#{$social}-logo{
        background: url(../images/#{$social}.png) no-repeat;
        width: 37px;
        height: 37px;
        display: inline-block;
        transition-duration: .3s;
        position: relative;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .footer-top-links {
    @include layout(1/3, 2/3);
    li{
      width: 43%;
      float: left;
      margin-left: 7%;
      &:nth-child(even){
        margin-left: 14%;
      }
      &:nth-child(odd){
        margin-left: 0;
      }
    }
    a {
      display: block;
      border-bottom: solid $lightgrayborder 1px;
      line-height: 30px;
    }
    height: 124px;
  }

  @media (max-width: 800px) {
    h3 {
      margin-bottom: 10px;
    }
    .footer-subscribe {
      @include layout(1/2, 0);
    }
    .footer-top-links {
      @include layout(1/2, 1/2);
    }
    .footer-social {
      clear: left;
      margin: 0;
      @include layout(1/2);
      margin-top: -50px;
    }
  }

   @media #{$mobile} {
    margin-bottom: 0;
    .footer-subscribe,
    .footer-top-links,
    .footer-social {
      @include mobile-spread;
      text-align: center;
      margin: 0 3% 35px;
      h3 {
        font-size: 16px;
      }

      .chosen-container-single .chosen-single span {
         padding-left: 17px;
      }
    }

    .footer-bottom {
      display: none;
    }
  }
}

.footer-bottom {
  // display: none;
  margin-bottom:  40px;

  h3 {
    font-size: 14px;
  }
  @extend .clearfix;
  .footer-link-col {
    @include layout(1/4);
    padding-right: 10px;
    font-size: 12px;
  }
  @include respond-to(#{$handheld}) {
    @include mobile-hide;
  }
}

.footer-msg{
  font-size: 13px;
  text-align: center;
  border-top: solid $lightgrayborder 1px;
  padding: 25px 0;
  .copyright {
    margin-right: 15px;
  }
  @media #{$mobile} {
    .copyright {
      display: block;
      margin: 0 0 10px;
    }
  }
}
