// Form Styling

.form-wrapper{
  border: 1px solid lightgray;
  font-family: $helvetica-light;
  color: $formfontcolor;

  .form-header{
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 19px;
  }

  .form-field{
    @extend .clearfix;
    margin: 30px 15px;
    font-size: 13px;
    // overflow: hidden;


      LABEL {
        @include layout(18%);
        height: 28px;
        line-height: 28px;
      }
      INPUT,.chosen-wrapper, TEXTAREA {
        @include layout(82%);
      }

      INPUT, SELECT {
        height: 30px;
      }

      INPUT, TEXTAREA {
        padding-left: 8px;
        border: 1px solid lightgray;
        @include box-shadow(inset 0 1px 5px 0 lightgray);
        border-radius: 0;
      }

      select {
        box-shadow: inset 0 1px 5px 0 lightgrey;
        border: 1px solid lightgray;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: transparent;
        background: white url("../images/select-btn.png") no-repeat 100% 50%;

        border-radius: 0;
      }


    .pass-type, .pass-confirm {
      @include layout(40%);
      LABEL,INPUT {
        @include layout(100%)
      }
      LABEL {
        font-size: 11px;
      }
    }

    .pass-type {
      margin-right: 2%;
    }

    .pass-confirm {
      #passConfMobLable {
        display: none;
      }
    }


  }

  .form-field-checkbox {
    @extend .clearfix;
    padding: 10px;
    margin : 10px;
    INPUT {
      vertical-align: middle;
    }
    LABEL {
      vertical-align: middle;
    }
  }

  .form-field-submit {
    @extend .clearfix;
    padding: 10px;
    margin : 10px;
    font-family: $helvetica-light;

    .form-btn {
      float: right;
      width: 146px;
      height: 40px;
      font-size: 18px;
      background-color: #aab300;
      font-size: 18px;
      color: #fff;
      padding: 10px 30px;
      text-shadow: 1px 1px 1px rgba(#000, .5);
      border: 1px solid lighten(#aab300, 5%);
      margin-bottom: 5px;
      @include pie-border-radius(5px);
      @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#aab300, 10%));
      @include transition(all .3s);
      &:hover {
        color: #fff;
        background-color: lighten(#aab300, 5%);
      }
    }
  }

  .form-field-radio {
    @extend .clearfix;
    padding: 10px;
    margin : 10px;

    INPUT {
      vertical-align: middle;
      margin-right: 2px;
    }

    LABEL {
      vertical-align: middle;
      margin-right: 20px;
    }
  }

}

// Chosen JS my Author Styling:

.chosen-single {
  DIV {
    border-left: solid 1px lightgray;
    padding-left: 7px;
  }
  height: 28px;
  line-height: 28px;
}

.chosen-container-active {
  &.chosen-with-drop {
    .chosen-single {
        DIV {
          border-left: solid 1px lightgray;
          padding-left: 7px;
        }

      }
  }
}


.chosen-container-single {
  .chosen-single {
      height: 28px;
      line-height: 28px;
  }
}

// Mobile styling

@media #{$mobile} {
  .form-wrapper {

    .form-header {
    }

    .form-field {
      @extend .clearfix;
       margin: 15px 15px;

      LABEL,INPUT,SELECT {
        @include layout(100%);
      }

      .pass-type, .pass-confirm {
        @include layout(100%);
        LABEL,INPUT {
          @include layout(100%)
        }
      }

      .pass-type {
        margin-right: 0;
        LABEL {
          direction: rtl;
        }
      }

      .pass-confirm {
        #passConfLab {
          display: none;
        }
        #passConfMobLable {
          font-size: 13px;
          display: block;
        }
      }

      TEXTAREA {
        @include layout(100%);
        height: 180px;
      }

      .chosen-wrapper {
        @include layout(100%);
      }
    }

    .form-field-radio, .form-field-checkbox {
      display: none;
    }

    .form-field-submit {
      .form-btn {
        width: 100%;
      }
    }

  }


}
