.gallery {

  .gallery-item {
    @include layout-ib(1/3, top);
    margin-right: -.3em;
    margin-bottom: 26px;
    padding: 5px;
    &:nth-child(3n+1) {
      padding-left: 0;
      padding-right: 10px;
    }
    &:nth-child(3n+3) {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .gallery-img {
    text-align:center;
  }

  .gallery-item-title {
    @extend .green-txt;
    margin: 0;
    padding: 10px 0 8px;
  }

  .gallery-item-text {
    margin: 0;
  }

}

@media #{$mobile} {
  .gallery {
    .gallery-item {
      @include mobile-spread;
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
}
