// Header Variables
$header-height: 99px !default;
$header-height-tablet: 88px;
$header-height-mobile: 44px;
$header-bg: '../images/bg-header.png' !default;
$header-bg-pattern: '../images/bg-header-pattern.png'!default;
$header-logo: '../images/logo.png' !default;

/* Header Styles */
.header-main {
  width: 100%;
  position: relative;
  background: url($header-bg) repeat;
  height: $header-height;
  // @include transition(height .4s); // multiple: comma-delimited

  @include respond-to(#{$handheld}) {
    height: $header-height-tablet;
    z-index: 10;
    @include box-shadow(0px 0px 5px rgba(#000, .9));
  }
  @media #{$mobile} {
    height: $header-height-mobile;
  }

  // Header 'X' Pattern
  &:after {
    content: url($header-bg-pattern);
    position: absolute;
    top: -96px; //fualt from psd ! need to re-cut !
    right: 0;
    @include respond-to(#{$handheld}) {
      @include mobile-hide;
    }
  }
}

.header-content-wrap {
  @include content-wrapper;
  @extend .clearfix;
  position: relative;
  text-align: center;
}

.header-logo {
  float: left;
  width: 147px;
  height: 99px;
  line-height: $header-height;
  @include respond-to(#{$handheld}) {
    img {
      display:none;
    }
    &:after {
      content: '';
      @include ir('logo-tablet.png');
      height: 95%;
    }
    @include mobile-spread;
    text-align: center;
    position: relative;
    display: block;
    height: $header-height-tablet;
    line-height: $header-height-tablet * .9;
  }
  @media #{$mobile} {
    img {
      display:none;
    }
    &:after {
      content: '';
      @include ir('logo-mobile.png');
      height: 95%;
    }
    height: $header-height-mobile;
    line-height: $header-height-mobile * .9;
  }
}

.header-buttons{
  z-index: 2;
  float: right;
  position: relative;
  top: 12px;

  a,
  a:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: $helvetica-regular;
    vertical-align: middle;
    color: white;
    margin-left: 5px;
  }

  a.contact {
    color: $mgreen;
    background-color: white;
    padding: 5px 10px;
  }

  @include respond-to(#{$handheld}) {
    @include mobile-hide;
  }

}

/* Mobile classes only, hidden in Desktop */
.mobile-menu-icon {
  @include desktop-hide;
  @include respond-to(#{$handheld}) {
    @include mobile-show;
    width: image-width('menu-icon-tablet.png');
    height: image-width('menu-icon-tablet.png');
    background: image-url('menu-icon-tablet.png') no-repeat center;
    position: absolute;
    padding: 25px 30px;
    top: 0;
    left: 0;
    z-index: 9;
  }
  @media #{$mobile} {
    width: image-width('menu-icon-mobile.png');
    height: image-width('menu-icon-mobile.png');
    background: image-url('menu-icon-mobile.png') no-repeat center;
    padding: 12px 3%;
  }
}

.mobile-lang-icon {
  @include desktop-hide;
  @include respond-to(#{$handheld}) {
    @include mobile-show;
    @include ir('icn-lang.png');
    position: absolute;
    padding: 25px 30px;
    top: 0;
    left: 90px;
    z-index: 9;
  }
  @media #{$mobile} {
    width: image-width('icn-lang-mobile.png');
    height: image-width('icn-lang-mobile.png');
    background: image-url('icn-lang-mobile.png') no-repeat center;
    left: 45px;
    padding: 12px 3%;
  }
}

.mobile-search-icon {
  @include desktop-hide;
  @include respond-to(#{$handheld}) {
    @include mobile-show;
    width: image-width('search-tablet.png');
    height: image-width('search-tablet.png');
    background: image-url('search-tablet.png') no-repeat center;
    padding: 25px 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }
  @media #{$mobile} {
    width: image-width('search-mobile.png');
    height: image-width('search-mobile.png');
    background: image-url('search-mobile.png') no-repeat center;
    padding: 12px 3%;
  }
}
