
// ----------------------------------------------
//               List Component
// ----------------------------------------------

.list-item {
  clear: both;
  border-bottom: 1px solid $lightgrayborder;
  padding: 12px 0;
  @extend .clearfix;
  &.first {
    border-top: 1px solid $lightgrayborder;
  }
  .item-img {
    float: left;
  }
  .item-content {
    margin-left: 130px;
    @include transition(color .4s);
  }
  .item-title {
    color: $mgreen;
    margin: 0;
    @include transition(color .4s);
  }
  a:hover {
    &,
    & .item-title,
    #video-gallery & .item-title span {
      color: $morange;
    }
  }
}
