/* Main Body Styles */

.component-header {
  color: $mgreen;
}

.main-content > section {
  margin-bottom: 20px;
}

.featured-main {
  @include content-wrapper;
  @media #{$tablets-n-desktop} {
    .flex-yep & {
      @include layout-flex;
    }
    .flex-nope & {
      @extend .clearfix;
      @include layout-justify;
    }
  }
  html.lte-ie8 & {
    @extend .clearfix;
    @include layout-justify;
  }
  padding: 36px 0;
  padding-top: 36px;
  padding-bottom: 21px; /*due to white space left by pseudo element :after for justify*/
  border-bottom: solid $darkgrayborder 1px;
}

.feature {
  width: px2perc(300px);
  min-height: 102px;
  padding: 7px;
  display: inline-block;
  border: solid $lightgrayborder 1px;
  vertical-align: top;
  background-color: white;
  @include box-shadow(1px 1px 1px rgba(#000, .1));
  @include box-sizing(border-box);
  @extend .clearfix;

  .feature-img {
    margin: 0;
    padding-right: 3%;
    @include layout(43%);
  }
  .feature-text {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    color: $mtextgray;
  }

  .feature-header {
    font-size: 19px;
    margin: 0;
  }

  .feature-details {
    text-align: left;
    @include layout(57%);
  }

  @media #{$mobile} {
    @include mobile-spread;
    display: block;
    margin: 0 3% 15px;
    .feature-header,
    .feature-text{
      font-size: 15px;
    }
    .feature-text{
      margin-top: 5px;
    }
  }


}

@include respond-to(#{$tablets}, true) {
  .featured-main {
    @include mobile-spread;
    padding: 36px 30px 20px;
  }
  .feature {
    .feature-img,
    .feature-details {
      @include mobile-spread;
    }
    .feature-details {
      padding-bottom: 10px;
    }
    .feature-header {
      font-size: 19px;
    }
    .feature-img {
      padding: 0;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
  }
}

@media #{$mobile} {
  .featured-main {
    padding: 30px 0 0;
  }
}

.play-icon {
  position: relative;
  display: block;
  &:after {
    content: image-url('play-icn.png');
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: - image-height('play-icn.png') / 2;
    margin-left: - image-width('play-icn.png') / 2;
    z-index: 9;
  }
}

.front-main{
  margin-top: 36px;
  margin-bottom: 21px;  /*due to white space left by pseudo element :after for justify*/

  @media #{$tablets-n-desktop} {
    .flex-yep & {
      @include layout-flex;
    }

    .flex-nope & {
      @extend .clearfix;
      @include layout-justify;
    }
  }

  @include respond-to(#{$tablets}) {
    @include mobile-spread;
    padding: 0 30px;
  }

  html.lte-ie8 & {
    @extend .clearfix;
    @include layout-justify;
  }
}

.main-post {
  width: px2perc(300px);
  display: inline-block;
  border: solid $lightgrayborder 1px;
  color: $mtextgray;
  vertical-align: top;
  background-color: white;
  @include box-shadow(1px 1px 1px rgba(#000, .1));
  @include box-sizing(border-box);

  @media #{$mobile} {
    display: block;
    @include mobile-spread;
    @include box-shadow(none);
    border: none;
    .main-post-header{
      font-size: 20px;
      height: 37px;
      line-height: 37px;
    }
    .main-post-text{
      font-size: 15px;
      a{
        color: $mtextgray;
      }
    }
    .post-time{
      font-size: 12px;
    }
  }

}

.main-post-header {
  text-align: left;
  font-size: 19px;
  line-height: 35px;
  color: white;
  margin: 0;
  border-bottom: solid $lightgrayborder 1px;
  a {
    padding: 0 10px;
    color: #fff;
    display: block;
    background: url(../images/h-carret.png) 94% 50% no-repeat;
    &:hover {
      color: #fff;
      opacity: .8;
    }
  }
}

.main-post-text {
  margin: 0 10px;
  padding: 10px 0;
  text-align: left;

}

.post-time {
  font-size: 13px;
  margin: 0 10px;
  color: #adadad;
  &:not(:last-child){
    border-bottom: solid $lightgrayborder 1px;
  }

  padding: 10px 0;
}

.green-bg {
  background-color: $mgreen;
}
.orange-bg {
  background-color: $morange;
}
.gray-bg {
  background-color: $mgray;
}
.green-txt {
  color: $mgreen;
}
.orange-txt {
  color: $morange;
}
.gray-txt {
  color: $mgray;
}

// .ie9 {
//   .featured-main, .front-main {
//     @include layout-justify;
//   }
// }
