.main-media-wrapper {

  .content-list {
    margin-bottom: 32px;
    margin-top: 22px;
    LI {
      @extend .clearfix;
      padding: 10px 0;
      border-bottom: solid 1px lightgray;
      .content-img {
        @include layout(14%);
      }
      .content-header{
        @extend .green-txt;
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
      }
      .content-details {
        margin-left: 2%;
        @include layout(84%);
        p {
          margin: 0;
        }
      }

      .content-text {
        margin: 0;
      }
    }
  }
    .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header h3.orange-txt {
      color: rgb(239, 130, 0);
    }

  .inner-tabs-wrapper .inner-l3-tabs-container .pages-ind li {
    border: none;
  }

  .l3-content-item {
    .video-img {
      float: left;
      margin: 2%;
      margin-left: 0;
      width: 114px;
      height: 85px;
      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }
    }

    .video-details {
      margin-left: 130px;
      .content-title {
        margin-top: 5px;
      }
      p.content-description {
        // width: 100%;
        float: none;
      }
      // @include layout(73%);
    }
  }

  .ebook-img {
    @include layout(25%);
    margin: 2%;
    margin-left: 0;
  }

  .ebook-details {
    @include layout(48%);
    .content-title {
      margin-top: 5px;
    }
  }

  .ebook-btn {
    @include layout(25%);
    height: 109px;
    .read-btn {
      display: inline-block;
      width: 100px;
      position: relative;
      font-size: 17px;
      color: #fff;
      background: #ef8200;
      padding: 10px 10px;
      text-shadow: 1px 1px 1px rgba(#000, .5);
      border: 1px solid lighten(#ef8200, 15%);
      margin: 30px 0;
      @include pie-border-radius(5px);
      @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#ef8200, 30%));
      @include transition(all .3s);
      &:hover {
        color: #fff;
        background-color: lighten(#ef8200, 15%);
      }
    }
  }

  .inner-tabs-wrapper{
    @extend .clearfix;
    margin-top: 20px;
    .inner-tabs-l2-nav {
      @extend .clearfix;
      li {
        height: 34px;
        line-height: 34px;
        cursor: pointer;
        font-size: 19px;
        font-weight: 600;
        color: white;
        padding-left: 10px;
        border: none;
        // @include layout(1/3);
        width: 32%;
        float: left;
        @include box-sizing(border-box);
        &.right-gutter {
          margin-right: 2%;
        }
        background-image: url(../images/right-arw.png);
        background-repeat: no-repeat;
        background-position: 93% 50%;
        &.resp-tab-active {
          background-image: url(../images/down-arw.png);
        }
      }
    }
    .inner-tabs-l3-nav {
      @include layout(34%);
      margin-top: 40px;
      li {

        font-size: 19px;
        border-bottom: 1px solid lightgray;
        width: 60%;
        margin-bottom: 30px;
      }


      a.active {
        color: #aab300;
        &.orange-txt {
          color: #ef8200;
        }
      }
    }

    .inner-l3-tabs-container {
      padding-top: 20px;
      @extend .clearfix;
      & > div {
        // Tabs
        @include layout(66%);
      }

      li {
        @extend .clearfix;
        position: relative;
        border-bottom: solid 1px lightgray;
      }
      .l3-tab-header {
        padding-bottom: 14px;
        height: 30px;
        line-height: 30px;
        h3 {
          @extend .green-txt;
          margin: 0;
          @include layout(51.5%);
          font-size: 19px;
        }
      }
      .content-title {
        margin-bottom: 5px;
        font-size: 19px;
      }

      .content-description {
        @include layout(75%);
        margin-top: 0;
      }
      .content-link {
        @include layout(25%);
        text-align: right;
        position: absolute;
        margin-bottom: 14px;
        bottom: 0;
        right: 0;
        float: right;
        text-decoration: underline;
        color:#aab300;
      }

    }
  }

  .key-facts {
    border: solid 1px lightgray;
    text-align: left;
    td {
      text-align: left;
      padding-left: 15px;
    }
    tr:nth-child(2n+1) {
      .key-head {
        background-color:  darken(#aab300, 1%);
      }
      .key-data {
        background-color:  darken(#FFF, 3%);
      }
    }
    .key-head {
      color: white;
      background-color: #aab300;
      padding-left: 15px;
      width: 25%;
    }
  }

  .key-acq {
    .key-head {
      text-align: center;
      width: 16%;
      padding-left: 5px;
    }
  }

  .extra-bottom-border {
    border-bottom: 1px solid lightgray;
  }

  .form-wrapper {
    width: 460px;
  }

  .awards {
    @extend .clearfix;
    img {
      border: 1px solid lightgray;
    }

    .award {
      float: left;
      width: 156px;
      // margin-right: 30px;
      text-align: left;
      margin-right: 35px;
    }

    .award-header {
      font-size: 18px;
      color: #aab300;
    }

    .award-text {
      font-size: 14px;
    }
  }

  .main-tab-content, .resp-tab-content {
    border: none;
    // padding: 15px 0 15px;
  }

  .speaker-box {
    position: relative;
    border: 1px solid lightgray;
    margin-top: 20px;

    .speaker-header {
      margin-top: 0;
      line-height: 50px;
      color: white;
      background-color:#616265;
      padding-left: 110px;
    }
    .speaker-text {
      font-size: 14px;
      padding-left: 110px;
    }

    img {
      width: 82px;
      height: 79px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 15px;
    }
    .close-speaker-box {
      background-image: url('../images/x.png');
      display: inline-block;
      width: 13px;
      height: 13px;
      cursor: pointer;
      position: absolute;
      right: 18px;
      top: 18px;
    }
  }

  .speaker-list {
    padding-top: 20px;
    @include layout-justify();
    .speaker-list-item {
      text-align: left;
      // margin-right: 10px;
      cursor: pointer;
      width: 156px;
      display: inline-block;
      .speaker-name {
        margin: 10px 0 0;
        font-size: 18px;
      }

      .speaker-role {
        margin: 0;
        font-size: 14px;
      }

      .speaker-details {
        margin: 10px 0 0;
        font-size: 14px;
        height: 54px;
      }

      a {
        color: #aab300;
        text-decoration: underline;
      }
    }
  }

  .stacktable.small-only{
    .table-row {
      border: none;
    }
  }
  .table-row:nth-child(odd) {
    background-color: #f7f7f7;
  }


  .year-select-wrapper {
    @include layout(48.5%);

    .year-label {
      @include layout(27%);
      background-color: lightgray;
      height: 30px;
      line-height: 30px;
      color: #646464;
      text-align: center;
      font-size: 14px;
    }
    .year-select {
      @include layout(73%);
      height: 30px;
      border-left: none;
      border-color: lightgray;
      // Disable Specific Platform Stylings
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background: transparent;
      background: white url("../images/select-btn.png") no-repeat 100% 50%;
      border-radius: 0;
    }

      .chosen-container{
        float: left;
      }
  }

  .main-content-header {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .main-tab {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .resp-tab-content {
    padding-top: 0;
  }

  .report-img {
    @include layout(14%);
    margin: 3%;
  }

  .report-description {
      @include layout(40%);
      margin-right: 10%;

  }

  .report-dn-btn {
      @include layout(30%);
      margin: 3% 0%;
      .download-btn {
        display: inline-block;
        width: 120px;
        position: relative;
        font-size: 18px;
        color: #fff;
        background: #aab300;
        padding: 10px 10px;
        text-shadow: 1px 1px 1px rgba(#000, .5);
        border: 1px solid lighten(#aab300, 5%);
        margin: 20px 0;
        @include pie-border-radius(5px);
        @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#aab300, 10%));
        @include transition(all .3s);
        &:hover {
          color: #fff;
          background-color: lighten(#aab300, 5%);
        }

        span {
          font-size: 12px;
        }

        .download-icon {
          position: relative;
          top: 1px;
          right: 0;
          padding-left: 20px;
          position: absolute;
          @include ir('download.png');
          border-left: 1px solid lighten(#aab300, 10%);
          height: 42px;
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            border-left: 1px solid lighten(#aab300, 5%);
          }
        }
      }
  }

  span.result-nav-head.orange-txt, a.next-results.orange-txt {
    color: #ef8200;
  }

  .l3NavSelect {
    display: none;
  }

  select.wide {
    display: none;
  }

  @media #{$mobile} {

    .mobile-l3-tab {
      display: none;
      &.active {
        display: block;
      }
    }

    .l3NavSelect {
      display: block;
      font-size: 14px;
      border: solid 1px lightgray;
      height: 30px;
      padding-left: 8px;
      @include layout(51.25%);
      color: #aab300;
      border-color: lightgray;
      @include appearance(none);
      background: transparent;
      background: white url("../images/select-btn.png") no-repeat 100% 50%;
      border-radius: 0;
    }

    .content-list {
      display: none;
    }
    .inner-tabs-wrapper .inner-tabs-l2-nav li {
      width: 100%;
    }

    .awards {
      .award {
        width: 100%;
      }
    }

    .key-head, .key-data {
      display: block;
      float: none;
    }
    .inner-tabs-l3-nav {
      display: none;
    }
    .inner-tabs-wrapper{
      .inner-l3-tabs-container {
      & > div {
        // Tabs
        width: 100%;
        }
      }
    }
    .inner-l2-tabs-container{
      h2.resp-accordion, h2.resp-accordion.resp-tab-active {
        font-size: 19px;
        height: 24px;
        font-weight: 600;
        color: white;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:nth-of-type(1) {
          background-color: rgb(170, 179, 0);
          margin-top: 9px;
        }
        &:nth-of-type(2) {
          background-color: rgb(239, 130, 0);
        }
        &:nth-of-type(3) {
          background-color: rgb(97, 98, 101);
          margin-bottom: 9px;
        }
      }
    }

    .inner-l2-tab3{
      .speaker-list {
        .speaker-list-item {
            @include layout(100%);
            margin-bottom: 15px;
         }
        }
      }
    .main-tab-content {
      border: solid 1px lightgray;
    }

    .inner-tab-content {
      padding: 15px;
    }
    .speaker-list {
      padding-top:0;
    }
    .speaker-list-item {
      // margin: 10px 0 0;
      border: solid 1px lightgray;
    }

    .stacktable.small-only {
      .table-row {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin-left: -15px;
      }
    }

    .l3-content-item {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      margin-left: -15px;
    }

    .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header h3 {
      display: none;
      font-size: 14px;
      border: solid 1px lightgray;
      height: 30px;
      padding-left: 8px;
    }


    select.wide {
        width: 100%;
        display: block;
        font-size: 14px;
        border: solid 1px lightgray;
        height: 30px;
        padding-left: 8px;
        color: #ef8200;
        @include appearance(none);
        background: transparent;
        background: white url("../images/select-btn.png") no-repeat 100% 50%;
        border-radius: 0;
    }

    .year-select-wrapper .year-select {
      width: 50%;
    }
    .year-select-wrapper .year-label {
      width: 50%;
    }
    .inner-tabs-wrapper .inner-l3-tabs-container .l3-tab-header {
      padding-bottom: 15px;
      border-bottom: none;
    }
    .inner-tabs-wrapper .inner-l3-tabs-container {
      padding-top: 0;
    }
    .inner-tabs-wrapper .inner-l3-tabs-container .content-description {
      float: none;
      width: 100%;
    }
    .inner-tabs-wrapper .inner-l3-tabs-container .content-link {
      float: none;
      width: 100%;
      position: relative;
    }
    h2.resp-accordion, h2.resp-tab-active {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 40px;
    }


    .report-img {
      display: none;
      width: 100%;
      margin: 0;
      margin-top: 15px;
    }
    .report-description {
      width: 100%;
      .content-title {
        margin-top: 5px;
      }
    }
    .report-dn-btn {
      width: 100%;
      height: 45px;
      .download-btn {
        margin: 0;
      }
    }

    .ebook-btn {
      width: 100%;
      height: 45px;
      margin-bottom: 10px;
      .read-btn {
        margin: 0;
      }
    }
    .ebook-details{
      width: 100%;
    }
    .ebook-img{
      width: 100%;
    }
    // .l3-content-item{

    //   .video-img {
    //     width: 100%;
    //   }

    //   .video-details {
    //     width: 100%;
    //   }
    // }
    // End of mobile media query

    .speaker-box {
      img {
        width: 100%;
        height: auto;
        position: static;
        margin: 0;
      }

      .speaker-header {
        line-height: 32px;
        padding: 20px;
      }

      .speaker-text {
        padding: 20px;
      }
    }

    .form-wrapper {
      width: auto;
    }
  }
}

