/* Navigation Styles */
$main-nav-bg-color: white;
$main-nav-height: 50px;

.nav-main-container {
  width: 100%;
  background: $main-nav-bg-color;
  @include respond-to(#{$handheld}) {
    z-index: 9;
    @include box-shadow(0px 0px 5px rgba(#000, .5));
  }
}

.nav-main-content-wrap {
  @include content-wrapper;
  @extend .clearfix;
  .nav-main {
    margin: 0;
    padding: 0;
    @include respond-to(#{$handheld}) {
      @include mobile-hide;
    }
  }
}

.nav-main > li {
  float: left;
  margin-right: 40px;
  //font settings
  font-size: 14px;
  > a {
    height: 50px;
    line-height: 50px;
    border-bottom: 4px solid transparent;
    @include box-sizing(border-box);
    @include transition(all .3s);
    &:hover,
    &.active {
      color: $linkhovercolor;
      border-bottom: 4px solid $linkhovercolor;
   }
  }
  a {
    color: #686868;
    display: block;
  }
}

// Drop Downs
.nav-main-dd {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: #ecf0f1;
  z-index: 11;
  @include transition(all .5s ease-in-out);

  li.hovered > & {
    max-height: 1000px;
    @include box-shadow(0px 5px 5px rgba(#000, .2));
  }
  html.lte-ie8 li > & {
    max-height: 0 !important;
  }
  html.lte-ie8 li:hover > & {
    max-height: 1000px !important;
  }
  .nav-main-dd-container {
    @include content-wrapper;
    padding: 20px 0;
  }
  .dd-link-col {
    width: 130px;
    @include box-sizing(content-box);
    display: table-cell;
    vertical-align: top;
    padding: 0 15px 0 20px;
    border-right: 1px solid #fff;
    border-left: 1px solid #dee2e3;
    &:first-child {
      padding-left: 0;
      border-left: none;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
  ul {
    padding-bottom: 20px;
  }
  .dd-links:last-child ul {
    padding-bottom: 0;
  }
  h3 {
    color: $linkhovercolor;
    margin: 10px 0;
  }
  a {
    padding: 5px 0;
    line-height: 1.4;
  }
}

.nav-main-btn {
  position: relative;
  float: right;
  height: 50px;
  line-height: 50px;
  display: inline-block;

  .globe-icon {
    float: left;
    display: inline-block;
    background: url('../images/globe.png') center no-repeat;
    width: 22px;
    height: 50px;
    margin-right: 5px;
    @include respond-to(#{$handheld}) {
      @include mobile-hide;
    }
    &:hover, &.active {
      background: url('../images/globe-selected.png') center no-repeat;
    }
  }

  .search-input-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include respond-to(#{$handheld}) {
      display: block;
    }
    .search-icon {
      @include ir('search.png');
      @include respond-to(#{$tablets}) {
        @include ir('search-big.png', image-width('search-big.png'), 100%);
      }
      position: absolute;
      height: 100%;
      top: 0;
      right: 3%;
    }
  }

  .search-input {
    width: 223px;
    height: 32px;
    padding-left: 10px;
    margin: 0;
    padding-right: 20px;
    line-height: 28px;
    border: solid $lightgrayborder 1px;
    font-family: $helvetica-light;
    @include box-sizing(border-box);
  }
  @include respond-to(#{$handheld}) {
    background: #fff;
    width: 100%;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    line-height: initial;
    z-index: 9;
    @include transition(all .3s);
    &.visible {
      max-height: 99px;
    }
    .search-input {
      border: none;
      width: 100%;
      background: none;
      font-size: 34px;
      height: auto;
      line-height: 1.5;
      padding: 10px 30px;
    }
  }
  @media #{$mobile} {
    .search-input {
      font-size: 17px;
      padding: 10px 3%;
    }
  }
}

//Language Drop-Down
.lang-dd-menu {
  font-family: helvetica_neuelight, Helvetica, Arial, 'Lucida Grande', sans-serif;
  position: absolute;
  top: 50px;
  left: -45px;
  width: 110px;
  max-height: 0;
  overflow: hidden;
  background: #ecf0f1;
  font-size: 13px;
  text-align: center;
  z-index:12;

  @include transition(all .3s);
  @include box-shadow(0px 5px 5px rgba(#000, .2));

  &.active {
    max-height: 208px;
  }

  .lang-dd-menu-header {
    color: #ef8200;
    margin: 0;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding-top: 12px;
  }
  .lang-dd-menu-col {
    padding-bottom: 18px;
  }
  .lang-dd-menu-item {
    height: 28px;
    line-height: 28px;
    a {
      color: #686868;
      &:hover {
        color: #ef8200;
      }
    }
  }
}


/* Mobile Navigation Styles */
html,
body {
  overflow-x: hidden;
}
@include respond-to(#{$handheld}, true) {
  #page {
    @include translate3d(0, 0, 0);
    @include backface-visibility(hidden);
    @include transition(transform .3s);
    &.side-menu {
      @include translate3d(284px, 0, 0);
    }
  }
}

%nav-column {
  background-color: #32393f;
  overflow: hidden;
  li {
    border-bottom: 1px solid #1f2122;
    border-top: 1px solid #4a4f55;
  }
  .back, {
    border-bottom: 1px solid #1f2122;
  }
  .with-sub-menu {
    > a {
      &:after {
        content: "";
        @include ir('arw-right.png', image-width('arw-right.png') / 2, 19px);
        background-position: 0 center;
        float: right;
      }
    }
  }
  a,
  a:visited,
  .back {
    color: $linkcolor;
    font-size: 15px;
    display: block;
    padding: 20px 25px;
    background-color: #32393f;
    cursor: pointer;
    @include transition(all .2s);
    &:hover,
    &:active,
    &:focus {
      background-color: #2a3137;
      color: $mgreen;
      &:after {
        background-position: 100% center;
      }
    }
    &.active {
      color: $mgreen;
    }
  }
  h3 {
    margin: 0;
    color: $mgreen;
    a,
    span {
      display: block;
      color: inherit !important;
      font-size: inherit;
      padding: 20px 25px;
      margin: 0;
      border-bottom: 1px solid #1f2122;
      border-top: 1px solid #4a4f55;
    }
  }
  .lang {
    > a {
      position: relative;
      background-color: #4a4f55;
      color: #222324;
      &:after {
        background: image-url('arw-right-dark.png') no-repeat center;
      }
      &:hover,
      &:active,
      &:focus {
        color: $mgreen;
        &:after {
          background: image-url('arw-right.png') no-repeat 100% center;
        }
      }
    }
    .chosen-lang {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px 50px;
    }
    ul a {
      &.active {
        background-color: #2a3137;
      }
    }
  }
  .back {
    &:before {
      content: "";
      @include ir('arw-left.png', image-width('arw-left.png') / 2, 19px);
      background-position: 100% center;
      float: left;
      margin-right: 8px;
    }
    &:hover {
      &:before {
        background-position: 0 center;
      }
    }
  }
  .nav-dd-menu {
    display: none;
    li {
      border: none;
    }
  }
  .with-dd-menu {
    > a {
      &:after {
        content: "";
        @include ir('arw-down.png', 19px, image-height('arw-down.png') / 2);
        background-position: center 0;
        float: right;
        margin-top: 7px;
      }
      &:hover,
      &.active {
        &:after {
          background-position: center 100%;
        }
      }
    }
  }
}

.mobile-nav-container {
  @extend %nav-column;
  display: none;
  position: absolute;
  top: 0;
  left: -284px;
  width: 100%;
  max-width: 284px;
  min-height: 100%;
  z-index: 99;
  @include transition(box-shadow .2s);
  @include respond-to(#{$handheld}) {
    display: block;
  }
  &.visible{
    @include box-shadow(0px 0px 15px rgba(#000, .5));
  }
  .sub-menu-wrp {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    @include transition(right .2s);
    &.sub-menu-opened {
      right: -284px;
      &.mobile-nav-sub-menu {
        right: 0;
      }
    }
  }
  .mobile-nav-sub-menu {
    display: none;
    position: absolute;
    width: 100%;
    right: 100%;
    top: 0;
    &.visible,
    &.sub-menu-opened {
      display: block;
    }
  }
}

// Desktop left nav column
.left-nav-container {
  @extend %nav-column;
  @media #{$desktop-only} {
    width: $sidebar-first;
  }

}
