.search-results {

  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding-top: 16px;


  .result-cnt {
    font-family: sans-serif;
    float: right;
    font-size: 18px;
    margin-top: 16px;
    color: #646464;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
  }

  .main-content-sub-header {
    color: #646464;
    a.active{
      color: #aab300;
    }

    a:first-of-type {
      margin-left: 10px;
    }
  }

  .main-content-header {
    font-size: 32px;
    margin: 16px 0;
  }
  .result-title {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 5px;
    a:hover {
      color: #aab300;
    }
  }

  .result-desc {
    font-size: 14px;
    margin: 0;
    color: #646464;
  }

  .result-list {
    margin-top: 50px;
    padding-right: 14px;
  }

  .result-item {
    margin: 40px 0;
    // a:hover {
    //   color:
    // }
  }

  .result-item:last-of-type {
    margin-bottom: 18px;
  }
}

.result-nav {
  font-size: 16px;
  margin: 18px 0;
  font-weight: 600;
}

.result-nav-head {
  float: left;
  margin-right: 5px;
  color: #aab300;
}

.pages-ind {
  float: left;
  li {
    margin: 0 5px;
    float: left;

    a.active {
      color: #ef8200;
    }
  }
}

a.next-results {
  padding-right: 20px;
  background: image-url( 'next-arw.png') no-repeat 100%;
  margin-left: 5px;
  color: #aab300;
  &:hover {
    color: #ef8200;
  }
  span {
    display: none;
  }
}


@include respond-to(#{$handheld}, true) {
  .search-results{
    padding-left: 14px;

    .breadcrumbs {
      display: none;
    }

    .main-content-sub-header {
      a {
          font-weight: 100;
      }
    }
  }

  .result-nav {
    padding: 0 20px;
  }



}

@media #{$mobile} {
  .result-cnt {
    display: none;
  }
  a.next-results {
    span {
      display: inline;
    }
  }

  .result-nav-head, .pages-ind {
    display: none;
  }

  .search-results{
    .main-content-header {
      margin-top: 0;
    }

    .result-list {
      margin-top: 0;
    }

    .result-title {
      font-size: 15px;
    }

    .result-list {
      .result-item {
        margin: 25px 0;
      }
    }

    .main-content-sub-header {
      font-weight: 100;
      font-size: 14px;
      margin-bottom: 0;
      span {
        display: none;
      }

      a:first-of-type {
        margin-left: 0;
      }
    }

    .main-content-header {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  .result-nav {
    padding: 0 14px;
  }
  a.next-results {
    margin-left: 0;
  }
}
