
// ----------------------------------------------
//                    Sidebars
// ----------------------------------------------

@mixin desktop-only {
  .inner-main {
    display: table;
    table-layout: fixed;
    position: relative;
    > aside,
    > section {
      display: table-cell;
      vertical-align: top;
    }
  }
  .left-nav-container {
    width: $sidebar-first;
  }
  .main-content {
    width: $main-content;
    border-top: 1px solid $lightgrayborder;
    padding-top: 10px;
    @include box-sizing(border-box);
  }
  .right-nav-container {
    border-top: 1px solid $lightgrayborder;
    padding-top: 10px;
    @include box-sizing(border-box);
    width: $sidebar-second;
  }

  .main-content.no-right-bar {
    width: $main-content-no-right-bar;
    padding-right: 0;
    padding-left: 3%;
    color: $mtextgray;
  }
}

@media #{$desktop-only} {
  @include desktop-only;
}

.lte-ie8 {
  @include desktop-only;
  .left-nav-container {
    width: 220px;
  }
  .main-content {
    width: 517px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .right-nav-container {
    width: 223px;
  }

}

@include respond-to(#{$handheld}, true) {
  .left-nav-container {
    display: none;
  }
  .main-content {
    @include layout(70%);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .right-nav-container {
    @include layout(30%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 3%;
  }
  .main-content.no-right-bar {
    @include layout(100%);
    padding-right: 3%;
    padding-left: 3%;
    color: $mtextgray;
  }
}

@media #{$mobile} {
  .main-content {
    @include mobile-spread;
  }
  .right-nav-container {
    @include mobile-spread;
    padding-right: 3%;
    padding-left: 3%;
    .feature-img img {
      width: 100%;
    }
  }
}

.main-content {
  padding-right: 3%;
  padding-left: 3%;
  color: $mtextgray;
}

.right-nav-container {
  .feature-img {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .feature-label {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    background: rgba(#000, .6);
    width: 100%;
    padding: 5px 7px;
    font-size: 13px;
    color: #fff;
    @include box-sizing(border-box);
  }
}

// Share buttons
.share-btns {
  position: absolute;
  right: 0;
  top: 18px;
  text-align: right;
  font-size: 1px;
  z-index: 5;
  @include respond-to(#{$handheld}) {
    right: 3%;
  }
  .share-btn {
    border-left: 1px solid #eeeff1;
    padding-left: 15px;
    min-height: 17px;
    &.share {
      @include ir('icn-share.png');
    }
    &.mail {
      @include ir('icn-mail.png');
    }
    &.print {
      @include ir('icn-print.png');
    }
    &:first-child {
      border: none;
    }
  }
}

// Learn tab
.tab-box {
  margin: 5px 0 20px;
  .tabs {
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
  }
  .tab {
    display: inline-block;
    border: 1px solid $lightgrayborder;
    border-bottom: none;
    background: #fff;
    color: $mgreen;
    padding: 3px 10px;
    @include pie-border-radius(3px 3px 0 0);
  }
  .tab-content {
    padding: 5px 10px;
    border: 1px solid $lightgrayborder;
    a {
      display: block;
      padding: 5px 0 5px 23px;
      color: #646464;
      background: image-url('icn-link.png') no-repeat 0 .5em;
      &.doc {
        background-image: image-url('icn-doc.png');
      }
    }

     // Pie Polyfill's
    @include pie-border-radius(0 0 3px 3px);
  }

  .quote {
    margin: 0;
    font-style: italic;
    color: #646464;
    span {
      font-size: 20px;
      font-style: normal;
      font-family: $helvetica-regular;
      line-height: 0;
    }
  }

  .quote-id {
    margin: 5px 0;
    color: #646464;
  }

  &.quote-box {
    position: relative;
    margin-bottom: 30px;
    .tab-content:after {
      content: image-url('quote-arw.png');
      width: image-width('quote-arw.png');
      height: image-height('quote-arw.png');
      position: absolute;
      top: 100%;
      margin-top: -1px;
      right: 8px;
      z-index: 3;
    }
  }
}
.right-nav-container {
  .contact-btn {
    display: block;
    position: relative;
    font-size: 18px;
    color: #fff;
    background: #ef8200;
    padding: 10px 10px;
    text-shadow: 1px 1px 1px rgba(#000, .5);
    border: 1px solid lighten(#ef8200, 15%);
    margin: 20px 0;
    @include pie-border-radius(5px);
    @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#ef8200, 30%));
    @include transition(all .3s);
    &:hover {
      color: #fff;
      background-color: lighten(#ef8200, 15%);
    }

    .env {
      position: relative;
      top: 1px;
      right: 0;
      padding-left: 20px;
      position: absolute;
      @include ir('contact.png');
      border-left: 1px solid lighten(#ef8200, 30%);
      height: 42px;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 100%;
        border-left: 1px solid lighten(#ef8200, 15%);
      }
    }
  }
  .client-box {
    margin-bottom: 20px;
    .client-box-head {
      margin: 0;
      color: #fff;
      padding: 10px;
      font-size: 19px;
    }

    .client {
      position: relative;
      top: -1px;
      border: 1px solid lightgray;
      border-bottom: none;
      line-height: 110px;
      display: block;
      text-align: center;
      height: 111px;
    }
    .client-nav-top, .client-nav-bottom {
      display: block;
      height: 42px;
      line-height: 42px;
      border: 1px solid lightgray;
      text-align: center;
      vertical-align: middle;
      .client-nav-up {
        @include ir("client-arw-up.png");
      }

      .client-nav-down {
        @include ir("client-arw-down.png");
      }
    }

    .client-nav-top {
      // border-bottom: none;
    }

    .client-nav-bottom {
      background: white;
      position: relative;
      top: -1px;
    }
  }

  .find-solution {
    color: #646464;
    padding: 10px 20px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: #ef8200;
      @include transition(all .3s);
      &:hover {
        color: lighten(#ef8200, 15%);
      }
    }
    p {
      margin-top: 0;
    }
  }

  .vertical-slider {
    .vertical-slide {

    }
  }
}
