
// ----------------------------------------------
//           HP Responsive Image Slider
// ----------------------------------------------

.slider {
  position: relative;
  .slide {
    overflow: hidden;
    position: relative;

    // .lte-ie8 & {
    //   height: 339px;
    // }

  }
  .slide-img-wrp {
    position: relative;
    z-index: -1;
    text-align: center;
    img {
      display: inline-block;
    }

    .lte-ie8 & {
      display: none;
    }
  }
  // Center a big <img>.
  // http://stackoverflow.com/questions/20072399/centre-image-in-div-original-can-be-bigger-than-div
  .slide-bg-img-wrp {
    position: absolute;
    height: 100%;
    width: 200%;
    left: -50%;
    overflow: hidden;
    text-align: center;
    z-index: -1;
    img {
      display: inline-block;
    }
  }
  .slide-content {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    .lte-ie8 & {
      @include content-wrapper;
      position: relative;
    }
  }
  .slide-text {
    width: 60%;
    font-size: 55px;
    color: #616265;
    font-family: $helvetica-light;
    line-height: 1;
    margin-bottom: 30px;

    @include transition(font-size .4s); // multiple: comma-delimited
    a {
      @include transition(all .3s);
    }
    a:hover {
      color: #ef8200;
    }
  }

  .dark-slide .slide-text {
    color: #fff;

    a {
      @include transition(all .3s);
      color: #fff;
    }
    a:hover {
      color: #ef8200;
    }
  }
  .slide-btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #ef8200;
    padding: 10px 30px;
    text-shadow: 1px 1px 1px rgba(#000, .5);
    border: 1px solid lighten(#ef8200, 15%);
    margin-bottom: 5px;
    @include pie-border-radius(5px);
    @include box-shadow(1px 1px 1px rgba(#000, .3), inset 0 1px 0 lighten(#ef8200, 30%));
    @include transition(all .3s);
    &:hover {
      color: #fff;
      background-color: lighten(#ef8200, 15%);
    }
  }
  .slider-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
    padding: 15px 0;
    a {
      vertical-align: middle;
    }
  }
  .slider-prev {
    @include ir('slider-prev.png');
    margin: 0 15px;
  }
  .slider-next {
    @include ir('slider-next.png');
    margin: 0 15px;
  }
  .slider-nav-item {
    width: 8px;
    height: 8px;
    text-indent: 8px;
    margin: 0 2px;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #fff;
    @include pie-border-radius(8px);
    @include transition(all .5s);
    &:hover {
      background: rgba(#fff, .6);
    }
    &.active {
      background: #fff;
    }
  }

  @media (min-width: 960px) {
    position: relative;

    .slide {
      height: 339px;
    }

    .slide-img-wrp {
      display: none;
    }

    .slide-content {
      @include content-wrapper;
      .tablet & {
        padding: 0 30px;
      }
      position: relative;
    }
  }

  @media (max-width: 1000px) {
    .slide-content {
      padding: 0 3%;
    }
    .slide-text {
      width: 64%;
      font-size: 42px;
    }
    .slide-btn {
      font-size: 16px;
      padding: 8px 24px;
    }
  }

  @media (max-width: 760px) {
    .slide-text {
      width: 58%;
      font-size: 32px;
      margin-bottom: 10px;
    }
    .slide-btn {
      font-size: 14px;
      padding: 6px 18px;
    }
  }

  @media (max-width: 640px) {
    .slide-btn,
    .slider-next,
    .slider-prev {
      display: none;
    }
    .slider-nav {
      padding: 10px 0;
    }
    .slide-content {
      position: absolute !important;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include box-sizing(border-box);
      @include pie-gradient(#000 0, transparent 70%, left bottom, absolute);
    }
    .slide-text {
      color: #fff;
      a {
        color: #fff;
      }
      font-size: 24px;
      margin: 40px 0;
      position: absolute;
      bottom: 0;
    }
  }

  @media (max-width: 400px) {
    .slider-nav {
      padding: 5px 0;
    }
    .slide-text {
      font-size: 16px;
      margin: 30px 0;
    }
  }

}

.fluid-video {
  position: relative;
  height: 0;
  padding-bottom: 45%;

  z-index: 0;
  padding-top: 30px;
  overflow: hidden;
  iframe,
  object,
  embed {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
