
// ----------------------------------------------
//           Responsive table
// ----------------------------------------------

table {
  width: 100%;
  tr.even {
    background: #f8f8f8;
  }
  th {
    background-color: $mgreen;
    color: #fff;
    font-weight: normal;
    padding: 15px 5px;
  }
  td {
    padding: 15px 5px;
    text-align: center;
  }

  &.large-only { display: table; }

  @media #{$mobile} {
    &.large-only { display: none; }
  }
}

.stacktable.small-only {
  display: none;
  @media #{$mobile} {
    display: block;
  }
  .table-row {
    border-bottom: 1px solid $lightgrayborder;
    padding: 12px 0;
    &:first-child {
      border-top: 1px solid $lightgrayborder;
    }
  }
  .table-cell {
    padding: 4px 0;
    @extend .clearfix;
  }
  .st-key {
    color: $mgreen;
    font-weight: bold;
  }
  .st-key,
  .st-val {
    @include layout(50%);
  }
}
