// Tab's Styling

.main-tabs-container{
  // border: 0.5px solid lightgray;
}

.main-tabs-nav {
  @extend .clearfix;
}

.main-tabs-header, .main-tab-subheader, .main-tab-subheader-small {
    color: $mgreen;
}

.main-tab-subheader {
  margin: 10px 0;
  font-size: 18px;
}

.main-tab-subheader-small {
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: underline;
}

.main-tab-text {
  &.last {
    margin-bottom: 20px;
  }
}

.main-tab {
  background-color: lightgray;
  border-right: solid 1px white;
  width: 156px;
  padding: 13px 14px;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  @include layout(1/3);
  @include box-sizing(border-box);
  &.last {
    border: none;
  }
  @include transition(background-color .3s);
  &:hover {
    background-color: lighten(lightgray,5%);
  }
  &.resp-tab-active {
    background-color: #9d9d9d;
  }
}

h2.resp-accordion {
  @include transition(all .3s);
  &:hover {
    background-color: lighten(lightgray,5%);
  }
  &.active {
    background-color: #9d9d9d;
  }

  &:not(:last-of-type) {
    margin-bottom: 3px;
  }

}


.main-tab-content {
  border: 1px solid lightgray;
  border-top: none;
  img {
    width: 100%;
  }
}
