
// ----------------------------------------------
//               Video Gallert
// ----------------------------------------------

// Inherits a lot of styles from the list component
#video-gallery {
  .list-item {
    padding: 6px;
    border: 1px solid $lightgrayborder;
    margin: 20px 0;
    .item-title span {
      font-size: 13px;
      color: $mtextgray;
      @include transition(color .4s);
    }
  }
}
