
@@include('./components/head.html', {
  "title": "",
  "ref": ""
})

<body>

  <div id="page">

    <!-- Main Header -->
    @@include('./components/header.html')

    <!-- Main Navigation -->
    @@include('./components/nav-main.html')

    <!-- Slider -->
    @@include('./components/slider.html')

    <!-- Featured Section -->
    @@include('./components/featured.html')

    <!-- Main Content  -->
    @@include('./components/main-front.html')

    <!-- Main Footer -->
    @@include('./components/footer.html')

    <!-- Mobile Side Menu  -->
    @@include('./components/mobile-menu.html')

    <!-- Footer scripts -->
    @@include('./components/footer-scripts.html', {
      "ref": ""
    })

  </div>

</body>
</html>
