﻿ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
    position: relative;

}

.resp-tab-content {
    display: none;
}

.resp-tab-active {
}

.main-tab.resp-tab-active {
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
}

h2.resp-accordion {
    font-size: 13px;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

.resp-arrow {
    width: 14px;
    height: 8px;
    background: url('../../images/tab-arrow-down.png')  no-repeat;
    position: absolute;
    right: 18px;
    top: 20px;
}

h2.resp-tab-active span.resp-arrow {
    width: 14px;
    height: 8px;
    background: url('../../images/tab-arrow-up.png') no-repeat ;
    position: absolute;
}

/*-----------Accordion styles-----------*/
h2.resp-accordion.resp-tab-active {
    background: #9d9d9d;
}
h2.resp-accordion.resp-tab-active:hover {
    background: #b1b1b1;
}
.resp-easy-accordion  h2.resp-accordion {
    position: relative;
    display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

h2.resp-accordion {
    background: #d6d6d6;
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    color: white;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    /*border-top: 1px solid #c1c1c1 !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 640px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
